[2021-03-02 15:16] ArcerionDev commented on #574
@NX721 can't duplicate. Where did you teleport?

[2021-03-02 15:42] PixelMMO opened #577 "[BUG] Epic arena broken"
***Description***:
when i try to enter the epic arena it shows the animation but doesnt teleport me (it still doesnt work when i press fix battle crash)

***Replication***:
just try to enter the epic arena

***Additional Errors***:
morphing still crashes even if you press fix morph crash

[2021-03-02 15:43] PatheticMustan commented on #553
After looking into it, it looks like converting Chrome extensions for Safari requires Xcode, and I'm not sure any of us have a Mac. Closing for now, unless somebody wants to volunteer to convert them, we will not support Safari.

[2021-03-02 15:43] #553 closed

[2021-03-02 15:44] PatheticMustan commented on #576
Yeah, I know. Last time it was DMCA'd, so what if we don't include screenshots of Prodigy, or the name "Prodigy"? What about "PHEx"?

[2021-03-02 15:44] PixelMMO commented on #566
you can set it to infinity you just have to add 500 nines

[2021-03-02 15:46] PatheticMustan commented on #566
That's not the issue here, changing your level beyond 100 has unexpected side effects.

[2021-03-02 15:48] PatheticMustan commented on #318
If you look in the gamemin, assignRandomSpells seems to get two arrays, (a min and max possibly?) and somehow picks a random from there

all we need to do is repurpose it

[2021-03-02 15:48] PixelMMO opened #578 "[HR] titan kill"
**Describe the hack in 5 words or less:**
kills titan instantly

**Have you made sure this hack isn't available yet?* (Yes/No)**
yes i have made sure

[2021-03-02 15:55] BoredFishRE commented on #578
No sorry. It'll break stuff, and you can just use insta kill in the cheat menu.

[2021-03-02 15:56] #578 closed

[2021-03-02 15:57] PatheticMustan commented on #559
pm2

[2021-03-02 15:58] PatheticMustan commented on #559
Who said I'm using chrome ;))

[2021-03-02 16:17] irhrhd commented on #577
If you have your epic on your team it wont work for that epic

[2021-03-02 16:18] dimitricooper commented on #576
I agree.

[2021-03-02 16:18] ArcerionDev commented on #577
can you send a screenshot of the error @PixelMMO

[2021-03-02 16:19] PixelMMO commented on #577
im on a chromebook idk how to send a screen shot

[2021-03-02 16:21] irhrhd opened #579 "[BUG] Battle Team Glitch"
***Description***:
When i try to change my battle team is says “You’ve Been inactive too long sign in again”
![EE8E31AE-7046-4555-9089-EEF594790FA9](https://user-images.githubusercontent.com/62729648/109679121-25ef0480-7b30-11eb-99bb-6fcd128b7d13.png)

***Replication***:

***Images***:

***Additional Errors***:

[2021-03-02 16:21] ArcerionDev commented on #579
does this happen every single time?

[2021-03-02 16:22] dimitricooper commented on #572
![Screen Shot 2021-03-02 at 8 21 40 AM](https://user-images.githubusercontent.com/66804076/109679320-533bb280-7b30-11eb-984c-533d7f43d547.png)
That is the console when the error happens. Looks like there are a few errors.

[2021-03-02 16:22] irhrhd commented on #579
Yes

[2021-03-02 16:22] PixelMMO commented on #577
![image](https://user-images.githubusercontent.com/79719521/109679449-95bdb900-7b49-11eb-8e99-555657662b7c.png)

[2021-03-02 16:23] irhrhd commented on #579
Also Can i join The team on prodigy hacking i cant use discord but i can still help right?

[2021-03-02 16:23] ArcerionDev commented on #579
please export and send your console here

[2021-03-02 16:23] PixelMMO commented on #577
when i press start it shows the animation but it doesnt work

[2021-03-02 16:23] ArcerionDev commented on #572
uh

[2021-03-02 16:23] ArcerionDev commented on #572
please export the console and send it here

[2021-03-02 16:23] irhrhd commented on #577
Is luma on your battle team?

[2021-03-02 16:24] PixelMMO commented on #577
yes

[2021-03-02 16:24] ArcerionDev commented on #572
export by right clicking, and clicking `Save As...`

[2021-03-02 16:24] PixelMMO commented on #577
![image](https://user-images.githubusercontent.com/79719521/109679774-e33a2600-7b49-11eb-8714-e7fe1825879c.png)

[2021-03-02 16:25] irhrhd commented on #577
Remove luma then try you cant have them on your team its a glitch

[2021-03-02 16:25] ArcerionDev commented on #577
Ctrl + Shift +
![image](https://user-images.githubusercontent.com/60945964/109679906-fe0c9a80-7b49-11eb-84cf-24bd82c2295a.png)

[2021-03-02 16:25] PixelMMO commented on #577
its still not working even if i dont have luma on my team

[2021-03-02 16:26] irhrhd commented on #577
Remove her as a buddie too

[2021-03-02 16:27] ArcerionDev commented on #577
that doesn't do anything

[2021-03-02 16:27] PixelMMO commented on #577
still not working

[2021-03-02 16:27] ArcerionDev commented on #577
send your console please

[2021-03-02 16:27] irhrhd commented on #577
Hmm idk then

[2021-03-02 16:27] ArcerionDev commented on #577
![image](https://user-images.githubusercontent.com/60945964/109680185-4461f980-7b4a-11eb-9b38-87103e639907.png)

[2021-03-02 16:27] PixelMMO commented on #577
its also not working for my friend and hes trying it with tidus

[2021-03-02 16:28] ArcerionDev commented on #577
please send a screenshot of your console

[2021-03-02 16:28] PixelMMO commented on #577
![image](https://user-images.githubusercontent.com/79719521/109680306-622f5e80-7b4a-11eb-91b1-2d1d50601d7c.png)

[2021-03-02 16:28] irhrhd commented on #577
Hmm thats wierd It happened to me too but i just removed them then it fixed

[2021-03-02 16:29] ArcerionDev commented on #577
alright this is odd, I'll try to duplicate

[2021-03-02 16:29] PixelMMO commented on #577
the swirl animation shows but it doesnt teleport me

[2021-03-02 16:30] ArcerionDev commented on #577
confirmed

[2021-03-02 16:31] PixelMMO commented on #577
?

[2021-03-02 16:31] PixelMMO commented on #577
ok

[2021-03-02 16:31] ArcerionDev commented on #577
will work on asap

[2021-03-02 16:31] PixelMMO commented on #577
ty

[2021-03-02 16:32] irhrhd commented on #577
![4820CC40-5D5E-4B1A-87C2-9A3D5B8AA675](https://user-images.githubusercontent.com/62729648/109680883-c8f44e00-7b31-11eb-8127-e0c359f2ab88.png)
![C1A3E531-2101-4A83-9311-BEB29B8A602D](https://user-images.githubusercontent.com/62729648/109680899-cbef3e80-7b31-11eb-95fd-d10ca7c9e86c.png)
![A5C99FEB-8E70-44D3-8144-EC8984E18752](https://user-images.githubusercontent.com/62729648/109680907-cdb90200-7b31

[2021-03-02 16:33] PixelMMO commented on #577
i put everything to how you have it and is still not working

[2021-03-02 16:34] ArcerionDev commented on #577
yeah I see, we'll try and solve this soon

[2021-03-02 16:34] PixelMMO commented on #577
thank you

[2021-03-02 16:35] dimitricooper opened #580 "Unable to use hack during a math problem. Feature Request"
**Is your feature request related to a problem? Please describe.**
I get pretty frustrated when I cannot use the hacks during a math problem.
**Describe the solution you'd like**
I just want to be able to use the hacks during a math problem.
**Describe alternatives you've considered**
I can sort of see the menu during a question but I can't click on anything.
**Additional context**
Here is what it

[2021-03-02 16:36] #580 closed

[2021-03-02 16:36] ArcerionDev commented on #580
already reported

[2021-03-02 16:37] irhrhd commented on #577
It probably works for me because there was an old prodigy hacking that was made last year that i joined in march of last year but im pretty sure it was taken down so yeah and the hacks on this were used last year that was the last time this account was hacked

[2021-03-02 17:10] TheSchmede commented on #572
oh

[2021-03-02 17:14] TheSchmede commented on #572
[play.prodigygame.com-1614705221200.log](https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/files/6070489/play.prodigygame.com-1614705221200.log)

[2021-03-02 19:09] PatheticMustan commented on #577
Ah, @ArcerionDev could you explain the problem

[2021-03-02 19:09] ArcerionDev commented on #577
I don't *know* the problem

[2021-03-02 19:19] PixelMMO opened #582 "[BUG] Teleportation Errors"
***Description***:
when i try to teleport to places using the interactive teleport map some places everything shows up except the background is beige

***Replication***:
teleport to some places for example i did D4 in lamplight town

***Images***:
![image](https://user-images.githubusercontent.com/79719521/109702390-2b654280-7b62-11eb-9c0f-eca41c40eb0a.png)
![image](https://user-images.githubuserc

[2021-03-02 19:20] ArcerionDev commented on #582
those areas are deleted from the game

[2021-03-02 19:20] PixelMMO commented on #582
oh

[2021-03-02 19:20] MelonMan101 opened #583 "[BUG] Error's on startup, tested multiple times, repeatable."
***Description***:
"Uncaught (in promise) TypeError: Failed to fetch"

(async () => {
	const debug = false;

	const redirectorDomain = debug ? "http://localhost:1337" : "https://prodigyhacking.ml"

	if (!window.abortion) {
		// only run inject script once on the page, even if game.min is requested multiple times
		window.abortion = "Hey, we've injected the thingy";

		// check for outdated plugin

[2021-03-02 19:20] PixelMMO commented on #582
then why not remove them?

[2021-03-02 19:23] PixelMMO commented on #563
@ArcerionDev @PatheticMustan i found out why it doesnt work

[2021-03-02 19:24] ArcerionDev commented on #563
???

[2021-03-02 19:24] ArcerionDev commented on #582
because they still count as valid areas, the assets are just deleted

[2021-03-02 19:24] PixelMMO commented on #563
I looked at the code in the console after pressing "fix morph crash" and this was in the code (idk how to code but i think red means theres a problem)

[2021-03-02 19:24] PixelMMO commented on #563
![image](https://user-images.githubusercontent.com/79719521/109703068-0b824e80-7b63-11eb-97d3-ca3b7ff22dc1.png)

[2021-03-02 19:25] ArcerionDev commented on #583
what happens when you visit https://prodigyhacking.ml/version?

[2021-03-02 19:25] PixelMMO commented on #563
should that be there?

[2021-03-02 19:26] ArcerionDev commented on #563
no but there is an issue, give me a sec

[2021-03-02 19:26] PatheticMustan commented on #563
Pain, I'm still at school and can't view any of the images

[2021-03-02 19:26] ArcerionDev commented on #563
why can't you view the images...?

[2021-03-02 19:27] irhrhd commented on #563
Hey guys can i join the hacking group i know how to code now

[2021-03-02 19:27] PixelMMO commented on #563
im not part of the group so dont ask me

[2021-03-02 19:28] irhrhd commented on #563
I did the whole first 2 lessons on free code camp and i learndhow

[2021-03-02 19:28] ArcerionDev commented on #563
you should join the discord, if you can't access discord, install a vpn

[2021-03-02 19:29] PixelMMO commented on #563
![image](https://user-images.githubusercontent.com/79719521/109703569-9d8a5700-7b63-11eb-88b4-b9829dc2f331.png)
whats happening here?

[2021-03-02 19:29] ArcerionDev commented on #563
it just means that prodigy doesn't have a registered asset for it

[2021-03-02 19:30] PixelMMO commented on #563
ok

[2021-03-02 19:30] irhrhd commented on #563
Arcy can you guys add the live chat back to prodigyhacking so then i can talk to you also i cant get a vpn im on a schoo ipad and can’t download anything so yeah

[2021-03-02 19:32] irhrhd commented on #563
It says the version is 2.0.0

[2021-03-02 19:32] PixelMMO commented on #563
![image](https://user-images.githubusercontent.com/79719521/109703954-11c4fa80-7b64-11eb-902b-a9274114504e.png)
is this a problem?

[2021-03-02 19:33] irhrhd commented on #563
Yeah

[2021-03-02 19:34] PixelMMO commented on #563
ok because it wasnt working for me in PVP

[2021-03-02 19:36] ArcerionDev commented on #563
how are you using the hacks then...

[2021-03-02 19:36] ArcerionDev commented on #563
dw about it it's a common error

[2021-03-02 19:36] irhrhd commented on #563
Oh uh my online friends

[2021-03-02 19:37] irhrhd commented on #563
I just want to code

[2021-03-02 19:37] irhrhd commented on #563
For you guys

[2021-03-02 19:38] ArcerionDev commented on #563
coding on an iPad isn't really possible for us, we don't need more hacks, we really just need people to maintain the cheat menu, and you can't do that on an iPad

[2021-03-02 19:39] irhrhd commented on #563
Oh 😔 sorry

[2021-03-02 19:40] irhrhd commented on #563
var denom = [
  { name: "ONE HUNDRED", val: 100.0 },
  { name: "TWENTY", val: 20.0 },
  { name: "TEN", val: 10.0 },
  { name: "FIVE", val: 5.0 },
  { name: "ONE", val: 1.0 },
  { name: "QUARTER", val: 0.25 },
  { name: "DIME", val: 0.1 },
  { name: "NICKEL", val: 0.05 },
  { name: "PENNY", val: 0.01 }
];

function checkCashRegister(price, cash, cid) {
  var output = { status: null, change: [] };

[2021-03-02 19:40] irhrhd commented on #563
Cash register

[2021-03-02 19:40] PixelMMO commented on #563
what dat for?

[2021-03-02 19:40] ArcerionDev commented on #563
ok you copied and pasted from a freecodecamp course

[2021-03-02 19:40] irhrhd commented on #563
I made that on freecode

[2021-03-02 19:41] PixelMMO commented on #563
is it for prodigy?

[2021-03-02 19:41] irhrhd commented on #563
Its 1 of the tests

[2021-03-02 19:41] PixelMMO commented on #563
all ik how to code is scratch

[2021-03-02 19:44] MelonMan101 commented on #583
2.0.0

[2021-03-02 19:45] PixelMMO commented on #583
reload the extension in chrome://extensions and it should work

[2021-03-02 19:45] PixelMMO commented on #583
it was happening to me last week and i did that and it fixed

[2021-03-02 19:47] MelonMan101 commented on #583
still didnt work ^

[2021-03-02 19:47] PixelMMO commented on #583
i can open prodigy just fine

[2021-03-02 19:49] MelonMan101 commented on #583
i have the same error each time i reload and try, i have no clue why.

[2021-03-02 19:49] PixelMMO commented on #583
chrome://extensions/ press reload on the prodigy math game hacking extension

[2021-03-02 19:50] PixelMMO commented on #583
send screenshot of the loading page and send another of you extensions in chrome://extensions

[2021-03-02 19:50] MelonMan101 commented on #583
Ive already done this like 7 times.

[2021-03-02 19:51] PixelMMO commented on #583
or just the prodigy math game hacking extension

[2021-03-02 19:51] MelonMan101 commented on #583
![image](https://user-images.githubusercontent.com/60020494/109706235-b2b4b500-7b66-11eb-94fc-b488f02bf2e2.png)
![image](https://user-images.githubusercontent.com/60020494/109706248-b811ff80-7b66-11eb-9d59-a53b18a6e880.png)

[2021-03-02 19:51] irhrhd commented on #583
Hmm okay okay is the code you submited whats in the console

[2021-03-02 19:51] MelonMan101 commented on #583
duh

[2021-03-02 19:51] PixelMMO commented on #583
delete the extension and reinstall it

[2021-03-02 19:51] irhrhd commented on #583
Wow dont be rude

[2021-03-02 19:51] MelonMan101 commented on #583
already done that 3 times

[2021-03-02 19:52] PixelMMO commented on #583
WELL THEN ITS YOUR PROBLEM

[2021-03-02 19:52] MelonMan101 commented on #583
wasnt trying to be

[2021-03-02 19:52] irhrhd commented on #583
Lets see

[2021-03-02 19:52] MelonMan101 commented on #583
not helping

[2021-03-02 19:52] PixelMMO commented on #583
shut up

[2021-03-02 19:53] PixelMMO commented on #583
![image](https://user-images.githubusercontent.com/79719521/109706492-058e6c80-7b67-11eb-9a35-53da9a390fca.png)
works for me

[2021-03-02 19:53] MelonMan101 commented on #583
if you aren't going to help leave.

[2021-03-02 19:53] irhrhd commented on #583
Just stop arguing jeez

[2021-03-02 19:54] PixelMMO commented on #583
![image](https://user-images.githubusercontent.com/79719521/109706568-1d65f080-7b67-11eb-828e-66d6e9e23692.png)

[2021-03-02 19:54] irhrhd commented on #583
Try making a new account

[2021-03-02 20:07] PixelMMO commented on #579
@irhrhd answer arc

[2021-03-02 20:14] irhrhd commented on #579
I cant because my friend did it for me

[2021-03-02 20:26] noa94491 opened #585 "[BUG] PRODIGY NOT LOADING"
***Description***:
I installed the extension and now prodigy will not load. Prodigy has been loading for an hour. I tried to reinstall the extension and it didn't work. When the extension was uninstalled prodigy worked fine! Please help me.

***Images***:
![Clipped_Loading_Screen](https://user-images.githubusercontent.com/79106666/109710394-9bc49180-7b6b-11eb-9c22-2290ae7690bc.png)

***Additional

[2021-03-02 21:12] ArcerionDev commented on #579
then I can't help you

[2021-03-02 21:20] TheSchmede commented on #585
What happens when you go here?
https://prodigyhacking.ml/version

[2021-03-02 21:41] noa94491 commented on #585
I restarted my router and it works now.

[2021-03-02 21:42] TheSchmede commented on #585
Awesome. Can you close the error?

[2021-03-02 21:44] TheSchmede commented on #585
@ArcerionDev Can you make me a contributer? I know how to help people with the hack.

[2021-03-02 21:51] NX721 commented on #579
What is the discord invite link again my friend wants to join

[2021-03-02 21:52] NX721 commented on #574
@ArcerionDev  I went to Shiverchill Mountains

[2021-03-02 21:53] NX721 commented on #574
Oh and B2 to be exact

[2021-03-02 22:07] #585 closed

[2021-03-03 00:00] PatheticMustan commented on #585
we'll think about making a group for github helpers.

[2021-03-03 00:02] PatheticMustan commented on #579
discord.gg/XQDfbfq

[2021-03-03 00:05] PatheticMustan commented on #583
Ah! Sorry for pestering you one more time, but could you try uninstalling, and installing a fresh download of the plugin? Just need to be absolutely certain.

[2021-03-03 00:07] NameIsA opened #587 "I am making super short Prodigy hacking tutorials on YouTube"
Here's the link: https://www.youtube.com/watch?v=AZzgQRV6O4k

I plan to make more videos about Prodigy, too. I'll probably make some more hacking tutorials as well.

I feel like the short video length helps because all the top results on YT are currently super long to increase ad revenue, but that isn't the best for people trying to learn.

[2021-03-03 00:34] irhrhd commented on #587
Whats the name of it? Just tell me please so i can try to search it up

[2021-03-03 00:35] irhrhd commented on #587
Its blocked so ima search it up to try to bypass theres hack i know on how to bypass

[2021-03-03 00:38] NameIsA commented on #587
https://www.youtube.com/watch?v=AZzgQRV6O4k

[2021-03-03 00:38] NameIsA commented on #587
o ok

btw i recommend a proxy like censordodge, hide.me/en/proxy, etc.

[2021-03-03 00:39] irhrhd commented on #587
All the proxys are blocked too ripppppp

[2021-03-03 00:39] NameIsA commented on #587
https://www.censordodge.com/ ?

[2021-03-03 00:40] irhrhd commented on #587
Yep ripppp

[2021-03-03 00:41] NameIsA commented on #587
https://yeet-was-here.herokuapp.com/ wait try that one

i know a script kiddie who copied it from a github repository and called it his proxy but its so dead that i doubt any security software knows it yet

[2021-03-03 00:42] #582 closed

[2021-03-03 00:42] irhrhd commented on #587
Wholy S*** it works

[2021-03-03 00:43] irhrhd commented on #587
Thanks

[2021-03-03 00:44] ArcerionDev commented on #587
@NameIsA yknow you need to give us credit unless you want it dmcad

[2021-03-03 00:44] ArcerionDev commented on #587
https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/tree/master/YOUTUBE_ATTRIBUTION.md

[2021-03-03 00:46] NameIsA commented on #587
okokok

[2021-03-03 00:49] NameIsA commented on #587
ok i added it to the description honestly though the first thing in the video it says is to go to this repository on github lol

[2021-03-03 00:57] NameIsA commented on #587
yw

[2021-03-03 00:58] ArcerionDev commented on #587
***rules are rules***

[2021-03-03 01:03] irhrhd commented on #587
What the name of ur channel it just shows a monkey with spyglass when i try to go to the video

[2021-03-03 01:04] ArcerionDev commented on #587
oh yay it was taken down

[2021-03-03 01:04] ArcerionDev commented on #587
wait bruh what

[2021-03-03 01:04] NameIsA commented on #587
my channel's C_On_YT https://www.youtube.com/channel/UCOyliCBOGXoeWsxx6XjQ_Kw/about

[2021-03-03 01:10] irhrhd commented on #587
Do you have any ded proxys

[2021-03-03 01:11] NameIsA commented on #587
https://tonernews.com/glype/

[2021-03-03 01:12] irhrhd commented on #587
Blocked also i cant get apps

[2021-03-03 01:13] NameIsA commented on #587
o damn okay gimme a moment

[2021-03-03 01:15] NameIsA commented on #587
ok idrk

[2021-03-03 01:15] irhrhd commented on #587
I might be able to get apps of someone downloaded them with my student apple id  because i can get apps that have already been gotten with my appleid but i cant get others

[2021-03-03 01:16] NameIsA commented on #587
could you ask your school if you're allowed to install a python coding app because you want to code i would assume they'd be okie with it

[2021-03-03 01:18] irhrhd commented on #587
Nope they wont it cost money plus they dont really listen to the students

[2021-03-03 01:18] irhrhd commented on #587
I mean my idea would work but i dont have a separate apple device

[2021-03-03 01:18] NameIsA commented on #587
oh damnit i didnt know it costs money

aaa its very hard to code on an ipad rip

[2021-03-03 01:21] irhrhd commented on #587
![54098130-4E8F-4480-8000-25C17B8A2F83](https://user-images.githubusercontent.com/62729648/109737852-a25b0500-7b7b-11eb-9cc0-6682b1b6c165.jpeg)

[2021-03-03 01:21] NameIsA commented on #587
ah okie i see

[2021-03-03 01:23] irhrhd commented on #587
Yeah if anyone had a apple device then they could do it but no body wants to help prob

[2021-03-03 01:23] NameIsA commented on #583
they already did that, thats why they started telling eachother to shut up

[2021-03-03 01:23] irhrhd commented on #587
Plus idk if i culd trust anyone with my school apleid

[2021-03-03 01:24] irhrhd commented on #587
Or someone could just code to get past it but idk

[2021-03-03 01:26] PatheticMustan commented on #587
sad

[2021-03-03 01:26] MelonMan101 commented on #583
I have tried anything, im not the only one who has had the problem
a few friends of mine also tried and got the error.

[2021-03-03 01:26] irhrhd commented on #587
Yes very very sad

[2021-03-03 01:27] irhrhd commented on #587
@NameIsA you there still

[2021-03-03 01:28] NameIsA commented on #587
back

[2021-03-03 01:28] irhrhd commented on #587
Okay im very very sad

[2021-03-03 01:31] irhrhd commented on #587
Because i cant learn how to code or get apps

[2021-03-03 01:32] irhrhd commented on #587
And i know everyone is ignoring me now but whatever

[2021-03-03 01:47] NameIsA commented on #587
https://cdn.discordapp.com/attachments/723730285539360860/816400531021889576/b54gmts71mk61.gif

[2021-03-03 01:53] NameIsA opened #588 "Automatic fix battle crash on #318"
As I'm not a collaborator, I'm just going to add some research for #318 that I've done...

[2021-03-03 01:56] irhrhd commented on #587
You cow rolled me

[2021-03-03 01:58] irhrhd commented on #587
It says 404 when i try to use discord on the proxy

[2021-03-03 01:59] NameIsA commented on #587
o wth

[2021-03-03 01:59] irhrhd commented on #587
Yeah

[2021-03-03 02:00] irhrhd commented on #587
But the cdn discord app thing worked

[2021-03-03 02:03] NameIsA commented on #588
Can't find the array of spells, but upon load, loop through all the player's pets and find any pets with spells that are not in the array of spells. If any are found, replace them with spell ID 1.

[2021-03-03 02:44] PatheticMustan commented on #583
ah, can you screenshot what browser you're on, and what extensions you have installed? Also, do you have a school filter or anything of that sort..?

[2021-03-03 02:53] PatheticMustan commented on #587
ty @NameIsA for the video

[2021-03-03 02:53] #587 closed

[2021-03-03 03:03] irhrhd commented on #587
Anyone want to help me make a proxie?

[2021-03-03 03:11] PatheticMustan commented on #588
@NameIsA, you might be interested in the prodigy source code. Do you still have Discord?

[2021-03-03 03:15] PatheticMustan commented on #587
no

[2021-03-03 03:18] NameIsA commented on #588
yes

I will hack your memes#8295

[2021-03-03 03:21] irhrhd commented on #588
@NameIsA Do you have any other proxys because i want to be able to join the
discord

[2021-03-03 03:22] NameIsA commented on #588
no but i might install censordodge on a heroku site later today and send it here

[2021-03-03 03:26] irhrhd commented on #588
Whats that mean?

[2021-03-03 03:27] NameIsA commented on #588
heroku = a way to put websites on a server but they're pay-to-use if you have more than like 10 users lmfao

censordodge = a proxy that you can install on your websites if you want to

[2021-03-03 03:29] irhrhd commented on #588
Im literally screaming cause then i can usw discord

[2021-03-03 03:56] NameIsA commented on #576
yes

[2021-03-03 03:57] achen6196 commented on #583
This happened to me before

[2021-03-03 06:14] achen6196 commented on #575
That happened to me before but it don't because I don't really answer any question because I click win battle most of the time when I battle

[2021-03-03 06:33] NX721 commented on #579
Thx

[2021-03-03 14:26] MelonMan101 commented on #583
I am on stock google, my school doesnt have a single restriction on prodigy or anything prodigy related, just youtube and coolmath.

[2021-03-03 14:28] achen6196 commented on #566
So y'all gonna fix the levels reverting back to lvl 100?

[2021-03-03 14:30] MelonMan101 commented on #566
give them time, they will figure something out.

[2021-03-03 14:36] NameIsA commented on #583
so do this:

go to downloads delete the extension.zip/phex.zip file

remove the extension from chrome

install [CCleaner](https://www.ccleaner.com/) and make sure to tell it not to install AVG because AVG is like EA but antivirus edition

tell CCleaner to clean chrome cache

[install phex again](https://www.youtube.com/watch?v=AZzgQRV6O4k)

see if it works?

[2021-03-03 14:36] PixelMMO commented on #577
the problem is that when i try to teleport to the epic arena the animation shows but it never teleports you to the arena

[2021-03-03 14:37] PixelMMO commented on #577
@PatheticMustan

[2021-03-03 14:43] ArcerionDev commented on #587
please keep all issue discussion ON TOPIC

[2021-03-03 14:43] ArcerionDev commented on #587
I'm talking to you @irhrhd

[2021-03-03 14:51] MelonMan101 commented on #583
Did this, didnt work, also just tried and also didnt work.

[2021-03-03 14:56] NameIsA commented on #583
ah okay hmm this is very confusing

[2021-03-03 14:57] ArcerionDev commented on #583
try installing [this](https://chrome.google.com/webstore/detail/setupvpn-lifetime-free-vp/oofgbpoabipfcfjapgnbbjjaenockbdp?hl=en-US).

[2021-03-03 14:58] NameIsA commented on #583
what internet provider do you use

install setupvpn like arc said

go to chrome://policies and screenshot the result

tell your friends to do the same so we can compare the results

[2021-03-03 14:59] ArcerionDev commented on #583
that could be confidential

[2021-03-03 15:00] NameIsA commented on #577
will try to work on this soon

[2021-03-03 15:01] NameIsA commented on #583
blackout your school part of the policies then

idrk how an ISP is confidential every website knows your ISP its about as confidential as an IP address

[2021-03-03 15:03] MelonMan101 commented on #583
uhhhh, is it normal for my ip to *not* be there?

[2021-03-03 15:04] MelonMan101 commented on #583
![image](https://user-images.githubusercontent.com/60020494/109825525-e72c7d80-7c07-11eb-80d4-4bccb22a6a7d.png)

[2021-03-03 15:05] NameIsA commented on #583
your IP wont be with your ISP or chrome://policies, but chrome://policies might reveal your school (censor it using an image editor) and some ISPs are more common in some states so up to you

[2021-03-03 15:05] ArcerionDev commented on #583
it looks ok, nothing restricted

[2021-03-03 15:05] NameIsA commented on #583
okie ty for the chrome://policies nothing is restricted i dont need your ISP because that answers my question

[2021-03-03 15:05] MelonMan101 commented on #583
also, its chrome://policy, not policies.

[2021-03-03 15:06] ArcerionDev commented on #583
whatever

[2021-03-03 15:06] NameIsA commented on #583
oh sorry i forgot what its called 😅

[2021-03-03 15:06] MelonMan101 commented on #583
rad B)

[2021-03-03 15:06] ArcerionDev commented on #583
I had a case where adblock prevented it from loading

[2021-03-03 15:07] NameIsA commented on #583
install setupvpn like arc said to do, then follow my instructions to run the script... also thats true ("i had a case where adblock prevented it from loading") but i also recommend disabling anything like HTTPS Everywhere and all that which would modify requests

[2021-03-03 15:09] NameIsA commented on #588
hi gm im gonna do that now but i might gtg for school soon if so i'll do it after school @irhrhd

[2021-03-03 15:10] PixelMMO commented on #577
ty

[2021-03-03 15:12] PatheticMustan commented on #566
no, it's not a bug, it's a feature ;))

[2021-03-03 15:12] ArcerionDev commented on #583
@MelonMan101 can you export your console and send the file here pls

[2021-03-03 15:13] MelonMan101 commented on #583
how does one do that

[2021-03-03 15:14] ArcerionDev commented on #583
oh

[2021-03-03 15:14] ArcerionDev commented on #583
open console
right click
click "save as..."
and send the resulting file

[2021-03-03 15:18] PatheticMustan commented on #575
ah, are there any  errors in console, or is it all just handy dandy

[2021-03-03 15:19] NameIsA commented on #583
no, it isnt. this is a friendly community and if someone has an issue with an extension, they can ask. if you arent interested in helping theme, you dont need to say that.

[2021-03-03 15:20] PatheticMustan commented on #583
uh, I'm not sure if it's an issue with fetching, per se

clearly, they can access prodigyhacking.ml.version

I'm not sure why they can't access game.min, unless they have a school filter that checks for "game"...?

[2021-03-03 15:20] PatheticMustan commented on #583
why

[2021-03-03 15:21] PatheticMustan commented on #583
this is an actual issue, with multiple confirmers, we should probably try to get as much info from the community as possible

[2021-03-03 15:21] ArcerionDev commented on #583
bruh you should read it
these skids are getting a bit too mad at each other

[2021-03-03 15:22] NameIsA commented on #583
or the school blocked prodigy hacks? i mean the tech admninistrator could've been looking at logs and saw all these requests to "prodigyhacking.ml" and thought it was sus and blocked it out of sus

[2021-03-03 15:22] NameIsA commented on #583
the argument is old and calmed down tho

[2021-03-03 15:23] NameIsA commented on #583
i seriously feel like this is something the school did

[2021-03-03 15:24] NameIsA commented on #583
@MelonMan101 what extensions do you use

[2021-03-03 15:24] ArcerionDev commented on #583
^^

[2021-03-03 15:29] MelonMan101 commented on #583
So, for the 70 somethingth time of restarting prodigy, getting console logs, it worked, if it errors again i will just open a new issue.

[2021-03-03 15:29] #583 closed

[2021-03-03 15:29] NameIsA commented on #583
i think it would be nice to find the cause of this still

[2021-03-03 15:33] PatheticMustan commented on #583
I have a feeling the solution has something to do with restarting the browser/clearing cache
Maybe just restarting your computer fixes it...?

[2021-03-03 15:34] ArcerionDev commented on #583
yeah because if the site was down at any point, it caches it as down

[2021-03-03 15:34] NameIsA commented on #583
could be, yes

[2021-03-03 15:35] NameIsA commented on #583
smart

[2021-03-03 15:35] NameIsA commented on #583
actually wait when i told them to use ccleaner to clean any cache on the pc they said they already did that tho

[2021-03-03 15:35] ArcerionDev commented on #583
that's why I'd suggest adding a parameter that just has a vale of Date.now(), that's what I did for wcm to handle updates

[2021-03-03 15:36] PatheticMustan commented on #583
also smart! Will add now

[2021-03-03 15:37] ArcerionDev commented on #583
![image](https://user-images.githubusercontent.com/60945964/109830334-658b1e80-7c0c-11eb-9612-d4826236073e.png)
here's the src

[2021-03-03 15:43] NameIsA commented on #577
ashjksaasjjasad ok time to start

[2021-03-03 15:44] NameIsA commented on #577
free account i dont need
![image](https://user-images.githubusercontent.com/61570792/109831372-3b2d6700-7bf4-11eb-9296-1848d75c3553.png)

[2021-03-03 15:48] PatheticMustan commented on #583
the weirdest part about it is that it's in `disableIntegrity.js`

[2021-03-03 15:49] PatheticMustan commented on #583
that doesn't do anything, if you want to make sure it's not cached, you'll have to do it from phex

[2021-03-03 15:51] PatheticMustan commented on #577
replicated

[2021-03-03 15:58] PatheticMustan commented on #577
line 95652-95663 in 3-18-4

[2021-03-03 15:59] PatheticMustan commented on #577
somewhere it's trying to load assets that don't exist
![image](https://user-images.githubusercontent.com/35382971/109833656-71c4ab00-7c0f-11eb-97cb-6f68d0fa288c.png)

[2021-03-03 16:00] PatheticMustan commented on #577
L95660, 3-18-4
[code]

[2021-03-03 16:04] NameIsA commented on #577
hmm it let me battle

[2021-03-03 16:04] PatheticMustan commented on #577
I think it's trying to fetch a number

[2021-03-03 16:08] irhrhd commented on #588
Okay got it

[2021-03-03 16:10] NameIsA commented on #577
weird it didnt happen in my new account

[2021-03-03 16:14] PixelMMO commented on #579
it doesn't show errors for me, it works perfectly fine when i change my battle team

[2021-03-03 16:16] PatheticMustan commented on #577
pets added with add pet don't work....?
![Uploading image.png…]()

[2021-03-03 16:17] PixelMMO commented on #579
![image](https://user-images.githubusercontent.com/79719521/109836171-e7317b00-7c11-11eb-825d-a4ec6bed5d53.png)
look at the top, what does ***fallow path*** have to do with ***battle team*** errors?

[2021-03-03 16:18] PixelMMO commented on #579
@ArcerionDev

[2021-03-03 16:18] NameIsA commented on #588
installed it but it didnt work i gtg in 20 minutes i'll fix it later
https://censordodgebuthot.herokuapp.com/

[2021-03-03 16:20] NameIsA commented on #577
i used get all pets and it seemed to work

[2021-03-03 16:20] PixelMMO commented on #579
thats **SUS**

[2021-03-03 16:24] PatheticMustan commented on #577
@NameIsA, were you able to enter the epic arena? It seems like the entire thing is deprecated

[2021-03-03 16:25] ArcerionDev commented on #577
maybe get rid of "get all epics" because epics are included in get all pets

[2021-03-03 16:27] PatheticMustan commented on #577
;-; i'm not smart enough to rev how prodigy gets and caches its assets,unless @NameIsA has already opened the battle, I'll close this issue

[2021-03-03 16:31] NameIsA commented on #577
yes i was and i did a battle

[2021-03-03 16:31] PatheticMustan commented on #579
closed until OP bothers to get a computer and screenshot the actual errors

[2021-03-03 16:31] PatheticMustan commented on #577
hell

[2021-03-03 16:42] NameIsA commented on #576
the word "prodigy" itself cant be trademarked or copyrighted so what if we used the PMGH logo and no screenshots and call it "PHEx - Prodigy Exploit"

[2021-03-03 16:43] BoredFishRE commented on #576
It's a lot easier for prodigy to get at us on the google store, than github.

[2021-03-03 16:43] BoredFishRE commented on #576
and having no screenshots will make it look sketchy as all get out

[2021-03-03 17:15] PixelMMO commented on #577
il still not able to open epic arena

[2021-03-03 17:15] PixelMMO commented on #577
im still not able to open the epic arena, i even tried making a new account

[2021-03-03 17:19] NameIsA commented on #577
tf this is weirdddd

[2021-03-03 17:19] NameIsA commented on #576
but there can be screenshots on the github and we can tell them to join the discord to ask for help

[2021-03-03 17:20] irhrhd commented on #577
NameIsA think you can help me make a proxy

[2021-03-03 17:20] NameIsA commented on #576
but we can give them less to complain about

[2021-03-03 17:24] PatheticMustan commented on #576
doesn't matter, we're not expecting downloads from there anyways

[2021-03-03 17:25] PatheticMustan commented on #576
actually, I think it would be really nice if someone could screenshot a bunch of the highlights of the cheat menu, or make a list of cheats.

[2021-03-03 17:26] PixelMMO commented on #577
https://share.vidyard.com/watch/DAPqA1gn1xLHLdyfrTteUo?

[2021-03-03 17:26] PixelMMO commented on #577
thats what happens

[2021-03-03 17:27] PixelMMO commented on #577
https://share.vidyard.com/watch/DAPqA1gn1xLHLdyfrTteUo?

[2021-03-03 17:28] PixelMMO commented on #577
thats what happens when i try to enter the arena

[2021-03-03 17:29] PixelMMO commented on #577
@ArcerionDev watch this
https://share.vidyard.com/watch/DAPqA1gn1xLHLdyfrTteUo?
thats what happens for me

[2021-03-03 17:33] PixelMMO commented on #577
i tried in a public server but it still didnt work

[2021-03-03 17:54] PixelMMO commented on #577
btw about the **morph crash issue** the error is that when the game tries to load the sprite of the morph the game crashes, i found this out by going to harmony island and morphing because harmony island has the sprite for the wizard saved so you cant morph so when you force a morph it doesn't show.

heres a video
https://share.vidyard.com/watch/PGfmwZvi9djF5kEvwWPjn9?

[2021-03-03 18:55] NameIsA commented on #576
^^^

[2021-03-03 18:56] NameIsA commented on #576
yeah we can do that but just no prodigy source

[2021-03-03 18:59] NameIsA commented on #576
![image](https://user-images.githubusercontent.com/61570792/109857369-75f0c880-7c0f-11eb-9554-09a5eaccea3f.png)

[2021-03-03 18:59] NameIsA commented on #576
![image](https://user-images.githubusercontent.com/61570792/109857401-7ee19a00-7c0f-11eb-9a32-8f918a5789db.png)

[2021-03-03 18:59] NameIsA commented on #576
![image](https://user-images.githubusercontent.com/61570792/109857425-85701180-7c0f-11eb-94a4-1a09dd412e67.png)

[2021-03-03 19:01] NameIsA commented on #562
sorry for calling people out im still salty at britanny tho they wasted so much of my time >:(((((

[2021-03-03 19:08] BrittanyG1150 commented on #562
how did I waste ur time?

[2021-03-03 19:09] BrittanyG1150 commented on #562
also its Brittany not brittanny btw

[2021-03-03 19:09] NameIsA commented on #562
because i spent like an hour deleting personal information from your message wall

[2021-03-03 19:12] ChickenOnYT opened #592 "Uploading PHEx to Microsoft Web Store"
**Problem**
I have seen many users on this repository asking for browser extensions for web browsers such as Microsoft Edge.

**Solution**
 [Interestingly, Edge, Opera, and Brave are all based on Chromium](https://docs.microsoft.com/en-us/microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension). With limited changes, we could expand to Edge, Opera, Brave, and Chrome- all we have t

[2021-03-03 19:13] BrittanyG1150 commented on #562
dude i never asked for people to do that. They all came to me and I tried my best to help them hack their accs since they did not understand how to hack

[2021-03-03 19:16] NameIsA commented on #562
instead of hacking their accounts link them to the prodigy hacking wiki and tell them to not share their personal information

[2021-03-03 19:18] BrittanyG1150 commented on #562
I tried to give them the most info I could and only a small percentage of them learned how to hack themselves but there was still a bunch of people that really did not know how to hack so I tried my best to help them and with the personal info, I deleted some of it but there was still other info that I just ignored

[2021-03-03 19:22] NameIsA commented on #560
Looks like Arc fixed this, yes?

[2021-03-03 19:33] PixelMMO commented on #592
why cant people just change to chrome?

[2021-03-03 19:34] NameIsA commented on #592
school or family could disallow it

[2021-03-03 19:35] NameIsA commented on #562
but why did you ignore it? i dont see why they wouldnt understand. there's tons of youtube videos (even ones by prodigymathgamehacking) that you could show to them to give them a visual explanation.

[2021-03-03 19:36] PixelMMO commented on #562
stop fighting about that

[2021-03-03 19:38] PixelMMO commented on #562
who cares

[2021-03-03 19:39] NameIsA commented on #562
i care because now it's been reinforced that it's ok to share your password and username and if they keep these habbits later into their life they're gonna end up getting scammed and lose a lot of their money

[2021-03-03 19:40] PixelMMO commented on #453
_

[2021-03-03 19:40] PixelMMO commented on #453
やれやれだぜ

[2021-03-03 19:42] PatheticMustan commented on #592
I think this would be a really good idea!

[2021-03-03 19:42] PixelMMO opened #594 "[BUG] モーフがクラッシュする"
***Description***:
モーフィングしようとすると、前にモーフィングがクラッシュした場合に押してもゲームがクラッシュします

***Replication***:
何かに変身してみてください

[2021-03-03 19:43] PixelMMO commented on #594
この問題を修正してください

[2021-03-03 19:44] NameIsA commented on #594
Yes, I know that happens, it's already been discovered. But please write in English.

[2021-03-03 19:45] PixelMMO commented on #594
こんにちは？

[2021-03-03 19:46] PixelMMO commented on #594
?

[2021-03-03 19:46] NameIsA commented on #594
この問題はすでに特定されていますが、英語で書いてください。

[2021-03-03 19:46] PixelMMO commented on #594
何を言っている

[2021-03-03 19:47] PixelMMO commented on #594
私は英語で書くことができません

[2021-03-03 19:47] NameIsA commented on #594
繰り返します：

[2021-03-03 19:47] PixelMMO commented on #594
like this?

[2021-03-03 19:47] PixelMMO commented on #594
write like this?

[2021-03-03 19:48] NameIsA commented on #594
あなたは今日早く英語で書いていました-

[2021-03-03 19:48] PixelMMO commented on #594
oh

[2021-03-03 19:48] NameIsA commented on #594
Yes. You were writing in English already. Don't randomly use another langugae, please.

[2021-03-03 19:48] PixelMMO commented on #594
i didnt know that was english XD

[2021-03-03 19:49] PixelMMO commented on #594
Japanese is my main language

[2021-03-03 19:50] NameIsA commented on #594
Hm, okay.

[2021-03-03 19:50] NameIsA commented on #490
Addressed in #593

[2021-03-03 19:58] irhrhd commented on #588
You fixed it yet?

[2021-03-03 19:59] NameIsA commented on #588
no because idrk what to do.

this isnt the right place to ask about this. ask somewhere else for help evading school filters.

[2021-03-03 20:07] ConnorAhern opened #595 "[ Removed ]"
[ Removed ]

[2021-03-03 20:08] NameIsA commented on #595
Also, make blogs on the PMGH website about things PMGH is doing so that they appear in search results, getting more attention.

[2021-03-03 20:08] ArcerionDev commented on #595
maybe

[2021-03-03 20:08] ArcerionDev commented on #595
but if someone looks up "prodigy hacks" we're the first result so ehhhh

[2021-03-03 20:10] NameIsA commented on #595
yes we are but people seem confused by the repository's "code" section because they dont think to scroll down

thats what i most commonly hear when i tell someone about this repository

[2021-03-03 20:11] NameIsA commented on #595
and we really need to do something about all the big prodigy YouTubers flexing about how they're hackers then not linking this repo- if they linked this repo more, it would get more traffic

[2021-03-03 20:15] PatheticMustan commented on #595
a blog would be really cool!

[2021-03-03 20:16] #594 closed

[2021-03-03 20:16] BoredFishRE commented on #595
I could do it

[2021-03-03 20:21] NameIsA commented on #595
mk ty

[2021-03-03 20:40] PatheticMustan commented on #595
https://prodigy-hacking.fandom.com/f

[2021-03-03 22:10] NameIsA commented on #595
i mean, fandom isnt really for blogs, and doesnt fit the structure for a blog considering fandom wikis are supposed to be community-run

[2021-03-03 22:10] NameIsA commented on #595
try google blogger

[2021-03-03 22:26] irhrhd commented on #595
Or blogger.com

[2021-03-03 22:27] NameIsA commented on #595
that is what i said

[2021-03-03 22:37] BoredFishRE commented on #595
i mean if we use blogger we're gonna seem like we're in our early 40s lmao. If anything we would use Ghost

[2021-03-03 22:43] NameIsA commented on #595
okie that sounds cool

doesnt matter to me what software you use whats important is just seo, design, and ease of use- this is to make everything as simple as possible for the script kiddies

[2021-03-03 22:47] NameIsA commented on #592
yes

i will look into it more now because today is early release from education jail day

[2021-03-03 22:59] NameIsA commented on #576
ok its loyer safe™
[extension (3).zip](https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/files/6079704/extension.3.zip)

[2021-03-03 23:02] NameIsA commented on #576
![image](https://user-images.githubusercontent.com/61570792/109884194-700bdf00-7c31-11eb-9bf1-78f107079242.png)
FINGERS ARE CROSSED

[2021-03-03 23:02] NameIsA commented on #592
FINGERS ARE CROSSED
![image](https://user-images.githubusercontent.com/61570792/109884234-7dc16480-7c31-11eb-8716-503b1ba077bd.png)

[2021-03-03 23:03] NameIsA commented on #592
next up:
opera, brave, chrome

[2021-03-03 23:06] ChickenOnYT opened #600 "Porting the extension to mobile"
Few ways to do this:

1. <s>Mobile Tampermonkey, which surprisingly exists.</s> only works on android, some people cant install apps
2. A mobile app that modifies requests. not 100% sure if this would be allowed on app stores, but some people might not be able to install apps so idk
3. <s>An app for rooted/jailbroken devices that allows you to modify the Prodigy app to inject a hack into it or som

[2021-03-03 23:08] NameIsA commented on #592
let's keep this open until microsoft responds to us

[2021-03-03 23:12] NameIsA commented on #600
Honestly, we should just make a website where people tell the website what to put in an account and it generates the account accordingly. This would be great for mobile users.

[2021-03-03 23:20] NameIsA commented on #576
ok its dck's bad grammar safe™
[extension (4).zip](https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/files/6079768/extension.4.zip)

[2021-03-03 23:32] NameIsA commented on #576
made the code unugly
[extension.zip](https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/files/6079815/extension.zip)

[2021-03-03 23:36] NameIsA commented on #564
add enhancement label

[2021-03-03 23:36] NameIsA commented on #588
add enhancement label

[2021-03-03 23:36] irhrhd commented on #576
I wish there was 1 for mobile

[2021-03-03 23:37] NameIsA commented on #576
#600

[2021-03-03 23:39] NameIsA commented on #407
and that is why you are supposed to use an alt for hacks

[2021-03-04 00:55] PatheticMustan commented on #600
Another method that (surprisingly) works on mobile is bookmarklets, you can run javascript with bookmarks by prepending javascript:

[2021-03-04 00:56] PatheticMustan commented on #592
literal god

[2021-03-04 00:56] PatheticMustan commented on #595
roll our own blogging system >:D

[2021-03-04 00:57] irhrhd commented on #600
Okay so how do i bookmark it and is it possible yet

[2021-03-04 01:05] irhrhd commented on #600
Guys i know how to make it work

[2021-03-04 01:06] irhrhd commented on #600
Bookmarks work right so you can use javascript to do the hacks on mobile with a bookmark ill show you

[2021-03-04 01:35] NameIsA commented on #600
Yeah, we can do script-based hacks, but it would require a complete recode of WCM- JS bookmarklets can't modify requests like PHEx does.

[2021-03-04 01:35] NameIsA commented on #595
I mean it would be really cool to do, but it would require a lot of work ngl

[2021-03-04 01:39] irhrhd commented on #600
Well there is a different way but its not working
![AE8FD1E0-711D-4AA3-AF51-D6EF52EA9C60](https://user-images.githubusercontent.com/62729648/109897237-43fb5880-7c47-11eb-938d-597bea0924be.png)
https://caiorss.github.io/bookmarklet-maker/

[2021-03-04 01:43] NameIsA commented on #600
The way PHEx works is much more complicated than you think. It works by directly modifying the Prodigy source code in a way that JS running via console/bookmarklets cannot do. We can use script-based hacks via bookmarklets, but Will's Cheat Menu would have to be entirely recoded.

[2021-03-04 01:44] irhrhd commented on #600
Let me help you recode it

[2021-03-04 01:44] irhrhd commented on #600
Please

[2021-03-04 01:45] irhrhd commented on #600
I have a code editor now on my ipad and i can do stuff now

[2021-03-04 01:47] NameIsA commented on #600
We probably will not recode it, unless we have to. We have a lot of options and we need to decide on the most efficient and sophisticated method.

[2021-03-04 01:48] irhrhd commented on #600
If it requires jailbreak then ripp meeee

[2021-03-04 01:49] NameIsA commented on #600
It does work, the only issue is what I said earlier:

So we would have to do a lot of re-coding. It's possible, but it would be best to do something easier.

[2021-03-04 01:49] NameIsA commented on #600
It likely will not, as most users cannot use an iOS jailbreak.

[2021-03-04 01:51] irhrhd commented on #600
Oh thank gosh

[2021-03-04 01:58] NameIsA commented on #595
i dont wanna use ghost because the UI would be kinda hard to do tbh

[2021-03-04 02:02] NameIsA commented on #595
we could make an interface similar to github for familarity but it's just like how to install blog discussions

i attached an image of something i designed with inspect element

![image](https://user-images.githubusercontent.com/61570792/109899328-8b371880-7c4a-11eb-830f-5dbe8c1f3965.png)

[2021-03-04 02:04] NameIsA commented on #595
again, the goal is simplicity

while we're the first result on google, when skids click on it all they see is a bunch of code and it doesnt make as much sense

if the first result was instructions, then a place that is clearly a way to ask questions, then a blog for news about prodigyhacking, they would get more info

ofc we would still have the github for issue tracking, coding, etc. but the info

[2021-03-04 02:11] NameIsA commented on #595
going to be testing on this site https://dev.digitalteal.com/ because i have a website and why not test on a cool and fast and DOWNLOAD JUMPBOUND WHEN IT'S RELEASED BY https://digitalteal.com website that you already have

[2021-03-04 02:16] irhrhd commented on #595
Did you guys pay for that domain if not where can i get 1

[2021-03-04 02:20] NameIsA commented on #595
i paid for it for something else but im using a subdomain of it to help test some things made for this repository

[2021-03-04 03:13] NameIsA commented on #595
https://dev.digitalteal.com/index.php/forums/ should there be a forum on there or should it just redirect to the repository

react with 👍 for yes or 👎 for no

[2021-03-04 04:04] NameIsA commented on #576
Made some changes to the extension's source code to clean it up more, then I submitted it and told Google the copyright issue is resolved and it violates no other law. Let's hope Google accepts. They did before, they'll likely accept it again.
![image](https://user-images.githubusercontent.com/61570792/109909825-a4949080-7c5b-11eb-89df-554be7e8dbaf.png)

[2021-03-04 04:09] NameIsA opened #601 "Porting the extension to Opera"
https://addons.opera.com/en/extensions/?hl=en-US

[2021-03-04 04:47] NameIsA commented on #601
solved https://addons.opera.com/en/extensions/details/install-chrome-extensions/

[2021-03-04 04:47] #601 closed

[2021-03-04 05:06] NameIsA commented on #592
![image](https://user-images.githubusercontent.com/61570792/109914168-4324ef80-7c64-11eb-8cd6-fb7c3f089f4b.png)
better screenshots will add to stuff later

[2021-03-04 05:06] NameIsA commented on #576
![image](https://user-images.githubusercontent.com/61570792/109914168-4324ef80-7c64-11eb-8cd6-fb7c3f089f4b.png)
better screenshots will add to stuff later

[2021-03-04 11:51] NameIsA commented on #576
@PatheticMustan could you show me a screenshot of the DMCA request on the chrome extension I need to know what they complained about

[2021-03-04 13:08] PatheticMustan commented on #576
#368

[2021-03-04 13:11] PatheticMustan commented on #600
It's not an issue with jailbreak, ios just plain doesn't support chrome extensions.
If we could host a modified version of prodigy with the gamefiles already injected, that would also work....

[2021-03-04 13:13] PatheticMustan commented on #576
You don't have to upload it, I got it

[2021-03-04 13:17] NameIsA commented on #576
i already uploaded the extension to the web store tho lol

its submitted for review rn

[2021-03-04 13:18] NameIsA commented on #576
once this github repo got taken down for sorta "hacking" spotify premium and it was taken down via DMCA request? could this happen to our extension?

[2021-03-04 13:28] NameIsA commented on #600
but that's something they could DMCA

[2021-03-04 13:50] PatheticMustan commented on #600
Yeah ik, was just thinking about solutions

[2021-03-04 13:51] PatheticMustan commented on #576
Bruh bruh bruh bruh bruhhhhhh

i'm gonna submit it anyways

[2021-03-04 13:52] NameIsA commented on #576
bruh ok

they'll reject one of our applications then

[2021-03-04 14:05] BoredFishRE commented on #576
natsumi if anything we should put it on the support@prodigyhacking.com acc

[2021-03-04 14:06] BoredFishRE commented on #595
yes. we pay for it.

[2021-03-04 14:07] BoredFishRE commented on #592
Bro i've tried the extension on edge and it works...

[2021-03-04 14:27] PixelMMO commented on #594
ッ

[2021-03-04 14:53] NameIsA commented on #592
it does ik

[2021-03-04 14:53] NameIsA commented on #592
the whole point of this was trying to get it onto the microsoft web store

[2021-03-04 15:01] BoredFishRE commented on #592
oh ye i can see what I can do

[2021-03-04 15:13] PixelMMO opened #602 "[HR]Summon ID"
**Describe the hack in 5 words or less:**
spawn entities by entity ID

**Have you made sure this hack isn't available yet?**
yes, i have made sure

[2021-03-04 15:17] PixelMMO commented on #602
it would be cool to have a hack in the menu that you could summon entities like the titan, monsters, NPCs, etc by typing the ID connected to that entity allowing you to summon monsters and People anywhere.

[2021-03-04 15:23] PixelMMO opened #603 "Instant Titan kill Hack (pls put in menu)"
**Describe the hack in 5 words or less:**
kill titan with one button

**Have you made sure this hack isn't available yet?**
yes i have

[2021-03-04 15:24] PixelMMO commented on #603
i think this is the code that kills the titan

 TitanDeadKick = function () {
    var e = "The Titan has been defeated, for now!
 \The Puppet Master is hard at work, summoning it back once again.
 Keep an eye on the island map for signs of the Titan's return...";
    this.game.prodigy.open.message(e, this.TitanDeadTeleport.bind(this), null, "Titan Defeated!")
 }

[2021-03-04 15:24] PixelMMO commented on #603
idk tho

[2021-03-04 15:31] PixelMMO commented on #603
when type the code below it says that **PIXI is not defined at <anonymous>

PIXI.game.prodigy.titansNetworkHandler.hitTitan(Infinity)

[2021-03-04 15:31] elikiller commented on #603
I wonder if someone could make wcm into bookmarklet-able code?

[2021-03-04 15:31] elikiller commented on #603
Is that possible?

[2021-03-04 15:32] PixelMMO commented on #603
yes it is

[2021-03-04 15:32] PixelMMO commented on #603
@ArcerionDev

[2021-03-04 15:33] PixelMMO commented on #603
@PatheticMustan

[2021-03-04 15:34] elikiller commented on #603
:O

[2021-03-04 16:12] BoredFishRE commented on #592
@NameIsA ight man it's under review

[2021-03-04 16:14] irhrhd commented on #595
Why do you call them skids isnt it kids?

[2021-03-04 16:16] PixelMMO commented on #564
when i put the code in the console it just gives an error

[2021-03-04 16:17] PixelMMO commented on #564
what do i do?

[2021-03-04 16:18] BoredFishRE commented on #603
again, just use instant kill

[2021-03-04 16:19] BoredFishRE commented on #564
can you visit https://prodigyhacking.ml

[2021-03-04 16:19] PixelMMO commented on #564
yes but its just lots of code

[2021-03-04 16:19] PixelMMO commented on #564
what do i do with that

[2021-03-04 16:20] BoredFishRE commented on #564
alright hmm

[2021-03-04 16:20] BoredFishRE commented on #564
is the extension installed?

[2021-03-04 16:20] PixelMMO commented on #564
the PHEx.zip

[2021-03-04 16:20] PixelMMO commented on #564
yeah

[2021-03-04 16:24] PixelMMO commented on #564
it says that that site cant be reached

[2021-03-04 16:25] BoredFishRE commented on #564
hm, can you visit https://proxy.prodigyhacking.com

[2021-03-04 16:26] PixelMMO commented on #564
nope

[2021-03-04 16:26] PixelMMO commented on #564
it says it has insecure content

[2021-03-04 16:27] BoredFishRE commented on #564
hm weird

[2021-03-04 16:27] BoredFishRE commented on #564
@ArcerionDev does the extension require the CORS anywhere?

[2021-03-04 16:27] NameIsA commented on #592
bruh I've already submitted it

[2021-03-04 16:29] ArcerionDev commented on #564
wait no scratch that

[2021-03-04 16:29] BoredFishRE commented on #564
Yes or no?

[2021-03-04 16:29] ArcerionDev commented on #564
no

[2021-03-04 16:30] BoredFishRE commented on #564
alright

[2021-03-04 16:30] PixelMMO commented on #564
i disabled the proxy and its still not working

[2021-03-04 16:32] PixelMMO commented on #564
i ran diagnostics and it says that there is a problem with local networks

[2021-03-04 16:32] BoredFishRE commented on #564
that shouldn't make a difference.

[2021-03-04 16:33] PixelMMO commented on #564
would you be able to send the download through this chat?

[2021-03-04 16:51] elikiller opened #607 "Make WCM for mobile browsers"
You guys should do this cos myself and many more are trying to use the hacks on mobile browsers but bookmarklets nor address bars are working.
And most of these people can’t install apps like inspect browser so we could use the hacks because we have school devices!!!!!!!!
Pls pls pls make this.🥺

[2021-03-04 16:52] elikiller commented on #607
I also asked PixelMMO if it would work and he said yes so why haven’t you done this already?

[2021-03-04 17:11] PatheticMustan commented on #607
#600

[2021-03-04 17:11] #607 closed

[2021-03-04 17:12] CyberXVI commented on #607
xx

[2021-03-04 17:18] PixelMMO opened #608 "patheticmustan i need to talk to you"

[2021-03-04 17:18] PixelMMO commented on #608
when i try to open https://prodigyhacking.com/extension it says that there is insecure content on the page, can you help me get into it please

[2021-03-04 17:19] CyberXVI commented on #608
lemme see a picture pls
i think i know how to fix it

[2021-03-04 17:19] PixelMMO commented on #608
![image](https://user-images.githubusercontent.com/79719521/110002922-e6691980-7ce3-11eb-9bcd-39d10e0c3d85.png)

[2021-03-04 17:20] irhrhd commented on #608
Use this proxy https://yeet-was-here.herokuapp.com/

[2021-03-04 17:20] CyberXVI commented on #608
when i click on it, it makes me download something

[2021-03-04 17:21] irhrhd commented on #608
Use the proxy then see if it works

[2021-03-04 17:21] PixelMMO commented on #608
not working

[2021-03-04 17:21] PixelMMO commented on #608
its not working

[2021-03-04 17:22] NameIsA commented on #608
@PatheticMustan

[2021-03-04 17:22] NameIsA commented on #602
i mean yeah but it wouldnt show up for other players because of how prodigy works

[2021-03-04 17:23] NameIsA commented on #608
school filter or something

[2021-03-04 17:23] irhrhd commented on #608
![D5EC2051-9C9F-4619-9F01-B7CAFB31C0DB](https://user-images.githubusercontent.com/62729648/110003493-499a8200-7ccb-11eb-879c-8e9335c38ae6.png)
![BE007D32-EEC1-4F0E-9ABB-E4F4AB2140C5](https://user-images.githubusercontent.com/62729648/110003543-5323ea00-7ccb-11eb-8ed9-4d567af1db2b.jpeg)

[2021-03-04 17:24] NameIsA commented on #595
skids = script kiddies

[2021-03-04 17:24] PixelMMO commented on #608
probably

[2021-03-04 17:25] PixelMMO commented on #608
that?

[2021-03-04 17:25] irhrhd commented on #608
Yes thats it

[2021-03-04 17:25] irhrhd commented on #608
So it does work

[2021-03-04 17:26] PatheticMustan commented on #607
PixelMMO isn't staff.

Unfortunately, there are many things that stop us from making such a thing.
A. Prodigy hides all their player objects. In order to expose them, we need to modify the game files.
B. Will's Cheat Menu relies heavily on those player objects being there. Without them, it's just a bunch of buttons.
C. While some hacks are still possible (see script based hacks), they're restricte

[2021-03-04 17:26] PixelMMO commented on #608
i downloaded that from PHEx.zip

[2021-03-04 17:27] PatheticMustan commented on #608
I'll look at it when I get home.

[2021-03-04 17:27] PixelMMO commented on #608
ok

[2021-03-04 17:27] NameIsA commented on #607
Mobile Tampermonkey exsists.

[2021-03-04 17:28] PixelMMO commented on #602
ok

[2021-03-04 17:28] PixelMMO commented on #602
but still

[2021-03-04 17:28] NameIsA commented on #602
i mean yeah we can but not for a while

[2021-03-04 17:28] PatheticMustan commented on #607
Well sure, but we would still need to do a lot of work. We rely heavily on the permissions chrome extensions give us, I'm not sure mobile tampermonkey can do the same thing.

[2021-03-04 17:29] NameIsA commented on #607
Might be able to. Also the possibility of being able to create/modify accounts via a website.

[2021-03-04 17:30] PatheticMustan commented on #564
Please continue this in discussions.... this is what it's for, after all...

[2021-03-04 17:31] PatheticMustan commented on #576
You need to let me log onto it first >;(

[2021-03-04 17:32] PatheticMustan commented on #603
No

[2021-03-04 17:36] PatheticMustan commented on #493
Bump bump bump, I'd like to finish the 2.1.0 milestone first

[2021-03-04 17:36] PatheticMustan commented on #575
@ArcerionDev closed this..?

[2021-03-04 17:37] PatheticMustan commented on #574
Unfortunately can't be fixed, if the assets don't exist we can't fix that, it's nontrivial to see if a scene will work or not

[2021-03-04 17:37] #574 closed

[2021-03-04 17:37] PixelMMO commented on #608
i got PHEx.zip from https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/blob/master/README.md

[2021-03-04 17:39] PatheticMustan commented on #562
Continue off topic in discussions please ;-;

[2021-03-04 17:40] PatheticMustan commented on #467
Bump, @The-Anonymous-Chicken, what do you mean by "outdated spell"

[2021-03-04 17:42] PatheticMustan commented on #572
Continuing this in #459

[2021-03-04 17:42] #572 closed

[2021-03-04 17:43] #560 closed

[2021-03-04 17:44] #603 closed

[2021-03-04 17:59] BoredFishRE commented on #592
excuse me what

[2021-03-04 17:59] BoredFishRE commented on #592
bruh

[2021-03-04 19:00] alvzboys2 commented on #603
yo can i ask you some

________________________________
From: Mustan Pathetic <notifications@github.com>
Sent: Thursday, March 4, 2021 11:45 AM
To: Prodigy-Hacking/ProdigyMathGameHacking <ProdigyMathGameHacking@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Prodigy-Hacking/ProdigyMathGameHacking] Instant Titan kill Hack (pls put in menu) (#603)

CAUTION: This emai

[2021-03-04 19:05] alvzboys2 commented on #592
can i ask you some
________________________________
From: BoredFish <notifications@github.com>
Sent: Thursday, March 4, 2021 12:00 PM
To: Prodigy-Hacking/ProdigyMathGameHacking <ProdigyMathGameHacking@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Prodigy-Hacking/ProdigyMathGameHacking] Uploading PHEx to microsoft web store (#592)

CAUTION: This email originated f

[2021-03-04 19:06] alvzboys2 commented on #592
hellooooooooooo
________________________________
From: Eduardo Alvarez <1902723@stu.bisd.us>
Sent: Thursday, March 4, 2021 1:05 PM
To: Prodigy-Hacking/ProdigyMathGameHacking <reply@reply.github.com>
Subject: Re: [Prodigy-Hacking/ProdigyMathGameHacking] Uploading PHEx to microsoft web store (#592)

can i ask you some
________________________________
From: BoredFish <notifications@github.com>
Sent:

[2021-03-04 19:10] CyberXVI commented on #592
im on edge rn

[2021-03-04 19:12] alvzboys2 commented on #592
do you now to fix stuff

[2021-03-04 19:13] alvzboys2 commented on #592
im having a hard time

[2021-03-04 19:13] alvzboys2 commented on #592
ones i want to battle it frezzes

[2021-03-04 19:18] PixelMMO commented on #576
ima search PHEx on the web store

[2021-03-04 19:20] PixelMMO commented on #576
![image](https://user-images.githubusercontent.com/79719521/110017869-ae1e0700-7cf4-11eb-9556-3e5ff252133c.png)
![image](https://user-images.githubusercontent.com/79719521/110017906-b8d89c00-7cf4-11eb-806b-429f0d34d1d9.png)

[2021-03-04 19:21] alvzboys2 commented on #576
i have an iusse

[2021-03-04 19:24] PixelMMO commented on #493
its working for me
![image](https://user-images.githubusercontent.com/79719521/110018427-44eac380-7cf5-11eb-827c-eef1d7275c7d.png)

[2021-03-04 19:26] alvzboys2 commented on #493
can you help me plss
________________________________
From: やれやれだぜ <notifications@github.com>
Sent: Thursday, March 4, 2021 1:24 PM
To: Prodigy-Hacking/ProdigyMathGameHacking <ProdigyMathGameHacking@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Prodigy-Hacking/ProdigyMathGameHacking] Edit pet throws error (#493)

CAUTION: This email originated from outside of Bro

[2021-03-04 19:28] alvzboys2 commented on #493
when i want battle it frezzes
________________________________
From: Eduardo Alvarez <1902723@stu.bisd.us>
Sent: Thursday, March 4, 2021 1:26 PM
To: Prodigy-Hacking/ProdigyMathGameHacking <reply@reply.github.com>
Subject: Re: [Prodigy-Hacking/ProdigyMathGameHacking] Edit pet throws error (#493)

can you help me plss
________________________________
From: やれやれだぜ <notifications@github.com>
Sent: Thu

[2021-03-04 19:35] achen6196 commented on #575
Who you talking to?

[2021-03-04 19:35] alvzboys2 opened #609 "its working for me"
its working for me
![image](https://user-images.githubusercontent.com/79719521/110018427-44eac380-7cf5-11eb-827c-eef1d7275c7d.png)

_Originally posted by @PixelMMO in https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/issues/493#issuecomment-790867317_

[2021-03-04 20:02] NameIsA commented on #592
bruh i was working on this whole like portability thing i started yesterday when i was bored

just cancel your submission or wait on it because microsoft will deny one and accept one... unless different people see both of our extensions because then we'll have a problem

[2021-03-04 20:03] NameIsA commented on #609
just reply on that issue dont make a new issue

[2021-03-04 20:03] NameIsA commented on #493
use "fix battle crash"

[2021-03-04 20:04] NameIsA commented on #576
it isnt reviewed yet

wait like 6 days

[2021-03-04 20:04] NameIsA commented on #603
you just did, and make a new issue instead of hijacking random issues

[2021-03-04 20:22] BoredFishRE commented on #592
I know, but we would rather it be on an account linked to our stuff, than just you. We submitted it with the support@prodigyhacking.com address

[2021-03-04 20:24] BoredFishRE commented on #592
would be much better if we had it on something we can use for other things and we can have direct access to it at any time.

[2021-03-04 20:29] BoredFishRE commented on #592
also I've already submitted it to firefox.

[2021-03-04 20:42] CyberXVI commented on #592
before you go into a battle, click on "Fix Battle Crash"
it should say **Success!** Fixed Kennel Attack Bug.

[2021-03-04 20:43] alvzboys2 commented on #592
can you help me plssss
________________________________
From: BoredFish <notifications@github.com>
Sent: Thursday, March 4, 2021 2:29 PM
To: Prodigy-Hacking/ProdigyMathGameHacking <ProdigyMathGameHacking@noreply.github.com>
Cc: Eduardo Alvarez <1902723@stu.bisd.us>; Comment <comment@noreply.github.com>
Subject: Re: [Prodigy-Hacking/ProdigyMathGameHacking] Uploading PHEx to microsoft web store (#59

[2021-03-04 20:48] irhrhd commented on #592
Is it bad that i can see your guys emails and real names

[2021-03-04 21:08] NameIsA commented on #592
bruh

ok

[2021-03-04 21:09] NameIsA opened #610 "anyway"
gonna be inactive for a while because im trying to find new things to do

[2021-03-04 21:21] BoredFishRE commented on #592
that's not the point...

[2021-03-04 21:22] NameIsA commented on #592
what is your point? is it that you dont want me to be shown as the developer? because i set the publisher display name to "PMGH". i dont see what your problems are, unless it's just that "omg dck is a super bad guy that will try to destroy prodigy hacking real"

[2021-03-04 21:24] BoredFishRE commented on #592
Alright A. Everything will be going to a completely separate email, B. We would not be the owner of the account, and C. We can't afford to have another mike incident. It's better safe than sorry.

[2021-03-04 21:26] NX721 commented on #610
Ok

[2021-03-04 21:28] NX721 commented on #610
Me too
![image](https://user-images.githubusercontent.com/77288637/110032758-859f0880-7d06-11eb-9488-bfc10c532c8e.png)
![image](https://user-images.githubusercontent.com/77288637/110032784-8cc61680-7d06-11eb-9525-469cecae43de.png)
![image](https://user-images.githubusercontent.com/77288637/110032873-abc4a880-7d06-11eb-9afc-127e342b974c.png)

[2021-03-04 21:33] TheSchmede commented on #610
Some odd mail you got there.
lol

[2021-03-04 21:34] NameIsA commented on #592
i know you dont want another mike incident, but i had really started this whole project of making prodigy hacking portable across different platforms and then you just listen to me until it's all planned out then tell me i dont have a say in it anymore and take the changes and publish them on your own without my help even though i was the one who had been working on bringing the extension to other

[2021-03-04 22:24] LandynM1030 opened #611 "Prodigy Is Offline"
Error Code 72?

![Screenshot 2021-03-04 at 2 19 07 PM](https://user-images.githubusercontent.com/80073253/110038815-2258aa80-7cf5-11eb-99e7-02a8f58cc559.png)

Error Code 72

*Sorry if i'm an idiot*

[2021-03-04 23:11] irhrhd commented on #611
No your fine your not an idiot

[2021-03-04 23:14] irhrhd commented on #611
Hey can you try logging in again for me please

[2021-03-04 23:29] PatheticMustan commented on #608
ok

[2021-03-04 23:29] #608 closed

[2021-03-04 23:38] PatheticMustan commented on #611
try again please

[2021-03-04 23:39] irhrhd commented on #611
Sorry @PatheticMustan for trying to help i just really want to but i cant cause i cant use discord

[2021-03-04 23:48] NameIsA commented on #610
will be a bit active tho

just not as much

[2021-03-04 23:50] NameIsA commented on #592
I don't care who owns it, I just want partial control over the extension because I've been working on it pretty hard and I want to have a say in this whole portability project

[2021-03-04 23:51] NameIsA commented on #592
this is just repeating issue B

[2021-03-05 00:22] PatheticMustan commented on #575
anybody who had the error, we can't continue without the actual error

[2021-03-05 00:22] #609 closed

[2021-03-05 00:23] PatheticMustan commented on #610
epic, ty for being active, @NameIsA!

[2021-03-05 00:25] PatheticMustan commented on #592
I kinda agree with both of you, while yeah, DCK did work super hard on the extensions, it's a scary thing to give trust. (I think possibly unbanning dck would be alright, as long as he promises to stop trying to hack skids)

[2021-03-05 00:43] NameIsA commented on #610
yw :D

[2021-03-05 00:45] NameIsA commented on #592
I haven't hacked skids in a while.

Idrc if you own the extension, I just feel like I made a lot of the new stuff then you take it and upload it all yourself. But yeah I do see the security reasons.

[2021-03-05 00:51] BoredFishRE commented on #592
Alright @NameIsA, I can give you credit on the thing, all I want is just to have the extension published by us. That's it.

[2021-03-05 00:52] NameIsA commented on #592
okie

[2021-03-05 00:55] BoredFishRE commented on #592
So if you could like remove the extension on your end that would be cool ok thank

[2021-03-05 01:13] NameIsA commented on #592
okie

[2021-03-05 02:37] irhrhd opened #619 "Where is the arena point website"
Arena point website?

[2021-03-05 14:33] PixelMMO commented on #619
good question, ive been wanting to hack my arena points but idk where the page is to do it

[2021-03-05 14:59] PixelMMO commented on #619
@ArcerionDev please send the link to the arena point tab

[2021-03-05 15:14] NameIsA commented on #619
its a WIP or sum

[2021-03-05 15:40] NameIsA commented on #575
battles are fine for me btw

[2021-03-05 15:41] ArcerionDev commented on #575
no that was my fault

[2021-03-05 15:41] ArcerionDev commented on #575
I tried doing some layering with WCM and that somehow kept it from being able to interact with the question UI

[2021-03-05 15:41] ArcerionDev commented on #575
it should be fine now

[2021-03-05 15:46] NameIsA commented on #575
okie

[2021-03-05 15:55] #575 closed

[2021-03-05 15:56] #610 closed

[2021-03-05 15:58] NameIsA commented on #595
bump

[2021-03-05 16:07] PixelMMO opened #621 "its not really a rack but can you see if you can rename something fer me :3"
**Describe the thing in 5 words or less:**
DRUGS

**please rename this item to drugs**
![image](https://user-images.githubusercontent.com/79719521/110141270-fbf14880-7da2-11eb-84c9-6428beda13e3.png)

[2021-03-05 16:07] PixelMMO commented on #621
who knows what they will grow into XD

[2021-03-05 16:08] PixelMMO commented on #621
sounds like drugs to me LOL

[2021-03-05 16:08] ArcerionDev commented on #621
hahahahahahaha

no

[2021-03-05 16:08] #621 closed

[2021-03-05 16:11] NameIsA commented on #621
drugs

[2021-03-05 16:11] NameIsA commented on #621
i have some xanax if you want it

im high on xanax

[2021-03-05 16:13] NameIsA commented on #621
THEY WILL GROW INTO METH

PRODIGY METH GAME

[2021-03-05 16:14] ArcerionDev commented on #621
***locks conversation***

[2021-03-05 16:26] NameIsA commented on #611
@LandynM1030 if this happens again open console and screenshot errors. but if it doesnt keep happening, just tell us and close this issue.

[2021-03-05 16:54] NameIsA commented on #619
@PatheticMustan @ArcerionDev can you close this

[2021-03-05 17:23] NameIsA commented on #592
also make sure to reply here once microsoft replies

[2021-03-05 17:24] #619 closed

[2021-03-05 17:25] NameIsA commented on #595
This has to be finished before #529 because #490 will no longer be finished if there are so many files in this repository.

[2021-03-05 17:26] PixelMMO opened #623 "[BUG] shops wont open"
***Description***
when i try to open a shop it says that shops are closed

***Images***
![image](https://user-images.githubusercontent.com/79719521/110150954-da498e80-7dad-11eb-8e2d-70956969a4f7.png)
![image](https://user-images.githubusercontent.com/79719521/110151052-fb11e400-7dad-11eb-9d1c-873977d9d35d.png)

[2021-03-05 17:26] NameIsA commented on #623
403 means forbidden. could you screenshot your entire console?

[2021-03-05 17:27] ArcerionDev commented on #623
hmm

[2021-03-05 17:27] PixelMMO commented on #623
i did
![image](https://user-images.githubusercontent.com/79719521/110151145-1d0b6680-7dae-11eb-8a6c-ea551d25554b.png)
that popped up when i tried to open a shop

[2021-03-05 17:27] ArcerionDev commented on #623
I don't think it's inventory related

[2021-03-05 17:27] NameIsA commented on #623
also, i've seen this happen to people randomly for no apparent cause, could you try to log out and login again?

[2021-03-05 17:27] ArcerionDev commented on #623
wait no

[2021-03-05 17:27] ArcerionDev commented on #623
first

[2021-03-05 17:27] NameIsA commented on #623
anything else in the console? there's usually more in there

[2021-03-05 17:27] ArcerionDev commented on #623
go onto the "network" tab

[2021-03-05 17:28] PixelMMO commented on #623
i already tried and it didnt work

[2021-03-05 17:28] NameIsA commented on #623
okie

[2021-03-05 17:28] ArcerionDev commented on #623
and type in `https://api.prodigygame.com/game-store-api` and find the one in red

[2021-03-05 17:28] ArcerionDev commented on #623
then

[2021-03-05 17:28] PatheticMustan commented on #623
can anybody else replicate?

[2021-03-05 17:28] ArcerionDev commented on #623
screenshot the "response" tab when you click on that

[2021-03-05 17:28] NameIsA commented on #623
im in school rn

[2021-03-05 17:28] ArcerionDev commented on #623
haven't tried

[2021-03-05 17:29] ArcerionDev commented on #623
will look

[2021-03-05 17:29] PatheticMustan commented on #623
for gods sake, Arc
one message please

[2021-03-05 17:29] NameIsA commented on #623
in the ctrl+shift+i thing right?

[2021-03-05 17:29] NameIsA commented on #623
^^^^

[2021-03-05 17:29] PixelMMO commented on #623
![image](https://user-images.githubusercontent.com/79719521/110151378-66f44c80-7dae-11eb-8de9-53c6855b5509.png)

[2021-03-05 17:29] NameIsA commented on #623
@PixelMMO hacker tag or something????

[2021-03-05 17:30] PixelMMO commented on #623
wait

[2021-03-05 17:30] NameIsA commented on #623
go to ctrl+shift+i thing

go to network tab in the popup thing

type `https://api.prodigygame.com/game-store-api` into filter

right click a random one, copy, copy all as fetch

[2021-03-05 17:31] PixelMMO commented on #623
![image](https://user-images.githubusercontent.com/79719521/110151527-9b680880-7dae-11eb-86e4-35633ec28418.png)
![image](https://user-images.githubusercontent.com/79719521/110151592-a6bb3400-7dae-11eb-8c87-5bcbc7271753.png)
![image](https://user-images.githubusercontent.com/79719521/110151639-b8044080-7dae-11eb-822c-59206bd61c5b.png)

[2021-03-05 17:31] ArcerionDev commented on #623
wait no

[2021-03-05 17:32] NameIsA commented on #623
do this @PixelMMO

[2021-03-05 17:32] PixelMMO commented on #623
![image](https://user-images.githubusercontent.com/79719521/110151784-e2ee9480-7dae-11eb-950a-bb5859264732.png)

[2021-03-05 17:33] NameIsA commented on #623
darn it ok @PixelMMO

[2021-03-05 17:33] ArcerionDev commented on #623
he must have closed out

[2021-03-05 17:33] PixelMMO commented on #623
she*

[2021-03-05 17:33] ArcerionDev commented on #623
![image](https://user-images.githubusercontent.com/60945964/110151896-044f8080-7daf-11eb-81cd-c0bbd1e8b8f2.png)
works fine for me

[2021-03-05 17:34] NameIsA commented on #623
i know, i think there's another issue give me a moment

[2021-03-05 17:34] ArcerionDev commented on #623
oh you're a she ok

[2021-03-05 17:34] PixelMMO commented on #623
one sec

[2021-03-05 17:34] NameIsA commented on #623
@PixelMMO refresh, open console, login, do the same thing i just told you to do

DO IN THAT ORDER

[2021-03-05 17:35] TheSchmede opened #624 "Walk through boundaries in Harmony Island."
I've wanted to walk through boundaries for ever but that could get me banned. So I got the idea of being able to walk through the boundaries in Harmony Island because nobody can see that.

[2021-03-05 17:35] PixelMMO commented on #623
its working now wtf

[2021-03-05 17:35] PatheticMustan commented on #623
sad, alright

[2021-03-05 17:35] #623 closed

[2021-03-05 17:35] NameIsA commented on #623
ah okay

this has happened to me and my friends before

not really sure what causes it

[2021-03-05 17:36] PatheticMustan commented on #624
that would actually be pretty cool....

[2021-03-05 17:37] NameIsA commented on #624
i have never seen anyone get banned except bobby fancywoman accounts so i dont think theres a lot to risk

[2021-03-05 17:37] NameIsA commented on #624
i litterally used to have an account that has the same username that my github account used to have and prodigy didnt ban it lol

[2021-03-05 17:38] PixelMMO commented on #624
play offline

[2021-03-05 17:39] NameIsA opened #627 "Drag around position/size WCM"
**Is your feature request related to a problem? Please describe.**
Not much of a problem, I just don't like how much space it takes up sometimes.

**Describe the solution you'd like**
read the title kek

**Describe alternatives you've considered**
idk

**Additional context**
im fat

[2021-03-05 17:40] PixelMMO commented on #627
YES

[2021-03-05 17:40] PixelMMO commented on #627
PLEASE

[2021-03-05 17:40] ArcerionDev commented on #627
ok easy enough

[2021-03-05 17:44] PixelMMO opened #628 "[BUG] there are 2 disable monster encounters buttons"
***Description***:
there are two buttons for the same thing

***Images***:
![image](https://user-images.githubusercontent.com/79719521/110153085-90ae7300-7db0-11eb-9d18-73dd5428927a.png)

**additional info**
neither of them work

[2021-03-05 17:45] ArcerionDev commented on #628
A:
this is really odd
B:
you need to go to a different area then back in order for it to work

[2021-03-05 17:46] PixelMMO commented on #628
i did but it still didnt work

[2021-03-05 17:46] PixelMMO commented on #628
and one of them replaces **clothing vibe** btw

[2021-03-05 17:47] ArcerionDev commented on #628
oh I see

[2021-03-05 17:47] ArcerionDev commented on #628
the second one skips enemy turn in battle

[2021-03-05 17:47] ArcerionDev commented on #628
oops idk why I put "Disable monster enounters" for that one

[2021-03-05 17:47] PixelMMO commented on #628
ok

[2021-03-05 17:47] ArcerionDev commented on #628
but there ya go

[2021-03-05 17:47] #628 closed

[2021-03-05 17:48] PixelMMO commented on #628
rename it tho please

[2021-03-05 17:51] NameIsA commented on #628
yes rename it

[2021-03-05 17:51] ArcerionDev commented on #628
I will jeez

[2021-03-05 17:51] NameIsA commented on #628
ok

[2021-03-05 17:52] ArcerionDev commented on #628
there done

[2021-03-05 17:53] NameIsA commented on #628
ty

[2021-03-05 18:02] #611 closed

[2021-03-05 18:06] #627 closed

[2021-03-05 18:06] ArcerionDev commented on #627
you should be good to go

[2021-03-05 18:06] ArcerionDev commented on #627
nevermind

[2021-03-05 18:07] ArcerionDev commented on #627
![image](https://user-images.githubusercontent.com/60945964/110155486-aec9a280-7db3-11eb-9ca0-ebff4f1b3dd9.png)
you now have a big white box, wahoo

[2021-03-05 18:31] PixelMMO opened #629 "[BUG] menu resizing bugging out"
***Description***:
when i try to close the menu when its my entire screen it doesnt close all the way

***Images***:
![image](https://user-images.githubusercontent.com/79719521/110158159-06b5d880-7db7-11eb-982e-181df90ad724.png)

[2021-03-05 18:31] PixelMMO commented on #629
![image](https://user-images.githubusercontent.com/79719521/110158251-21884d00-7db7-11eb-9e05-29a652a0db84.png)
the arrow says its closed

[2021-03-05 18:34] PixelMMO commented on #629
@ArcerionDev

[2021-03-05 18:37] PixelMMO commented on #629
ty

[2021-03-05 18:46] PixelMMO opened #630 "can someone send screenshots and the location on the interactive map please"

[2021-03-05 18:47] PixelMMO commented on #630
what i mean is like this
![image](https://user-images.githubusercontent.com/79719521/110159920-51d0eb00-7db9-11eb-9f32-d2ad8a1210f4.png)
A1

[2021-03-05 18:56] PixelMMO opened #631 "‎"
![image](https://user-images.githubusercontent.com/79719521/110160854-90b37080-7dba-11eb-89bb-93676c80503d.png)

[2021-03-05 18:58] PixelMMO opened #632 "[BUG]whats this?"
![image](https://user-images.githubusercontent.com/79719521/110161068-db34ed00-7dba-11eb-8925-cbf5df551429.png)

[2021-03-05 18:59] PixelMMO commented on #632
thats on the PMGH extension btw

[2021-03-05 19:08] #629 closed

[2021-03-05 19:09] ArcerionDev commented on #629
oops

[2021-03-05 19:10] #632 closed

[2021-03-05 19:12] #631 closed

[2021-03-05 19:18] PixelMMO opened #633 "[HR] can you make a hack that auto answers questions"
**Describe the hack in 5 words or less:**
auto answer questions in battles (if yes please put in menu)

**Have you made sure this hack isn't available yet?**
yes i have

[2021-03-05 19:20] ArcerionDev commented on #633
nope

[2021-03-05 19:20] #633 closed

[2021-03-05 19:36] PixelMMO opened #634 "Quality of life"
**Describe the hack in 59422 words or less:**
you should make <instant kill> and <PVP health> switches like <skip enemy turn> and <disable enemy encounters>

**Have you made sure this hack isn't available yet?**
yes i have made sure

[2021-03-05 19:37] ArcerionDev commented on #634
switches for what

[2021-03-05 19:39] PixelMMO commented on #634
instant kill and PVP health

[2021-03-05 19:39] PixelMMO commented on #634
and OWO bc ide like to be able to turn it off

[2021-03-05 19:39] ArcerionDev commented on #634
ok

[2021-03-05 19:41] PixelMMO commented on #634
@PatheticMustan the menu broke i cant scroll

[2021-03-05 20:18] BoredFishRE commented on #634
not possible. Just reload.

[2021-03-05 20:39] NameIsA commented on #634
it could be possible

just store the old text and the owo text and then swap them in and out

[2021-03-05 21:03] BoredFishRE commented on #634
All of the text? A. That would 100% crash the VPS, doubt 2gb of ram can handle that, B. way too much effort for a joke.

[2021-03-05 21:10] NameIsA commented on #595
@BoredFishRE rename that "EEEE.webp" file and 1.) convert it to a png then 2.) rename it to "ProdigyMathGameHackingUbuntu.png" for SEO

also add `title` and `alt` properties to all the images

make sure there is exactly one `h1` tag on each page

add canonical URL tags to each page

change the footer so that there isnt a space in the mailto: and it says "The Prodigy Hacking Organization's website

[2021-03-05 21:16] NameIsA commented on #634
it could be stored in local storage or a variable not vps

[2021-03-05 21:17] BoredFishRE commented on #595
People are super dumb so I have to add it.

He just retired legit yesterday. Have some patience.

I've already done it, please god look. https://prodigyhacking.com/sitemap.xml

Don't have control over how that looks.

webp is used for speed. Using PNGs makes the site a bit slower to load.

The site is gonna get a revamp, I've started on it, just haven't done it.

[2021-03-05 21:18] NameIsA commented on #595
please set up SPF and https forwarding https://www.hardenize.com/report/prodigyhacking.com?summary

[2021-03-05 21:18] NameIsA commented on #595
oop sorry i didnt know when he retired

[2021-03-05 21:18] NameIsA commented on #595
o

[2021-03-05 21:18] NameIsA commented on #595
ah okay i see

[2021-03-05 21:19] NameIsA commented on #595
hmm okay that makes sense, what if it was like "Click here to join the Prodigy Hacking Discord"? i read those things like "click here" without any additional information arent good for SEO

[2021-03-05 21:20] NameIsA commented on #595
o sorry

[2021-03-05 21:21] BoredFishRE commented on #595
also smth like blog.prodigyhacking.com isn't called a custom domain it's called a subdomain

[2021-03-05 21:22] NameIsA commented on #595
i know, i just mean the setting in blogger.com is "custom domain" but you can choose a subdomain

[2021-03-05 21:23] BoredFishRE commented on #595
i'll do everything once I finish the new one. It'll be better. The current one is the first site I ever did.

[2021-03-05 21:23] NameIsA commented on #595
okie

there is no rush im just giving my suggestions

[2021-03-05 21:24] NameIsA commented on #595
on the website i've been working on *cough* https://digitalteal.com visit or noot kidnaps you at 3 am *cough* i've set up a vars.php file that stores thing like the meta description, staff members, etc. so that the website dynamically updates them

oh speaking of which is there a meta description tag and all that?

[2021-03-05 21:24] BoredFishRE commented on #595
if you wanna see an example of a much better site I did https://boredfish.dev

[2021-03-05 21:25] NameIsA commented on #595
okie

[2021-03-05 21:25] BoredFishRE commented on #595
![sdfggasd](https://user-images.githubusercontent.com/49598984/110175183-5bfde400-7dcf-11eb-9e26-32b2d9c5fab9.PNG)
what the heck is this

[2021-03-05 21:25] NameIsA commented on #595
work in progress site kek

its not very good yet because i havent finished it

[2021-03-05 21:26] BoredFishRE commented on #595
![dfsgdfgdfg](https://user-images.githubusercontent.com/49598984/110175262-7df76680-7dcf-11eb-8166-f838e6dc6834.PNG)
I can tell

[2021-03-05 21:26] NameIsA commented on #595
lmao

[2021-03-05 21:35] NameIsA commented on #595
here's my suggestion for what to make your meta description tag:
[code]
obv you dont have to use that exact one but thats an example of what should go in there

[2021-03-05 22:22] NX721 commented on #630
No that would be too big for the menu

[2021-03-05 23:21] ArcerionDev commented on #634
why would you store it in the vps lol

[2021-03-05 23:21] ArcerionDev commented on #634
and it's like 20k characters

[2021-03-05 23:21] ArcerionDev commented on #634
if that crashes the vps that's kinda sad, since the gamemin is over 50k

[2021-03-05 23:24] ArcerionDev commented on #630
it's probably possible to give the location though, not looking into it though

[2021-03-05 23:24] #630 closed

[2021-03-05 23:47] NameIsA commented on #634
^^^

[2021-03-05 23:47] PatheticMustan commented on #632
you denied permissions to the extension, ig

[2021-03-05 23:55] #634 closed

[2021-03-06 04:19] NameIsA opened #641 "[HR]"
**Describe the hack in 69420 words or less:**
Example: Membership Hack

**Have you made sure this hack isn't available yet?* (Yes/No)**

[2021-03-06 04:19] NameIsA commented on #641
sorry didnt mean to submit that

[2021-03-06 04:23] #641 closed

[2021-03-06 04:25] NameIsA commented on #300
300th issue or pr

[2021-03-06 04:26] NameIsA commented on #600
600th issue or pr (500th is deleted or sum sad)

[2021-03-06 04:27] NameIsA commented on #600
well i've replied to all the hundred big boi numbers i really need to find a hobby

[2021-03-06 04:29] NameIsA commented on #641
hi can someone help me my american express debit card under the name bobby fancywoman isnt with the 12 digits of 365073526102146 and the 3 numbers are 214 and the date thing is 03/24 isnt going through on https://amazon.com

[2021-03-06 05:40] NX721 commented on #493
Well, Not for me.

[2021-03-06 16:07] NameIsA opened #643 "bruh uh"
im not sure which thing but malwarebytes keeps detecting some random extension as harmful and it isnt saying which one but i have a feeling its prodigymathgamehacking because it detects it every day even after i tell it to remove the extension

[2021-03-06 16:26] chick111 opened #644 "i used the hack yesterday now i cant use it the game wont load when its on can you please help me[BUG]"
***Description***:

***Replication***:

***Images***:

***Additional Errors***:

[2021-03-06 16:26] ArcerionDev opened #645 "Add VPN into PHEx"
An interesting idea, would probably help out with issues across the board if we were to build in a vpn directly into the extension.

[2021-03-06 17:12] ArcerionDev commented on #644
install and set up this extensions
https://chrome.google.com/webstore/detail/setupvpn-lifetime-free-vp/oofgbpoabipfcfjapgnbbjjaenockbdp?hl=en-US
then try again

[2021-03-06 17:15] ArcerionDev commented on #644
to setup: press "english", then press "create an account" on here:
![image](https://user-images.githubusercontent.com/60945964/110214986-59ee6080-7e75-11eb-991d-63cb39861cbd.png)
after, check all the check boxes and press "register"
![image](https://user-images.githubusercontent.com/60945964/110215006-7e4a3d00-7e75-11eb-857f-0f85ffcedc24.png)
then press "let's start"
![image](https://user-images.g

[2021-03-06 17:41] NameIsA commented on #645
yes

[2021-03-06 17:41] NameIsA commented on #644
![image](https://user-images.githubusercontent.com/61570792/110215716-25bc7500-7e60-11eb-8cfc-5dc1f16f2932.png)
it's happening to my friends too

[2021-03-06 17:42] NameIsA commented on #644
![image](https://user-images.githubusercontent.com/61570792/110215751-47b5f780-7e60-11eb-85c5-0942ac5bcf91.png)

[2021-03-06 17:42] ArcerionDev commented on #644
oh

[2021-03-06 17:42] ArcerionDev commented on #644
hacks are down lol

[2021-03-06 17:43] NameIsA commented on #644
mk

[2021-03-06 18:11] TheSchmede commented on #645
Good Idea!
Really Good Idea!
Extremely Good Idea!
Incredibly Good Idea!
I can't think of anything else...

[2021-03-06 23:51] irhrhd commented on #645
Yes very good idea well it cant be a bad idea if Arcy said it

[2021-03-07 05:16] NameIsA commented on #645
where do the vpn servers come from

botnets? they sound cool I mean what

[2021-03-07 05:45] PatheticMustan commented on #645
no

unless somebody is willing to let us use their servers, not willing to implement
not worth it either

[2021-03-07 10:02] NX721 commented on #644
![image](https://user-images.githubusercontent.com/77288637/110236158-44734800-7f02-11eb-99d0-d45732d7305d.png)
No I can play normally

[2021-03-07 10:02] NX721 commented on #644
![image](https://user-images.githubusercontent.com/77288637/110236177-5ce36280-7f02-11eb-904e-7cb4723be38a.png)

[2021-03-07 18:47] irhrhd commented on #645
Wait wait wait pick me pick me i have a proposal to make

[2021-03-07 19:01] NameIsA commented on #645
why not use botnets?

[2021-03-07 19:05] irhrhd commented on #645
Im working on a vpn just let me finish it

[2021-03-07 19:09] BoredFishRE commented on #645
A. Probably 90% of all antiviruses will have a stroke. B. Microsoft will DEFINITELY not let the extension on the store if it pointed to a botnet.

[2021-03-07 19:10] NameIsA commented on #645
i know i was being sarcastic

[2021-03-07 19:11] irhrhd commented on #645
Im working on a vpn with the node unblocker proxy dev

[2021-03-07 19:17] BoredFishRE commented on #645
@irhrhd where are you gonna even host it

[2021-03-07 19:18] irhrhd commented on #645
I dont know yet maybe heroku probably not im working on that

[2021-03-07 19:49] ArcerionDev commented on #645
I'm thinking that we might be able to piggyback off of setupvpn's servers

[2021-03-07 21:26] NameIsA commented on #645
smart how unethical on a scale of 1-10 better not be below 5

On Sun, Mar 7, 2021 at 11:50 AM Arcerion <notifications@github.com> wrote:

[2021-03-07 22:05] ArcerionDev commented on #645
Nah not unethical it's free to use

[2021-03-07 22:12] NameIsA commented on #645
oh yay

[2021-03-07 22:31] NameIsA commented on #576
THEY ACCEPTED ME https://chrome.google.com/webstore/detail/prodigyhacking/gjabpajagbgoifbkflgojeojmnlmioea?hl=en&authuser=0

[2021-03-07 22:33] BoredFishRE commented on #576
DCK WAIT NO

[2021-03-07 22:33] BoredFishRE commented on #576
CRAP

[2021-03-07 22:34] BoredFishRE commented on #576
It's just gonna be taken back down

[2021-03-07 22:34] NameIsA commented on #576
well i told them to cancel it but they said thats not a feature

[2021-03-07 22:34] NameIsA commented on #576
i'll add you all as access to it and say its made by you guys hold onnnn

[2021-03-07 22:35] BoredFishRE commented on #576
you should probably take it down before you get your dev license taken away

[2021-03-07 22:35] NameIsA commented on #576
why will my dev license get taken away for publishing the pmgh extension

[2021-03-07 22:36] BoredFishRE commented on #576
i mean you did just re upload a taken down extension

[2021-03-07 22:36] NameIsA commented on #576
actually i told them in the thing that it was taken down before but i think i fixed the copyright problem

[2021-03-07 22:40] ArcerionDev commented on #576
At this point we'll be merging pmgh and digitalteal

[2021-03-07 22:40] NameIsA commented on #576
it only says digitalteal because i dont have 2 dev licenses

[2021-03-07 22:42] BoredFishRE commented on #576
hang on there's a way to transfer a extension from one acc to another

[2021-03-07 22:44] BoredFishRE commented on #576
epic we can get the license

[2021-03-07 22:44] NameIsA commented on #576
okie i can transfer it how do i do that

[2021-03-07 22:46] BoredFishRE commented on #576
hang on just bought the license

[2021-03-07 22:46] NameIsA commented on #576
shouldnt we have just asked rus who already bought the license

[2021-03-07 22:47] BoredFishRE commented on #576
https://support.google.com/chrome_webstore/contact/one_stop_support?visit_id=637507536097641807-3426884154&rd=1 my item, i want to transfer my item. Transfer it to support@prodigyhacking.com

[2021-03-07 22:48] BoredFishRE commented on #576
he isn't in good standing with google, a lot of his stuff has gotten DMCAed lol. He isn't really active with us anyways.

[2021-03-07 22:49] NameIsA commented on #576
sent

[2021-03-07 22:49] NameIsA commented on #576
ah ok

[2021-03-07 22:53] BoredFishRE commented on #576
haven't gotten anything, prob gonna take a sec

[2021-03-07 22:54] NameIsA commented on #576
it says it sent it to the support so im assuming the support has to do something

[2021-03-07 22:54] NameIsA commented on #576
![image](https://user-images.githubusercontent.com/61570792/110257941-fdfb0900-7f54-11eb-8716-76e4004a4c02.png)

[2021-03-07 22:55] BoredFishRE commented on #576
checked the form, it says it can take up to 7 days lol

[2021-03-07 22:55] BoredFishRE commented on #576
aaaany waaayss

[2021-03-07 22:55] BoredFishRE commented on #576
nothing yet from microsoft

[2021-03-07 22:56] BoredFishRE commented on #576
still love how the "Contact the developer" email goes to your email

[2021-03-07 22:56] BoredFishRE commented on #576
have fun with the skids

[2021-03-07 22:58] NameIsA commented on #576
lmao

[2021-03-07 23:09] BoredFishRE commented on #576
@NameIsA you realize you forgot to build the extension

[2021-03-07 23:31] NameIsA commented on #576
oh uhhhhhhhhhhhhhhhhhhhhhhh well

fuck
fuck
fuck
fuck
fuck
fuck
fuck
fuck
fuck
fuck
fuck
fuck
fuc
fuck
fuck
fuck

[2021-03-07 23:38] BoredFishRE commented on #576
don't worry I compiled it

[2021-03-07 23:38] NameIsA commented on #576
i compiled it too i'll tell google to update it after it reviews my description update lol

[2021-03-07 23:43] NameIsA commented on #576
also if you havent already you should create a group publisher on your chrome web store account and add all the pmgh staff to it so that you can work on it together and stuff and like you havent even given mustan access to the email sooo you should probably add him to the group publisher or just add him to the email

[2021-03-07 23:44] NX721 commented on #576
ok

[2021-03-07 23:44] NameIsA commented on #576
also i dont understand this

if you're trying to prevent another mike incident, why are we just using the email you have control over? shouldn't it be mustan's email? he's the founder of pmgh after all.

[2021-03-07 23:47] BoredFishRE commented on #576
I accidentally paid for GSuite. I manage all the hosting crap like website, server, etc. Everyone has access to the account. Only reason is I accidentally bought the 4 year plan

[2021-03-07 23:49] BoredFishRE commented on #576
I invested WAY too much money to become another mike. If I pulled a mike, it would be hurting me more than anything

[2021-03-07 23:49] irhrhd commented on #576
Whos everyone i dont think i do

[2021-03-07 23:50] BoredFishRE commented on #576
Me, Yama, Natsumi, and Arc

[2021-03-07 23:51] irhrhd commented on #576
Oh okay i was wondering if i could help you guys

[2021-03-07 23:52] NameIsA commented on #576
@BoredFishRE okie i see

[2021-03-07 23:54] BoredFishRE commented on #576
yea i've invested about $300 into this (yes I know, it's stupid), about $250 was an accident (gsuite. cmon hostinger don't do that with me seriously like a popup), rest is Hosting and domains. Add $5 because of the dev thing and $175 because of an upgrade to a VPS.

[2021-03-07 23:55] NameIsA commented on #576
not stupid, i understand that it is coolio

[2021-03-07 23:56] irhrhd commented on #576
Oh thats sad how much muny you spent

[2021-03-07 23:57] NX721 commented on #576
"muny"?

[2021-03-07 23:58] BoredFishRE commented on #576
nah it's kinda stupid because ~~I haven't gotten paid~~ this is a hobby.

[2021-03-07 23:59] irhrhd commented on #576
Hey bored can i join the organization also you couldve just gotten free vps
from a buddie i know

[2021-03-08 00:00] NameIsA commented on #576
eh i would spend money on a hobby so idk

[2021-03-08 00:00] NameIsA commented on #576
bruh

- you dont have discord
- you cant spell
- you just popped up like a week ago

i cant read anybody's mind but im guessing they're gonna say no

[2021-03-08 00:01] NX721 commented on #576
ok

[2021-03-08 00:01] irhrhd commented on #576
Hey i can spell

[2021-03-08 00:02] NX721 commented on #576
Um Ok?

[2021-03-08 00:02] NameIsA commented on #576
your grammar's horrible tho and you misspelled quite a few things earlier

[2021-03-08 00:04] NX721 commented on #576
No not really.

[2021-03-08 00:05] NX721 commented on #576
"muny" It's money

[2021-03-08 00:06] irhrhd commented on #576
Its called a quick way of spelling it

[2021-03-08 00:06] NX721 commented on #576
Yeah by 1 letter

[2021-03-08 00:07] BoredFishRE commented on #576
he does have discord

[2021-03-08 00:07] BoredFishRE commented on #576
also, big no.

[2021-03-08 00:07] NX721 commented on #576
You forgot "I'm" before "bored"

[2021-03-08 00:07] BoredFishRE commented on #576
oh wait wrong person. Either way, big no

[2021-03-08 02:32] NameIsA commented on #644
alr

[2021-03-08 02:33] NameIsA commented on #643
ok i think MB is just high because it never removes anything and i have like 3 extensions that are pretty well-known

[2021-03-08 02:33] #643 closed

[2021-03-08 02:34] BoredFishRE commented on #644
Wow is this an issue or an email

[2021-03-08 03:15] PatheticMustan commented on #643
maybe we're secretly hacking your computer >:D
woooo! Spooky!

[2021-03-08 03:20] NameIsA commented on #643
bruh

[2021-03-08 04:25] PatheticMustan commented on #576
shit, we need a specific dimension of an image
![image](https://user-images.githubusercontent.com/35382971/110274238-5b667880-7f9c-11eb-8a94-9abf11fda15a.png)

[2021-03-08 04:27] NX721 commented on #576
ok

[2021-03-08 04:39] NameIsA commented on #576
i know that

just wait until the one i made is sent to you

[2021-03-08 13:01] BoredFishRE commented on #576
Does it need to be in the 4th dimension or does it need to be in the 2nd dimension 😏

[2021-03-08 13:04] PatheticMustan commented on #576
Submitted the extension, here's to hoping it gets accepted.

[2021-03-08 13:11] BoredFishRE commented on #576
Natsumi, DCK already got the extension approved. He's transferring it to us

[2021-03-08 13:37] PatheticMustan commented on #576
Ah shit, alright

[2021-03-08 13:54] NameIsA commented on #576
yes just wait on google's crappy customer service lmao

[2021-03-08 14:04] BoredFishRE commented on #576
@PatheticMustan i'm removing the one you submitted. Well, atleast try to.

[2021-03-08 14:05] BoredFishRE commented on #576
it's prob gonna be declined for being a duplicate

[2021-03-08 14:09] NameIsA commented on #576
yes.

[2021-03-08 14:13] NameIsA commented on #600
bump

[2021-03-08 14:29] BoredFishRE commented on #644
i'm closing this.

[2021-03-08 14:29] #644 closed

[2021-03-08 14:31] NameIsA commented on #595
bump

[2021-03-08 16:09] BoredFishRE commented on #576
I love how google is basically one of the biggest companies in the world but still takes days to transfer a single extension.

[2021-03-08 16:12] NameIsA commented on #576
they responded to my last ticket in like 2 days

[2021-03-08 16:12] NameIsA commented on #576
they can take up to 3 weeks though

[2021-03-08 16:14] BoredFishRE commented on #576
I mean, same with microsoft. 4 days and still nothing

[2021-03-08 16:15] NameIsA commented on #576
its probs because we submitted it on the weekend

[2021-03-08 16:15] BoredFishRE commented on #576
i mean like how can you be so understaffed to take this long. You can blow like more than 1 billion dollars on a failed phone that lasted for 4 months but you can't manage to review a SINGLE extension

[2021-03-08 16:16] NameIsA commented on #576
well they have to go through all the code and everything of each extension

google has a couple hundred thousand employees i wouldnt say they're understaffed just more lazy

[2021-03-08 16:16] BoredFishRE commented on #576
nah i submitted it like last thursday or friday

[2021-03-08 16:16] NameIsA commented on #576
o well still thats just like 2-3 work days

[2021-03-08 16:17] NameIsA commented on #576
Google has legit no way to cancel an extension's review but the support person said they suggested it to the dev team

[2021-03-08 16:18] BoredFishRE commented on #576
I was talking about microsoft. They spent 1 billion on the kin

[2021-03-08 16:18] NameIsA commented on #576
oo i see

[2021-03-08 16:18] NameIsA commented on #576
![image](https://user-images.githubusercontent.com/61570792/110348822-e9ffe780-7fe6-11eb-8192-14edfc945ac1.png)
h

[2021-03-08 16:20] BoredFishRE commented on #576
mozilla takes a few hours to a day to review extensions and they've got 1,000 employees. AND they're nonprofit.

[2021-03-08 16:21] NameIsA commented on #576
ah lmao

[2021-03-08 16:22] NameIsA commented on #588
bump

[2021-03-08 16:23] BoredFishRE commented on #576
I mean I understand google they've got thousands of requests every day but nobody's rushing to put an extension on the edge store. There isn't really much excuse for microsoft except for covid. It would probably still be the same turnaround time with or without covid.

[2021-03-08 16:24] NameIsA commented on #576
yes

edge is such a dead browser nobody's putting extensions on edge

[2021-03-08 16:25] BoredFishRE commented on #576
only people that use edge is A. the people that don't know how to install another browser or B. kids trying to get around restrictions on chrome.

[2021-03-08 16:28] NameIsA commented on #576
or my mom who doesnt like chrome

[2021-03-08 16:29] irhrhd opened #648 "[HR] Pet Hack"
**Describe the hack in 5 words or less:**

Pet hack
**Have you made sure this hack isn't available yet?* (Yes/No)**
Yes
————————————————————————————————————————
Make it so you can get pets by the id like Pet id [26] specific pets

[2021-03-08 16:30] NameIsA commented on #648
ok cool @PatheticMustan @ArcerionDev

[2021-03-08 16:37] irhrhd commented on #600
Bump whut

[2021-03-08 16:38] ChickenOnYT commented on #600
im just reminding people that have replied here that we need to work on this

[2021-03-08 16:39] irhrhd commented on #600
Oh okay im working on solutions

[2021-03-08 16:40] ChickenOnYT commented on #600
we'll either do tampermonkey or website thing

[2021-03-08 16:45] irhrhd commented on #600
Oh im working on bookmarklets i guess ill stop

[2021-03-08 16:45] ChickenOnYT commented on #600
we could do that but it would be too complicated

[2021-03-08 16:46] ChickenOnYT commented on #600
https://github.com/Prodigy-Hacking/Tokenify this might work if we make the user solve a captcha then we just send the captcha into prodigy

[2021-03-08 16:47] irhrhd commented on #600
Oh okay i wouldnt be able to do tampermonkey ill just try to do the
bookmarklets

[2021-03-08 16:50] ChickenOnYT commented on #600
we will have a website where you can create/modify accounts with the username and password

[2021-03-08 16:50] TheSchmede opened #650 "[BUG]Not loading."
***Description***:
It is not fully loading.
Again.

***Replication***:
Just start Prodigy and it will not load. The bar will get halfway full then not go any further.

***Images***:

***Additional Errors***:

[2021-03-08 16:51] irhrhd commented on #600
Ah okay

[2021-03-08 16:53] ChickenOnYT commented on #650
hacks are down

[2021-03-08 16:53] ChickenOnYT commented on #650
@PatheticMustan @ArcerionDev close this

[2021-03-08 16:56] #650 closed

[2021-03-08 17:21] TheSchmede commented on #650
Damn it.

[2021-03-08 17:46] Aurora270 opened #651 "[BUG]When I try to give myself runes, nothing happens."
***Description***:

***Replication***:
So after I click on the thing and insert how many I want, the green checkmark on the bottom doesn't appear and I don't get the runes.

***Images***:

***Additional Errors***:

[2021-03-08 18:51] ConnorAhern opened #654 "PHEx cleanup"
Okay, so, we need to just make `disableIntegrity.js` something like `contentScript.js`, then remove all the bulky garbage. For instance, we don't need "debug" to be an option in the public extension, just make a modified version of it where it uses localhost.

[2021-03-08 20:58] PatheticMustan opened #658 "Update instructions to include chrome web store"
see title, this issue is up for grabs

[2021-03-08 21:01] ChickenOnYT commented on #658
wait until google reviews my 20 character desscription update that's been pending for 3 days so that i can upload the bug fix on the chrome web store that will also take 3 days to be reviewed

[2021-03-08 21:03] PatheticMustan commented on #654
yeah, I think it would also be cool to have multiple builds of the extension

[2021-03-08 21:03] ChickenOnYT commented on #654
wdym

[2021-03-08 21:08] TheSchmede commented on #445
That does not work.

[2021-03-08 21:08] TheSchmede commented on #445
Also this is also a problem when I have the hack uninstalled.

[2021-03-08 21:10] PatheticMustan commented on #650
Check again, should be up

[2021-03-08 21:16] PatheticMustan commented on #445
this is why you're only supposed to use hacks on alts

[2021-03-08 21:27] PatheticMustan commented on #600
not possible, it's just not usable without modifying the game files

[2021-03-08 21:27] ChickenOnYT commented on #600
ok

[2021-03-08 23:01] TheSchmede opened #660 "Are the hacks still down?"
Are the hacks still down?

[2021-03-08 23:42] PatheticMustan commented on #660
no.

https://prodigyhacking.ml/status

[2021-03-08 23:42] #660 closed

[2021-03-09 13:14] PatheticMustan commented on #592
gg
![image](https://user-images.githubusercontent.com/35382971/110475940-71189280-80af-11eb-84c5-b81e133d208e.png)

[2021-03-09 14:23] ArcerionDev commented on #592
ight

[2021-03-09 14:23] #592 closed

[2021-03-09 14:28] ArcerionDev commented on #651
yeah trying to fix

[2021-03-09 14:28] ArcerionDev commented on #651
give me a mo

[2021-03-09 14:55] PatheticMustan commented on #563
can't replicate, ahhhhh what did they morph into

[2021-03-09 14:56] PatheticMustan commented on #467
closed due to no response

[2021-03-09 14:56] #467 closed

[2021-03-09 14:57] PatheticMustan commented on #562
@BrittanyG1150 please screenshot errors

[2021-03-09 17:02] ChickenOnYT commented on #467
i think the spells dont work or something is what they mean

[2021-03-09 17:05] BoredFishRE commented on #576
chill we removed it

[2021-03-09 17:05] ChickenOnYT commented on #576
ok

[2021-03-09 17:06] munchyluvsphex opened #664 "It wont let me open my pets or it will get me out [BUG]"
***Description***:PLEASE HELP will be pog

***Replication***:

***Images***:

***Additional Errors***:

[2021-03-09 17:06] TheSchmede commented on #445
On alts? What does alts mean.

[2021-03-09 17:11] ChickenOnYT commented on #445
alternate accounts so basically accounts you dont need you could find the ones i use by going to my yt vids i've leaked a bunch of passwords to accounts i dont use

[2021-03-09 17:18] munchyluvsphex commented on #664
how am i supposed to open console

[2021-03-09 17:18] munchyluvsphex commented on #664
it wont even let me

[2021-03-09 17:19] ChickenOnYT commented on #664
https://www.youtube.com/watch?v=yMHz0v1Wsjc

[2021-03-09 17:20] ChickenOnYT commented on #445
will be someday but it's not really top priority because people need to learn to not use these hacks on their  main accounts and we have a lot of more serious issues rn

[2021-03-09 17:21] ChickenOnYT commented on #664
i cant find a good video that isnt stretched out for ads that tells you how to open console

[2021-03-09 17:21] munchyluvsphex commented on #664
oh well my pc is bad so i cant take a screen shot

[2021-03-09 17:22] munchyluvsphex commented on #664
tommorow i can be on a playable laptop

[2021-03-09 17:25] ChickenOnYT commented on #664
ah yes that's an issue with authentication or something like that

[2021-03-09 17:26] munchyluvsphex commented on #664
is there any way to fix it and how does it happen?

[2021-03-09 17:28] munchyluvsphex commented on #664
oh ok thanks you!

[2021-03-09 17:28] munchyluvsphex commented on #664
thank*

[2021-03-09 17:28] #664 closed

[2021-03-09 17:28] ChickenOnYT commented on #664
no need to close this because it's an ongoing issue

[2021-03-09 17:35] munchyluvsphex opened #666 "Auto-Beat[HR]"
**Describe the hack in 5 words or less:**

I know you can get all of the key items already but it wont let you put it on the peddle stools, so what it should do is go to every place and do all of the challenges but im not sure how do it, i am kind of experience in Lua and I know you can do pathfinding but I'm not sure how that will work thank you!
**Have you made sure this hack isn't available yet

[2021-03-09 17:37] TheSchmede commented on #666
That is totally less than 5 words. lol

[2021-03-09 17:37] munchyluvsphex commented on #666
yes very much les than five words.

[2021-03-09 17:37] munchyluvsphex commented on #666
less*

[2021-03-09 17:38] munchyluvsphex commented on #666
@ArcerionDev

[2021-03-09 17:40] munchyluvsphex commented on #666
@ChickenOnYT

[2021-03-09 17:43] ChickenOnYT commented on #666
sigh

i placed them once, but it doesnt do anything

the ice tower isnt coded and all that

if it was i would've leaked it on the pmgw by now

[2021-03-09 17:45] munchyluvsphex commented on #666
thank you!

[2021-03-09 17:47] ChickenOnYT commented on #666
np

[2021-03-09 17:52] munchyluvsphex opened #667 "QUESTION"
***Description***:
if you were to put a code such as
//Level 100
function level100() {
PIXI.game.prodigy.player.data.level=100;
}

level100();

would they get your account info

***Replication***:

***Images***:

***Additional Errors***:

[2021-03-09 17:52] munchyluvsphex commented on #667
@ArcerionDev @ChickenOnYT

[2021-03-09 18:56] PatheticMustan commented on #667
no lmao

[2021-03-09 18:56] #667 closed

[2021-03-09 19:34] PatheticMustan commented on #564
(i was the one that wrote that but ok)

the issue is here to put it in WCM

[2021-03-09 19:37] PatheticMustan commented on #467
but which ones

[2021-03-09 20:10] spityou opened #669 "[BUG]"
hello it is still stuck loading and what happened to the redirector hack its gone off the page it looks like.

![Screenshot 2021-03-09 at 12 06 42 PM](https://user-images.githubusercontent.com/70118398/110531481-7508dc80-80d0-11eb-99bd-9c66fed6ee93.png)

[2021-03-09 20:11] ChickenOnYT commented on #669
did you use the one from the chrome web store? its broken. if you didnt use that one @ArcerionDev @PatheticMustan HELP US

[2021-03-09 20:14] spityou commented on #669
no i did not use that one for the chrome web store i just downloaded the zip file and and turned on developer mode and dragged the file in

[2021-03-09 20:15] ChickenOnYT commented on #669
ah ok crap

[2021-03-09 20:15] ChickenOnYT commented on #467
royal roar "and maybe others"

[2021-03-09 20:28] spityou commented on #669
do you want to hear a story? well i am going to to tell it anyways i have found out how to block all school proxys all you have to do is go to chrome experiments and search proxy on there and there should be a proxy there enable those two proxys and then reset you computer and then they will be enabled and then if you are on a school computer it will say that the security is suffering it won't get

[2021-03-09 21:55] spityou commented on #669
what you mean chrome blocker just sign out of you class google account or try developer mode my pressing esc + the reload button and the power button at the same time and the first time i did this i could login to any google account but i didn't do that and signed in to the school google account but when i tryed do the same thing it would only allow my to sign in to the school google account so if

[2021-03-09 22:12] ChickenOnYT commented on #669
isnt very helpful for people who use microsoft products or who have network-based blocking stuff or anything that wouldnt be affected by google chrome

[2021-03-10 02:04] Pokeroni opened #672 "Outdated Hack"
Whenever I load up the hack it says it is outdated but I can't update it when I redownload can someone help me?

[2021-03-10 02:05] irhrhd commented on #672
You have to get the new updated extension

[2021-03-10 02:06] irhrhd commented on #672
https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/blob/master/PHEx/build/extension.zip

[2021-03-10 02:06] irhrhd commented on #672
It was updated today

[2021-03-10 04:30] PatheticMustan commented on #672
istg it should automatically bring up the update page...????

[2021-03-10 04:31] PatheticMustan commented on #669
try again, @spityou. Hacks were down earlier today.

[2021-03-10 07:20] NX721 commented on #666
...

[2021-03-10 07:21] NX721 commented on #672
@Pokeroni

[2021-03-10 13:08] #669 closed

[2021-03-10 15:05] ArcerionDev commented on #666
yeah prodigy isn't coded in lua and @ChickenOnYT is right, there's no way to actually get it as of now

[2021-03-10 15:06] ChickenOnYT commented on #666
mhm

[2021-03-10 15:09] BoredFishRE commented on #672
closing this, no response from author

[2021-03-10 15:09] #672 closed

[2021-03-10 15:10] BoredFishRE commented on #658
We have ownership of extension now, will wait until they approve changes I made.

[2021-03-10 15:15] ArcerionDev commented on #666
ok so die issue

[2021-03-10 15:15] ChickenOnYT commented on #658
mk

[2021-03-10 15:48] ChickenOnYT commented on #595
https://bit.ly/prettymuchfreebitcoin

[2021-03-10 16:04] elikiller opened #673 "Let PHEx modify its own game files"
***Description***:Extension loading on halfway then stopping even when i use the bookmarklet with this code: javascript:console.log=console.clear=console.dir=_=>{}

***Replication***:

***Images***:
![Capture](https://user-images.githubusercontent.com/78311005/110659008-2cb0f380-8190-11eb-8187-c2bc9c52c26c.PNG)

***Additional Errors***:

[2021-03-10 16:06] elikiller commented on #673
blocked on this school computer
and then how do i make it work?

[2021-03-10 16:07] elikiller commented on #673
I tried using the extension but it's staying on halfway

[2021-03-10 16:07] ChickenOnYT commented on #673
ah if prodigyhacking.ml is blocked its probs not possible atm

we're working on a solution for this

[2021-03-10 16:07] elikiller commented on #673
wait, I can't use the hacks?

[2021-03-10 16:09] elikiller commented on #673
![image](https://user-images.githubusercontent.com/78311005/110659970-13f50d80-8191-11eb-8268-61c7bffd305b.png)
what's this mean?

[2021-03-10 16:09] elikiller commented on #673
uh how

[2021-03-10 16:09] ChickenOnYT commented on #673
it means your school blocked hacks

[2021-03-10 16:10] BoredFishRE commented on #673
what version is the extension

[2021-03-10 16:10] ChickenOnYT commented on #673
you cant _yet_, we're going to find a solution for this common problem very soon

[2021-03-10 16:10] ChickenOnYT commented on #673
read the error, it says failed to fetch, its bc its blocked

[2021-03-10 16:11] elikiller commented on #673
ohh by my school or smthn else?

[2021-03-10 16:14] elikiller commented on #673
would a vpn let me bypass maybe?

[2021-03-10 16:15] TheSchmede opened #674 "[BUG]I can not install the new version."
***Description***:
I downloaded the new version of the extension and put it in my extensions but it said failed to unzip. So then I tried the load unpacked but I was unable to click on the right file.

***Replication***:
Try to download the new version at: https://sourceforge.net/projects/prodigyhacking/files/2.0.2/PHEx%20Version%202.0.2.zip/download

***Images***:
![Screen Shot 2021-03-10 at 8 14

[2021-03-10 16:16] ChickenOnYT commented on #674
you dont unzip

[2021-03-10 16:19] elikiller commented on #673
:(((( there's no way to use the hacks :'(

[2021-03-10 16:21] elikiller commented on #674
me neither. No I didn't unzip it I just dragged it in

[2021-03-10 16:24] ChickenOnYT commented on #673
yes try setupvpn

[2021-03-10 16:29] elikiller commented on #673
ok ty :)

[2021-03-10 16:32] ChickenOnYT commented on #673
choose any

[2021-03-10 16:35] elikiller commented on #673
it's not working it says to download the desktop client so i did but when i tried to install it it said it was blocked by my admin :(

[2021-03-10 16:37] ChickenOnYT commented on #673
ah the vpn must be blocked

we're still working on this yknow

[2021-03-10 16:38] elikiller commented on #673
ye ik

[2021-03-10 16:38] elikiller commented on #673
like i wonder if it's possible to make an unblockable unblocker

[2021-03-10 16:39] elikiller commented on #673
imma try one thing brb

[2021-03-10 16:40] irhrhd commented on #673
proxyforschools.herokuapp.com its a proxy that me and the dev updated
recently

[2021-03-10 16:42] elikiller commented on #673
xDDDDD

[2021-03-10 16:43] BoredFishRE commented on #673
you have to do https

[2021-03-10 16:44] elikiller commented on #673
![image](https://user-images.githubusercontent.com/78311005/110665027-f8403600-8195-11eb-872f-95babc31ac91.png)

[2021-03-10 16:44] kidmike commented on #673
its not loading same

[2021-03-10 16:44] elikiller commented on #673
ughhhhh

[2021-03-10 16:46] kidmike commented on #673
whats wrong

[2021-03-10 16:47] elikiller commented on #673
WHAT'S WRONG?????

[2021-03-10 16:47] ChickenOnYT commented on #673
wait its fine for me wtf

[2021-03-10 16:47] BoredFishRE commented on #673
?

[2021-03-10 16:47] kidmike commented on #673
some body trying to kill you u see this i dont mess with scary movies

[2021-03-10 16:48] kidmike commented on #673
u dont know what wrong

[2021-03-10 16:48] kidmike commented on #673
s;

[2021-03-10 17:19] userofprodigy opened #675 "[BUG] I cannot install the new version of the app."
I have tried over and over again to update the extension but i am unable to. I made a youtube video explaining my problem and a video recording. Link: https://youtu.be/kj7MYcwu5uE
Thank you! :)

[2021-03-10 17:43] hostedposted commented on #674
try downloading it from https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/blob/master/PHEx/build/extension.zip?raw=true.

[2021-03-10 17:57] PatheticMustan commented on #673
There's no way to make "unblockable" hacks, we can just add a ton of domains and hope at least one of them work.

[2021-03-10 18:19] ChickenOnYT commented on #673
i mean like the no website redirector thing

[2021-03-10 18:24] PatheticMustan commented on #673
Hmm, yeah ig, but that comes with its own set of issues, like how would we update it?

[2021-03-10 19:01] ChickenOnYT commented on #674
please wait until the new version is published to the chrome web store

[2021-03-10 19:01] ChickenOnYT commented on #675
please wait until the new version is published to the chrome web store

[2021-03-10 19:10] userofprodigy commented on #675
okay, thanks

[2021-03-10 19:32] ChickenOnYT commented on #645
bump because arc's idea might work

[2021-03-10 19:33] ChickenOnYT commented on #675
can you close this issue btw

[2021-03-10 21:08] spityou commented on #669
it does work the only reason it would not work for network-based stuff is because you have to sign out of the school google account and it won't work for school that have microsoft stuff but most school that i have been to all had chromebooks and a lot of schools i think are switching to chromebook because they are the "cheapest"

[2021-03-10 22:10] spityou opened #679 "[BUG] it still don't work"
it still not loading and i re-downloaded it too
![Screenshot 2021-03-10 at 2 07 40 PM](https://user-images.githubusercontent.com/70118398/110704833-5f67e580-81aa-11eb-8fad-fbc38f4a37e8.png)

[2021-03-10 22:12] BoredFishRE commented on #679
Can you visit https://prodigyhacking.ml?

[2021-03-10 22:13] spityou commented on #679
no

[2021-03-10 22:14] BoredFishRE commented on #679
Is it blocked? If so, hacks will not work.

[2021-03-10 22:15] spityou commented on #679
why and what happened to the redirector hack that was on here that worked

[2021-03-10 22:16] BoredFishRE commented on #679
This works the same way the redirector worked, it's just we packed it into an extension so we can more easily do things, and the old way stopped working. We've been gaining popularity, and schools start blocking our URL to prevent cheating

[2021-03-10 22:18] spityou commented on #679
how did the old way stop working?

[2021-03-10 22:18] BoredFishRE commented on #679
the extensions we used had changed in ways that prevented it from working correctly.

[2021-03-10 22:20] spityou commented on #679
but what is on https://prodigyhacking.ml exactly

[2021-03-10 22:29] BoredFishRE commented on #679
Our custom game.min.js

[2021-03-10 22:29] spityou commented on #679
i got the redirector hack to work with the https://prodigyhacking.ml site the only problem is this
![Screenshot 2021-03-10 at 2 29 02 PM](https://user-images.githubusercontent.com/70118398/110706639-0a799e80-81ad-11eb-9a47-7155761f0f01.png)

[2021-03-10 22:33] sammypuyoy opened #680 "[BUG] ït wîłl ñøt łêt mę ūßë ñêw ûpdãtë! ît šãÿś ërrør..! hëłp mêh."
***Description***:

***Replication***:

***Images***:

***Additional Errors***:

[2021-03-10 22:34] sammypuyoy commented on #680
Fix the new cheat menu it says error its a terrible bug.

[2021-03-10 22:38] sammypuyoy opened #681 "Mãÿbê.. you can add more hair that no one else can get because i have hacked hair but I think having some on github would be easier for people who don't know how to get the other hair."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-10 22:47] spityou commented on #679
shou

should i close this

[2021-03-10 22:50] #679 closed

[2021-03-10 22:50] BoredFishRE commented on #679
stop

[2021-03-10 23:11] ChickenOnYT commented on #680
The extension is outdated, wait until the updated one is published.

[2021-03-11 00:34] TheSchmede commented on #674
Ok

[2021-03-11 00:34] #674 closed

[2021-03-11 00:35] TheSchmede commented on #674
Nice, it worked.

[2021-03-11 00:37] TheSchmede commented on #680
Dude chill!!!!!!

[2021-03-11 16:04] ArcerionDev commented on #680
in order to get an utd extension, either get the one from https://prodigyhacking.com/extension , or get the one on the webstore from [here](https://chrome.google.com/webstore/detail/prodigyhacking/gjabpajagbgoifbkflgojeojmnlmioea)

[2021-03-11 16:38] PatheticMustan commented on #680
is /extension even updated

[2021-03-11 16:39] PatheticMustan commented on #679
will consider releasing a way to self-host redirector

[2021-03-11 16:40] #675 closed

[2021-03-11 16:40] BoredFishRE commented on #680
idk if it's pointing to the right place anymore, will change if it isn't

[2021-03-11 16:40] PatheticMustan commented on #645
highly advise against, but if you want to add it..?

[2021-03-11 16:44] BoredFishRE commented on #680
https://prodigyhacking.com/extension was pointing to wrong place, fixed now

[2021-03-11 16:45] #680 closed

[2021-03-11 16:46] ChickenOnYT commented on #645
i wanna add it lol

[2021-03-11 17:17] GamingWithDestiny opened #682 "[BUG] Outdated extension"
***Description***:It says outdated version and when it wasn't outdated it wouldnt save anything on account not all pets or anything

***Replication***:Description***:It says outdated version and when it wasn't outdated it wouldnt save anything on account not all pets or anything

***Images***:
![Screenshot 2021-03-11 at 12 17 16 PM](https://user-images.githubusercontent.com/80478578/110827104-bd0c

[2021-03-11 17:22] ChickenOnYT commented on #682
i keep getting the wrong answer to this so ask @ArcerionDev

[2021-03-11 17:28] ChickenOnYT commented on #682
@PatheticMustan @ArcerionDev could you rename this issue to something more meaningful apparently my triager permissions dont let me rename things

[2021-03-11 17:28] CRobbins0867 commented on #682
@GamingWithDestiny did you try saving or no?

[2021-03-11 17:34] ChickenOnYT commented on #673
fixed yet?

[2021-03-11 17:39] ChickenOnYT commented on #634
why was this closed

[2021-03-11 18:16] PatheticMustan commented on #634
they're talking about togglable hacks, which already exist

[2021-03-11 18:18] PatheticMustan commented on #673
unfortunately the only way I can see doing this would be some *weird* shit.

either a really big refactor is required, moving all the stuff in redirector to phex, or locally hosting redirector

[2021-03-11 18:18] PatheticMustan commented on #673
both of which aren't due until 2.3.0, we should probably focus on issues the people who use it normally are facing

[2021-03-11 18:19] PatheticMustan commented on #682
(hint: maybe clicking "ok" takes you to the update page)

[2021-03-11 18:19] PatheticMustan commented on #682
wait nevermind, I'll actually fix this

[2021-03-11 18:59] CRobbins0867 opened #684 "i would like to apply to be a triager"
@PatheticMustan  Can i apply to be a triager? I am on this respiratory a lot so i would be good for the job !

[2021-03-11 19:00] irhrhd commented on #684
Its spelled repository!

[2021-03-11 19:01] CRobbins0867 commented on #684
oh sorry i was typing so fast because i really want to be a triager

[2021-03-11 19:08] #684 closed

[2021-03-11 19:09] ArcerionDev commented on #684
respiratory

[2021-03-11 19:18] ChickenOnYT commented on #634
ah

[2021-03-11 19:19] ChickenOnYT commented on #673
alright

[2021-03-11 19:57] ArcerionDev commented on #679
try using https://npmjs.com/plant

[2021-03-11 19:58] ArcerionDev commented on #679
it's a browser friendly webserver creator

[2021-03-11 19:58] ArcerionDev commented on #679
so you can get the compiled version using unpkg or smth

[2021-03-11 20:37] CyberXVI opened #685 "Add a chat to WCM"
**Describe the hack in 5 words or less:**
Say anything via chat.

**(Optional) Additional information**
N/A

**Have you made sure this hack isn't available yet? (Yes/No)**
Yes.

[2021-03-11 20:39] CRobbins0867 commented on #685
that would be a good idea i guess

[2021-03-11 20:40] CyberXVI commented on #685
@ArcerionDev
@PatheticMustan

[2021-03-11 21:10] ChickenOnYT commented on #685
we were working on this once then it kinda died

[2021-03-11 21:12] ChickenOnYT commented on #685
didnt mean to assign it

[2021-03-11 21:14] GamingWithDestiny commented on #682
like yeah i tried  like actually

On Thu, Mar 11, 2021 at 12:29 PM CRobbinsツ ***@***.***> wrote:

[2021-03-11 21:15] GamingWithDestiny commented on #682
So like when is it going to be fixed any date or time

On Thu, Mar 11, 2021 at 1:20 PM Mustan Pathetic ***@***.***>
wrote:

[2021-03-11 21:17] ArcerionDev commented on #685
yeah so this isn't possbile

[2021-03-11 21:17] ArcerionDev commented on #685
let me show you why

[2021-03-11 21:21] ChickenOnYT commented on #685
no remember our custom chat thing

[2021-03-11 21:21] ChickenOnYT commented on #682
like a few days to a week

we're people too, we have school and stuff

[2021-03-11 21:22] ArcerionDev commented on #685
not sure if that really worked

[2021-03-11 21:22] ArcerionDev commented on #685
anyway

[2021-03-11 21:22] ArcerionDev commented on #685
look

[2021-03-11 21:22] ArcerionDev commented on #685
prodigy sends a websocket request with a payload like this
![image](https://user-images.githubusercontent.com/60945964/110856737-03728f00-8286-11eb-8f7e-f94160408a17.png)

[2021-03-11 21:23] ArcerionDev commented on #685
so it gives the id of the chat phrase, which is stored in an array.

[2021-03-11 21:23] ChickenOnYT commented on #685
it would've worked but it was like making our own chat service that WCM added into prodigy

[2021-03-11 21:23] ArcerionDev commented on #685
since that we can't edit the chat phrases serverside, it won't exist for other people, so it basically will be that we're sending a raw number that doesn't have an assigned phrase

[2021-03-11 21:23] ArcerionDev commented on #685
oh I thought you meant that really old thing

[2021-03-11 21:23] ArcerionDev commented on #685
idek

[2021-03-11 21:24] irhrhd commented on #685
Yeah that would be really hard to do

[2021-03-11 21:24] ArcerionDev commented on #685
it would be impossible

[2021-03-11 21:25] irhrhd commented on #685
Prodigy could make it so you can say what ever you wanted but the
inappropriate words are blocked that would be great if they did

[2021-03-11 21:25] ArcerionDev commented on #685
it would be fairly simple to do

[2021-03-11 21:26] ArcerionDev commented on #685
but of course, it's very easy to bypass any language filter

[2021-03-11 21:27] irhrhd commented on #685
Yeah it is i know on taming io me and my friend bypassed it it was funny af

[2021-03-11 21:31] ArcerionDev commented on #685
ok well this is impossible as of now so closing this

[2021-03-11 21:32] ChickenOnYT commented on #685
actually let's just make our own like chat service and embed it into WCM we were going to do it once but it died

[2021-03-11 21:39] ArcerionDev commented on #685
alright, but this is a different topic so we can transfer it

[2021-03-11 21:43] ChickenOnYT commented on #685
wdym how is it a different topic

well like it a feature request

[2021-03-11 21:59] NX721 commented on #685
...

[2021-03-11 22:11] NX721 opened #687 "[HR] Server Side Name Hack"
So while playing Prodigy with no hacks I found this person.
![image](https://user-images.githubusercontent.com/77288637/110861898-ccec4280-828c-11eb-9599-0b2da72af9d7.png)
![image](https://user-images.githubusercontent.com/77288637/110861968-e2616c80-828c-11eb-96c8-dc1395d83211.png)
(Look at my top left corner to see that I have no Hacks. )

[2021-03-11 22:13] irhrhd commented on #687
Cause they are hacking you can see hackers you know

[2021-03-11 22:14] ChickenOnYT commented on #687
Using hacks, it's possible to remove your last name so that it doesn't show up.

[2021-03-11 22:14] ChickenOnYT commented on #687
Just use "Change Name" and select "[none]" for some things.

[2021-03-11 22:14] #687 closed

[2021-03-11 22:30] ChickenOnYT commented on #595
no specific milestone, as soon as possible

[2021-03-11 22:39] BoredFishRE commented on #595
The milestones aren for PHEx, not this.

[2021-03-11 22:39] BoredFishRE commented on #595
oops misread, disregard comment

[2021-03-11 22:43] NX721 commented on #687
How about the last name?

[2021-03-11 22:48] NX721 commented on #684
Lmao

[2021-03-11 23:20] irhrhd opened #688 "Guess who can use discord now"
Just guess

Bruh just geuss

[2021-03-11 23:23] ArcerionDev commented on #688
was an issue really required for this

[2021-03-11 23:23] #688 closed

[2021-03-11 23:24] irhrhd commented on #688
No

[2021-03-11 23:32] YamaHacks commented on #566
bugs? in WCM? nah, those are just "fun easter eggs"

[2021-03-11 23:33] ArcerionDev commented on #566
why don't you fix them then instead of complaining about them

[2021-03-11 23:35] PatheticMustan commented on #685
LMAO this was ProdigyIRC

if anybody wants to revive ProdigyIRC, it's all public I think

[2021-03-11 23:37] ChickenOnYT commented on #595
mk

[2021-03-11 23:39] ChickenOnYT commented on #685
mk

[2021-03-11 23:39] ChickenOnYT commented on #685
i'll revive it actually

[2021-03-11 23:40] ChickenOnYT commented on #687
first name: cadence
middle name: [none]
last name: [none]
nickname: [none]

[2021-03-11 23:42] PatheticMustan commented on #566
no but seriously, this is legitimately a feature, we don't want people setting their levels above 100 and complaining when it doesn't work

[2021-03-11 23:43] PatheticMustan commented on #687
no

[2021-03-11 23:47] ChickenOnYT commented on #687
Furthermore, even if this was possible, the whole goal of this repository is that you cannot damage another player's expierence.

[2021-03-11 23:48] ArcerionDev commented on #566
perhaps we should store the level in localstorage

[2021-03-11 23:53] ChickenOnYT commented on #673
i sorta feel like if a school wants to block hacks that's up to them

[2021-03-12 00:26] ChickenOnYT opened #691 "Add an analytical feature to measure user activity."
**Is your feature request related to a problem? Please describe.**
Not a problem; however, I believe that it would help PMGH to scale & grow if we could understand who's using our software and who's not.

**Describe the solution you'd like**
An analytical feature that is able to measure how much people use the hacks, at what times, in which countries, what type of devices, etc.

[2021-03-12 01:31] BX161 opened #692 "unintall hack"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-12 01:32] ChickenOnYT commented on #692
please provide more information on what you need

[2021-03-12 01:32] BX161 commented on #692
Hi, I wonder how to unintall the hack because my son couldn't play any math game after intall the hack

[2021-03-12 01:33] ChickenOnYT commented on #692
go to chrome://extensions, find "prodigymathgamehacking", and press "remove"

[2021-03-12 01:34] BX161 commented on #692
Thank you. Let me try.

[2021-03-12 01:49] ChickenOnYT commented on #692
guessing this is solved, no new replies for 15 mins

[2021-03-12 01:49] #692 closed

[2021-03-12 03:41] UntrustableRus commented on #600
I'll take on this issue, using a method that you didn't list.

[2021-03-12 03:50] UntrustableRus commented on #680
Chill with the accent marks, as someone who primarily speaks a language that uses accent marks it's very hard to read the title without my brain thinking it's French

[2021-03-12 04:01] ChickenOnYT commented on #600
add that to this issue pls

[2021-03-12 04:02] UntrustableRus opened #694 "iOS/Android Cheat Menu"
This is for discussion about the iOS/Android cheat menu development.

Alright, so I'll be able to pull it off. If we set up a proxy server, and have it proxy requests and connect to it from the device, we theoretically should be able to modify the JS that the app loads. Tomorrow I'll see if I can get it to show an alert box. I'll be the primary one working on this.

[2021-03-12 04:03] UntrustableRus commented on #600
New issue: #694

[2021-03-12 04:04] ChickenOnYT commented on #694
We already have an issue for this. Discuss in #600.

[2021-03-12 04:08] ChickenOnYT commented on #694
hm okay

[2021-03-12 04:09] ChickenOnYT commented on #600
mk

[2021-03-12 04:09] #600 closed

[2021-03-12 04:11] ChickenOnYT commented on #694
also not part of 2.1.0 because that's for bug fixes

[2021-03-12 04:11] ChickenOnYT commented on #691
@PatheticMustan @ArcerionDev @BoredFishRE thoughts?

[2021-03-12 04:14] UntrustableRus commented on #694
Yeah no problem. Can't wait to work on this tomorrow.

[2021-03-12 04:15] ChickenOnYT opened #695 "test"
**Describe the hack in 5 words or less:**

**(Optional) Additional information**

**Have you made sure this hack isn't available yet?* (Yes/No)**

[2021-03-12 04:15] ChickenOnYT commented on #695
nvm

[2021-03-12 04:15] #695 closed

[2021-03-12 04:15] ChickenOnYT commented on #694
mk

[2021-03-12 04:16] ChickenOnYT commented on #694
honestly, i would be saying all this on discord but they're all kinda upset at me rn im not sure how i offended them

[2021-03-12 04:23] UntrustableRus commented on #694
You're good.

[2021-03-12 04:31] GamingWithDestiny commented on #682
Ok cool just asking

On Thu, Mar 11, 2021 at 4:22 PM ChickenOnYT ***@***.***>
wrote:

[2021-03-12 04:54] PatheticMustan commented on #562
closed due to inactivity

[2021-03-12 04:54] #562 closed

[2021-03-12 04:54] #658 closed

[2021-03-12 04:57] PatheticMustan commented on #694
the cheat menu relies heavily on modified game files... how do you suggest we send the modified gamemin?

[2021-03-12 04:59] UntrustableRus commented on #694
Proxy

[2021-03-12 13:33] PatheticMustan commented on #691
Just like how /status keeps track of how long redirector's been up, it would be interesting to have stats like "hits today", "hits this week", etc

[2021-03-12 13:37] PatheticMustan commented on #407
Sad! The reason none of the hacks work is because it uses a completely different system, "securebattle". Any hacks we may want to use have to be made up again

[2021-03-12 13:53] elikiller commented on #694
When will out be done @UntrustableRus ?

[2021-03-12 13:54] elikiller commented on #694
It*

[2021-03-12 14:11] ArcerionDev commented on #694
@elikiller deadline is may 31st

[2021-03-12 14:12] PatheticMustan commented on #318
Bump, we're so close

[2021-03-12 14:15] ArcerionDev commented on #682
Ok so there are two issues in this.
A: Go to https://prodigyhacking.com/extension to get the latest extension version
B: The not saving issue is a separate issue.

If the extension version doesn't match the number here: https://prodigyhacking.ml/version , go to the above link to update it!

[2021-03-12 14:15] #682 closed

[2021-03-12 15:02] ChickenOnYT commented on #407
ah i see ok

[2021-03-12 15:02] ChickenOnYT commented on #407
can we just make this part of 2.2.0 so we can pretend to finish 2.1.0

[2021-03-12 15:03] ChickenOnYT commented on #691
Yes :D

[2021-03-12 15:04] ArcerionDev commented on #691
why is this part of "wcm"

[2021-03-12 15:10] elikiller commented on #694
Ok that’s fine cos I’m getting a new chrome book today so maybe it’ll work on that but I won’t have iOS anymore so I won’t be able to use the mobile cheat menu

[2021-03-12 15:24] ChickenOnYT commented on #691
it would be a feature inside WCM

[2021-03-12 15:25] ChickenOnYT commented on #691
like it would measure WCM activity

[2021-03-12 15:36] NX721 commented on #694
Hi

[2021-03-12 15:37] NX721 commented on #694
Just so you know you can't scroll the WCM in Prodigy.

[2021-03-12 15:42] ChickenOnYT commented on #694
make a new issue

[2021-03-12 15:47] ChickenOnYT commented on #595
![image](https://user-images.githubusercontent.com/61570792/110963660-314be800-8307-11eb-8469-515edc338716.png)

[2021-03-12 15:55] ChickenOnYT commented on #566
if you dont wanna be assigned unassign yourself

[2021-03-12 15:56] ChickenOnYT commented on #493
ok so this is an issue but it really just seems to happen at random, i dont think we can do this in 2.1.0, and it will be solved with a quick refresh.. let's do this in 2.2.0?

[2021-03-12 15:57] ChickenOnYT commented on #536
harmony island is 2.2.0

[2021-03-12 15:57] ChickenOnYT commented on #445
harmony island is 2.2.0

[2021-03-12 16:00] ArcerionDev commented on #566
this is definitely a serious issue so ye that's cool

[2021-03-12 16:01] ChickenOnYT commented on #563
@BrittanyG1150 what did you morph into

[2021-03-12 16:01] ArcerionDev commented on #563
I fixed this actually forget this

[2021-03-12 16:01] #563 closed

[2021-03-12 16:02] ArcerionDev commented on #563
it was because I made the number for the morph time too high

[2021-03-12 16:02] ArcerionDev commented on #563
so it couldn't process it

[2021-03-12 16:05] ChickenOnYT commented on #563
mk

[2021-03-12 16:07] ChickenOnYT commented on #491
bump

[2021-03-12 17:19] NX721 commented on #694
yea but i fixed it @ChickenOnYT

[2021-03-12 17:20] ChickenOnYT commented on #694
o mk

[2021-03-12 17:22] NX721 commented on #694
i just pressed ctrl+ - so the buttons shrink and appear enabled the button that enables the size of the WCM and it was fixed

[2021-03-12 17:31] ChickenOnYT commented on #694
mk

[2021-03-12 17:32] NX721 commented on #694
ok?

[2021-03-12 18:13] ChickenOnYT opened #698 "[HR]"
**Describe the hack in 5 words or less:**

**(Optional) Additional information**

**Have you made sure this hack isn't available yet?* (Yes/No)**

[2021-03-12 18:13] ChickenOnYT commented on #698
why doesnt the label thing work

[2021-03-12 18:31] PatheticMustan commented on #491
Related to #318

[2021-03-12 18:53] PatheticMustan commented on #691
I was thinking about adding it to redirector but ok

[2021-03-12 19:03] ChickenOnYT commented on #691
i'd prefer WCM because we could track which hacks are used the most

[2021-03-12 19:58] NX721 commented on #694
![image](https://user-images.githubusercontent.com/77288637/110992038-6118e100-8343-11eb-8bab-fddce9f8b5c5.png)
Server Overload

[2021-03-12 20:12] ChickenOnYT commented on #595
this issue is canceled the admins have overruled it whatever

[2021-03-12 20:14] ChickenOnYT opened #701 "alright"
im actually going inactive this time, as i said its hard to grow something you have no say in

[2021-03-12 20:16] ChickenOnYT commented on #701
like, i get it, im a contributor, but i once talked to this person who started a technology company, as he says you cant just have the management making all the decisions... im a coder, and even though you're the management, it destroys the organization for only some people to have the say in the group

[2021-03-12 20:17] ChickenOnYT commented on #701
if i cant influence anything, its impossible for anything to happen. there's a reason you stopped growing yknow

[2021-03-12 20:23] UntrustableRus commented on #694
Off-topic, please, keep discussion relevant to this issue.

[2021-03-12 20:27] NX721 opened #703 "Cool and Weird"
![image](https://user-images.githubusercontent.com/77288637/110994859-755edd00-8347-11eb-965c-6909d1d3d1a0.png)
Um I used a code while experimenting and found this.
![image](https://user-images.githubusercontent.com/77288637/110994905-8576bc80-8347-11eb-9a8f-643773e60bf7.png)

[2021-03-12 21:35] #703 closed

[2021-03-13 00:54] PatheticMustan commented on #595
sad, I was interested in this

[2021-03-13 01:06] ChickenOnYT commented on #595
well "overruled" as in bored and yama just said no and nobody else was online

[2021-03-13 02:00] BX161 opened #705 "glitch"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-13 02:01] BX161 commented on #705
Hello,
I would like to know why the prodigy is glitched once starting the battle. I have to restart it again and glitched again. I removed hacking but the issue is still there.

[2021-03-13 02:12] Prodigyguy opened #706 "This is not a bug this is a RED FLAG"
My friends recently saw ur hack and now reported it and gave the link away and he also tried ur hack and stayed wow really dude you use this kids can get into lots of trouble or even reseted so he got mad cause he can’t battle anything with the last hack patched he just used it once and tried removing it so he reported it to prodigy and prodigy support team responded with

On Fri, Mar 12, 2021 at

[2021-03-13 02:16] DMlightdumProdigy commented on #706
You guys are in serious trouble now... I feel bad

[2021-03-13 03:34] Prodigyguy commented on #706
Sorry I have to say this.... but prodigy knows the link to ur hack this is not a joke you can read it again... very sorry this has to happen today.

[2021-03-13 07:39] NX721 commented on #706
its obvious search up "prodigy hacks" and we are the first result.

[2021-03-13 09:56] NX721 commented on #705
Use Fix Battle Crash Before you battle.

[2021-03-13 09:57] NX721 commented on #705
How is there 3 participants

[2021-03-13 09:57] NX721 commented on #705
Oh person must have been flagged.

[2021-03-13 13:57] Hamza123-png opened #710 "Hack detected [BUG]"
Every time I went to prodigy it just doesnt let me get in the game

***Images***:
![image](https://user-images.githubusercontent.com/74549019/111032423-27df8000-83da-11eb-97fa-087963199923.png)

***Additional Errors***: I cant join

[2021-03-13 14:37] ChickenOnYT commented on #706
https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/discussions/16

[2021-03-13 14:37] ChickenOnYT commented on #706
read that

[2021-03-13 14:37] #706 closed

[2021-03-13 14:38] ChickenOnYT commented on #710
try again it should be fixed

[2021-03-13 14:38] #710 closed

[2021-03-13 14:39] ChickenOnYT commented on #705
use fix battle crash like nx721 said

[2021-03-13 14:39] #705 closed

[2021-03-13 16:20] #701 closed

[2021-03-13 18:00] GamingWithDestiny commented on #682
what is closed

On Fri, Mar 12, 2021 at 9:15 AM Arcerion ***@***.***> wrote:

[2021-03-13 18:13] ChickenOnYT commented on #595
bored says he might do it

[2021-03-13 18:14] ChickenOnYT commented on #595
so im leaving this open for now. also even if we dont use the website to grow we might grow in other ways

[2021-03-13 20:13] NX721 commented on #706
lmao

[2021-03-13 20:14] NX721 commented on #710
I just reload 3 times and it works for me.

[2021-03-13 20:39] ThEyg0wWhEnTheRs commented on #407
yes?
________________________________
From: ChickenOnYT ***@***.***>
Sent: Friday, March 12, 2021 9:03 AM
To: Prodigy-Hacking/ProdigyMathGameHacking ***@***.***>
Cc: GOD_gфw-Wней+TнзяS ***@***.***>; Comment ***@***.***>
Subject: Re: [Prodigy-Hacking/ProdigyMathGameHacking] [BUG] battle hacks don't work on harmony island (#407)

can we just make this part of 2.2.0 so we can pretend to finish 2.1.0

[2021-03-13 23:41] PatheticMustan commented on #706
yo, pog! Prodigy support responded!

@Prodigyguy, we're aware of these issues, but this is why you're supposed to use alts....
We even warned you in big letters...
![image](https://user-images.githubusercontent.com/35382971/111052739-a4e71580-842b-11eb-97fc-a32092046dc5.png)

[2021-03-13 23:42] PatheticMustan commented on #595
alright, cool.
I think it ight be a good idea to make Prodigy Hacking more *general* then it is right now. Prodigy is a pretty niche thing, maybe a general programming/game server might be cool?

[2021-03-14 00:31] ChickenOnYT commented on #595
yes i agree with that

[2021-03-14 00:31] ChickenOnYT commented on #595
but dont let prodigy hacking die

[2021-03-14 02:23] ATimeInSpace opened #711 "[BUG]"
It won't let me scroll down.
![{7E222DF3-E00B-4792-8A88-D8D1DDE14CE3} png](https://user-images.githubusercontent.com/80608216/111055266-3b263600-8442-11eb-806e-bf037ab7428f.jpg)

It doesn't have the scroll bar for some reason.

[2021-03-14 02:23] ATimeInSpace commented on #711
This might be only me though... I'm not sure.

[2021-03-14 02:24] CRobbins0867 commented on #711
let me try this real quick

[2021-03-14 02:25] CRobbins0867 commented on #711
it let's me scroll i just have to reset the page but only with the space bar...

[2021-03-14 02:47] PatheticMustan commented on #711
pain

[2021-03-14 02:51] ATimeInSpace commented on #711
Well okay. I guess I can just use the arrows on the keyboard instead.

[2021-03-14 03:06] ATimeInSpace commented on #711
Nope. The arrows don't work either.

[2021-03-14 04:28] Prodigyguy commented on #706
At I always use alts same way around but my friend not to Gud sad...

On Sat, Mar 13, 2021 at 8:26 PM DMlightdum FS ***@***.***>
wrote:

[2021-03-14 04:32] Prodigyguy commented on #706
Also tbh how do I close this Not Bug since it's just about my stupid
flipping friend reporting ur hack and I already know your trying to make
the game secure and better but how do I do that since I never in hell use
GitHub.

On Sat, Mar 13, 2021 at 8:27 PM DMlightdum FS ***@***.***>
wrote:

[2021-03-14 04:55] Prodigyguy commented on #706
And also you don’t want to see me spam E ♾ or F ♾ spam till day😂

On Sat, Mar 13, 2021 at 8:32 PM DMlightdum FS ***@***.***>
wrote:

[2021-03-14 04:56] Prodigyguy commented on #706
Also don't make me spam these cuz u might have to scroll deep

On Sat, Mar 13, 2021 at 8:55 PM DMlightdum FS ***@***.***>
wrote:

[2021-03-14 15:35] GamingWithDestiny commented on #682
what the crap i cant scroll on menu my gees

On Sat, Mar 13, 2021 at 12:59 PM Destiny Gaming ***@***.***>
wrote:

[2021-03-14 15:39] ChickenOnYT commented on #682
@NX721 do you have a solution

[2021-03-14 17:59] ChickenOnYT commented on #595
https://www.reddit.com/r/ProdigyGameExploits/ its possible to "adopt" a subreddit if you have enough karma and had an account for 30 days, could we adopt this subreddit and use it to gain more attention?

[2021-03-14 18:06] BoredFishRE commented on #595
https://www.reddit.com/r/ProdigyMathHacking/ we have one, and let's be real. Almost all our audience don't use reddit.

[2021-03-14 18:13] ChickenOnYT commented on #595
thats true but i'll still go and post on the dead subreddit just to get more attention to pmgh lol

also r/ProdigyGame has a lot of members so ey maybe

[2021-03-14 18:35] BoredFishRE commented on #595
I'm on it, everyone there absolutely hates hacking

[2021-03-14 18:46] NX721 commented on #694
Srry

[2021-03-14 18:47] NX721 commented on #711
Press Ctrl - to shrink the menu and enable "Resize Drag" to put the menu to a better size which will unlock the scroll bar.

[2021-03-14 20:02] NX721 commented on #711
@ATimeInSpace  https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/discussions/714 Go there

[2021-03-14 20:42] ChickenOnYT commented on #595
ik that's pretty normal

[2021-03-14 20:43] ChickenOnYT commented on #595
the pmgw used to hate hacking but i went and got them all to like it

[2021-03-14 21:26] Lord-Harkon opened #715 "Remove dupe pets/wands"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-14 22:15] NX721 commented on #715
(Sigh)

[2021-03-14 23:03] ATimeInSpace commented on #711
Okay, thanks.

[2021-03-14 23:27] ChickenOnYT opened #716 "e"
https://www.reddit.com/r/Stuff/comments/m575sy/take_my_survey_to_enter_a_giveaway/

[2021-03-14 23:27] #716 closed

[2021-03-14 23:53] ATimeInSpace commented on #711
Oh yay. Its working now. Thanks a lot.

[2021-03-15 00:00] #711 closed

[2021-03-15 02:49] PatheticMustan commented on #716
why

[2021-03-15 12:30] ChickenOnYT commented on #716
lmao sorry

[2021-03-15 12:30] ChickenOnYT commented on #716
i was bored idk

[2021-03-15 12:52] Lord-Harkon commented on #715
sorry but it would be helpful to me

[2021-03-15 14:46] hellonearth311 opened #717 "ItemStacker.js is broken"
The ItemStacker.js is not working.
Please fix it.

[2021-03-15 14:54] ATimeInSpace commented on #717
Can you take a picture for an example?

[2021-03-15 15:14] Hamza123-png opened #718 "Load unpacked [BUG]"
***Description***: Every time I load the unpacked file and do the installation again it keeps saying its not working

***Replication***:

***Images***:

***Additional Errors***: plz fix it

[2021-03-15 15:57] PatheticMustan commented on #718
need more information that "doesn't work". What happens? Does it stop at 50%?

[2021-03-15 15:58] NX721 commented on #717
Oops forgot to delete that, @PatheticMustan  Should I delete it?

[2021-03-15 15:59] NX721 commented on #715
Okay

[2021-03-15 15:59] PatheticMustan commented on #717
eh, just leave it for now

[2021-03-15 16:01] NX721 commented on #717
okay

[2021-03-15 16:07] NX721 commented on #718
@Hamza123-png  Can u screenshot?

[2021-03-15 16:09] hugo875 opened #721 "[HR] Dino Dig Hack"
**Describe the hack in 5 words or less:**

get extra fossils by digging
**(Optional) Additional information**

**Have you made sure this hack isn't available yet?* (Yes/No)**
yes

[2021-03-15 16:14] NX721 commented on #721
Hmm Interesting...

[2021-03-15 16:15] NX721 commented on #721
But there is already a hack that gives you all fossils @hugo875

[2021-03-15 16:35] hellonearth311 opened #722 "I think something is here, but IDK what,"
**Describe the hack in 5 words or less:**
Maybe a getitem hack?

**(Optional) Additional information**
var SW=SW||{};SW.Storage={},SW.Storage.get=function(t){return JSON.parse(localStorage.getItem(t))},SW.Storage.set=function(t,e){return!!t&&(localStorage.setItem(t,JSON.stringify(e)),!0)};
This is the code I found in the source. I think it might be possible to make it into a hack,

**Have you made

[2021-03-15 16:40] hellonearth311 commented on #722
it says 2 replies..

[2021-03-15 18:03] Hamza123-png commented on #718
It keeps saying the hack will not work and do the steps again, every time I
do them it keeps popping up the message

On Mon, Mar 15, 2021 at 12:07 PM NX721 ***@***.***> wrote:

[2021-03-15 18:06] Hamza123-png commented on #718
It keeps displaying messages saying the hack wont work

[2021-03-15 18:39] PixelMMO commented on #722
they already have that, its the advanced version of the get item hack under the inventory hacks tab

[2021-03-15 18:40] PixelMMO commented on #722
![image](https://user-images.githubusercontent.com/79719521/111204330-66bd3380-859c-11eb-850a-b140aa6f9a16.png)

[2021-03-15 18:41] PixelMMO commented on #722
@hellonearth311

[2021-03-15 21:30] PatheticMustan commented on #722
no

[2021-03-15 21:31] PatheticMustan commented on #718
we need something a bit more specific than that, what does it actually say?

[2021-03-16 00:43] UntrustableRus commented on #694
They want me working on PHEx so this is going on the backburner for a little while.

[2021-03-16 00:50] UntrustableRus commented on #536
Why did they change *everything* for harmony island? Just why? Why prodigy? Why?

[2021-03-16 02:01] #722 closed

[2021-03-16 02:03] UntrustableRus commented on #685
Self-assigning this, I can do the backend infrastructure, but @ChickenOnYT you can do front end?

[2021-03-16 02:11] UntrustableRus commented on #718
This is more of a #support in Discord question

[2021-03-16 02:12] ChickenOnYT commented on #685
yes ty

[2021-03-16 02:13] UntrustableRus commented on #685
Alright

[2021-03-16 02:15] UntrustableRus commented on #624
I think this should be a feature for all worlds, maybe?

[2021-03-16 12:33] PatheticMustan commented on #283
Pain

[2021-03-16 13:16] ChickenOnYT commented on #691
https://cdn.discordapp.com/attachments/821050192735502346/821215948059967518/DonaldOrangeTrump.png

[2021-03-16 13:29] ChickenOnYT commented on #691
ok then phex

[2021-03-16 13:33] PatheticMustan commented on #691
No, not phex either. Just redirector.

[2021-03-16 15:06] lichessgoodchesscombad opened #730 "[BUG] Prodigy not loading, even when I have deleted the extension"
does not load, even when deleted the extension

[2021-03-16 15:08] UN3N0WNGH0ST commented on #730
@PatheticMustan or @ArcerionDev do you know why this is happening

[2021-03-16 15:21] PatheticMustan commented on #730
Your account got messed up, what hacks did you use

[2021-03-16 15:34] UntrustableRus commented on #491
This needs to be worked on, so we can meet the 2.1.0 milestone in time.

[2021-03-16 15:37] UntrustableRus commented on #694
May take a little longer

[2021-03-16 18:03] HyperDiaper opened #733 "[BUG]Prodigy not loading with extension after update. Please Fix."
***Description***: The Prodigy Math Game won't load unless I delete the extension. I did everything right and after update it doesn't work.

***Replication***:

***Images***:

***Additional Errors***:

[2021-03-16 18:21] Hamza123-png commented on #718
I dont have discord but it works now

On Mon, Mar 15, 2021 at 10:13 PM Rus ***@***.***> wrote:

[2021-03-16 18:23] Hamza123-png commented on #718
![Uploading image.png…]()

[2021-03-16 18:24] Hamza123-png commented on #718
![image](https://user-images.githubusercontent.com/74549019/111360543-3f7d6980-8663-11eb-8715-956e0e12c451.png)

[2021-03-16 18:24] Hamza123-png commented on #718
When I click ok it reloades

[2021-03-16 18:25] ArcerionDev commented on #718
can you screenshot your chrome://extensions page

[2021-03-16 18:25] ArcerionDev commented on #718
@Hamza123-png

[2021-03-16 18:26] Hamza123-png commented on #718
ok

[2021-03-16 18:27] ArcerionDev commented on #718
and send it?

[2021-03-16 18:27] Hamza123-png commented on #718
![image](https://user-images.githubusercontent.com/74549019/111361009-c9c5cd80-8663-11eb-8877-e790c34a0510.png)

[2021-03-16 18:28] ArcerionDev commented on #718
yeah you have an outdated version, download a new zip at https://prodigyhacking.com/extension

[2021-03-16 18:28] Hamza123-png commented on #718
Ok

[2021-03-16 18:29] #718 closed

[2021-03-16 18:31] Hamza123-png commented on #718
THANK YOU

[2021-03-16 18:31] ArcerionDev commented on #718
yw

[2021-03-16 18:32] ArcerionDev commented on #718
if hacks still don't load, we're aware of it, there's been an issue goin around

[2021-03-16 18:34] Hamza123-png commented on #733
Same just got the new one and it shows this ...

![image](https://user-images.githubusercontent.com/74549019/111362046-bbc47c80-8664-11eb-8bb8-50193c11d47b.png)

[2021-03-16 18:34] Hamza123-png commented on #733
For very long now

[2021-03-16 18:51] Hamza123-png opened #734 "Not able to join with new update [BUG]"
***Description***: When I try to join it sticks me on the loading screen and I cant  join

***Replication***:

***Images***:
![image](https://user-images.githubusercontent.com/74549019/111363973-11018d80-8667-11eb-8a88-8211cc3a7fab.png)

***Additional Errors***:

[2021-03-16 19:23] ChickenOnYT commented on #734
hacks are down be patient

[2021-03-16 19:23] #734 closed

[2021-03-16 19:25] ChickenOnYT commented on #733
is offline be patient

[2021-03-16 19:25] #733 closed

[2021-03-16 19:26] ChickenOnYT commented on #691
alright then but like can it also track stuff like what times people use it

[2021-03-16 19:27] ArcerionDev commented on #691
ig so

[2021-03-16 19:27] ChickenOnYT commented on #730
enable the hacks then use fix battle crash and fix morph crash

[2021-03-16 19:30] LandonBoi123 opened #735 "[BUG] Prodigy won't load with the extention"
***Are you trying to get my account info? anyways this won't even let me into prodigy so please fix it!***:

***Replication***:

***Images***: https://www.mediafire.com/view/nnnc3scjto9n8gi/Play_Prodigy_-_Google_Chrome_3_16_2021_3_28_51_PM.png/file

***Additional Errors***:

[2021-03-16 19:31] ChickenOnYT commented on #735
the hacks are down we litterally told you to use an alt regardless so if you listened to us you shouldnt worry about that google reviews the source code of all extensions on the web store so im pretty sure the largest technology company in the world would notice if we were hacking you

[2021-03-16 19:31] #735 closed

[2021-03-16 20:58] UntrustableRus commented on #730
He says it's not loading, there's probably something wrong with their account.

[2021-03-16 21:28] The-Anonymous-Chicken commented on #467
I think ones that were removed from the game, like zero, batter up, etc.

[2021-03-16 21:59] ArcerionDev commented on #467
Prodigy takes out all the spells from being obtainable normally, but they're too lazy to take it out of the actual data, so that's why they show up :p

[2021-03-16 22:00] UntrustableRus commented on #669
He's factory resetting the chrome book, therefore unenrolling it from his school's GSuite organization.

[2021-03-17 01:22] LandonBoi123 commented on #730
My Client Works Fine Without Any Of The Hacks!

[2021-03-17 01:23] LandonBoi123 commented on #730
I didn't use any hacks

[2021-03-17 03:47] hellonearth311 commented on #715
sounds like a good idea!

[2021-03-17 12:33] Lord-Harkon commented on #715
thanks hellonearth
i was thinking but didnt want to do something everyone else thought of so....

[2021-03-17 16:12] ChickenOnYT commented on #730
make another issue dont hijack this one

[2021-03-17 16:13] ChickenOnYT commented on #715
ok sounds cool

[2021-03-17 16:15] hugo875 commented on #721
i mean like more fossils to dig when your in the game dino dig in prodigy *more than the limit*

[2021-03-17 16:19] ChickenOnYT commented on #721
cool

[2021-03-17 20:38] hellonearth311 opened #746 "Idea on how to fix the whole mobile cheat menu DMCA app store play store thingy.."
We can make an app has a popup  that always stays on your screen no matter what at the click of a button in the app.
We just add the same code into the Mobile WCM and click a button in the app to activate it.
Then we login to prodigy and boom!
Hack away!

[2021-03-17 20:39] ChickenOnYT commented on #746
ty for the suggestion

[2021-03-17 20:40] ChickenOnYT commented on #746
i need a review from you 3

[2021-03-17 20:41] UntrustableRus commented on #746
I'm still confused what they're saying, either way, it's not an app, it's going to be a proxy

[2021-03-17 20:41] ChickenOnYT commented on #746
ah i see ok

[2021-03-17 20:41] #746 closed

[2021-03-17 21:45] ChickenFlip commented on #721
hi

[2021-03-17 21:46] ChickenFlip commented on #721
whats this emoji or emoticon or whatever its called ( ‎╚ ‎═ ‎◢ ‎◣ ‎╝ ‎▓ ‎ﱞﱞﱞﱞﱞ…)

[2021-03-17 22:05] hellonearth311 opened #747 "[HR] how to (maybe) bring hacks back up."
**Describe the hack in 5 words or less:**
Additional info could patch hacks.

**(Optional) Additional information**
This is the load indentity code for prodigy. Might be able to patch hacks if reviewed.
"use strict";(SW=SW||{}).LoadIdentity={},SW.Errors={};var settings={store:window.sessionStorage};SW.LoadIdentity.browserName=null,SW.LoadIdentity.env=null,SW.LoadIdentity.devicePlatform=null,SW.Loa

[2021-03-17 22:23] ChickenOnYT commented on #747
bruh

[2021-03-18 00:29] Hamza123-png commented on #734
But it still doesn't work

On Tue, Mar 16, 2021 at 3:24 PM ChickenOnYT ***@***.***>
wrote:

[2021-03-18 02:32] ChickenOnYT commented on #734
i know be patient we're working on it

[2021-03-18 02:56] hellonearth311 opened #748 "Our mobile WCM developing."
Can someone tell me where to help develop?
I want to help the PMGH repo in some way.
Thanks.
(I've found a simple way to (maybe) pull this off with that Proxy Server).
Thanks,
hellonearth311.

[2021-03-18 03:41] hellonearth311 opened #750 "[HR] Enable all functions while waiting on titan battle"
Make a hack in WCM that lets you do things you can't do while waiting for a team titan battle to start.
Yes, it is not currently available.

[2021-03-18 03:46] hellonearth311 commented on #730
Hi, I think what happened was his account was reviewed by Prodigy Staff (this is very rare) and classified as a hacked account possibly because the immense amount of gold.
If you have a LOT of gold with hacks, like 99999999999999999999 or something like that, they know it would take thousands/millions/billions/trillions of years to get that much gold even if you got 100 gold per second.
As you may

[2021-03-18 04:44] PatheticMustan commented on #730
Doubt doubt doubt, it's probably just that his account has some glitched pets or morph

[2021-03-18 04:47] #747 closed

[2021-03-18 04:48] PatheticMustan commented on #747
Reposting the game.min isn't going to do anything

[2021-03-18 12:24] Hamza123-png commented on #750
That makes no sense

¯\(°_o)/¯

[2021-03-18 12:27] Hamza123-png commented on #730
I made a teacher account, used that to make 40 alts per second
and then just keep using those alts to annoy prodigy XD
it works cuz you just need to click a few buttons to make an account as a teacher

[2021-03-18 12:27] Hamza123-png commented on #730
The alts were "students"

[2021-03-18 14:13] NX721 commented on #750
Oh you mean enable all options while starting a team battle.
Will look into it.

[2021-03-18 14:14] NX721 commented on #730
Doubt That's it.

[2021-03-18 14:15] NX721 commented on #283
Lmao

[2021-03-18 14:16] NX721 commented on #493
True.

[2021-03-18 14:17] hellonearth311 commented on #750
thx

[2021-03-18 14:43] hellonearth311 commented on #750
i think it's also WCM..

[2021-03-18 14:46] ChickenOnYT commented on #730
prodigy has been around since like 2011 or something too

yeah prodigy never bans anyone lol

[2021-03-18 15:55] hostedposted opened #756 "[BUG] Hosting redirector does not work."
***Description***:
I tried hosting redirector, but when I go to http://localhost:1337 the page never loads.

***Replication***:
Run redirector using node.

[2021-03-18 16:29] hugo875 commented on #721
did you find out yet?

[2021-03-18 16:31] NX721 commented on #756
We will fix it. Thank you for telling us.

[2021-03-18 16:31] NX721 commented on #756
Use the WCM for now.

[2021-03-18 16:32] hugo875 commented on #756
i don't use redirector anymore

[2021-03-18 16:32] hugo875 commented on #756
i use wcm

[2021-03-18 16:35] hostedposted commented on #756
I use wcm but I like hosting it my self. Instead of using https://prodigyhacking.ml.

[2021-03-18 17:26] PatheticMustan commented on #756
Are there any errors?

[2021-03-18 17:29] PatheticMustan commented on #730
@lichessgoodchesscombad, screenshot the errors you have, and tell us what hacks you used.

any off topic comments on this post will be deleted, and I will put you on a wall of shame

[2021-03-18 17:54] PatheticMustan commented on #756
Oh yes, uh... that might need to be updated

[2021-03-18 17:55] PatheticMustan commented on #756
Does locking an issue allow the OP to post?

[2021-03-18 17:59] hostedposted commented on #756
According to this [link](https://docs.github.com/en/github/building-a-strong-community/locking-conversations#:~:text=Repository%20owners%20and%20collaborators%2C%20and,to%20defuse%20a%20heated%20interaction.&text=Locking%20a%20conversation%20creates%20a,read%20access%20to%20the%20repository):

While a conversation is locked, only people with write access and repository owners and collaborators can

[2021-03-18 18:13] PatheticMustan commented on #493
@ChickenOnYT, you can't just procrastinate everything, you know..?

[2021-03-18 18:43] spityou commented on #669
correct

[2021-03-18 18:50] NX721 opened #758 "Escape Battle Throws Error"
So I was seeing if any of the hacks work (Because I want a Bug Hunter role on Discord) and I found out that the Escape Battle Hack doesn't do anything in a battle, but responds when you're not in one.

Here is the error in console.

![image](https://user-images.githubusercontent.com/77288637/111681162-55249780-87f9-11eb-87ab-a9b43dbaed9f.png)

[2021-03-18 19:01] NX721 commented on #1
The first issue...

[2021-03-18 19:07] NX721 commented on #564
Apparently, there isn't any secret male hairstyles, but there are a few for female.

[2021-03-18 19:59] hostedposted commented on #756
Just saw that redirector was replaced with P-NP.

[2021-03-18 19:59] #756 closed

[2021-03-18 21:25] NX721 commented on #748
Add a file and make a pull req @hellonearth311

[2021-03-18 22:41] ArcerionDev commented on #566
I have an ok fix, closing until prodigy updates their apis

[2021-03-18 22:41] #566 closed

[2021-03-18 22:44] ArcerionDev commented on #491
ok so there is no true way to detect if they're broken or not, I've found out that much.
I'm going to kill 2 birds with one stone by removing `Edit Pet`, because it really isn't necessary, and doesn't work anyway.
After removing it, we can run assignRandomSpells on an interval.

[2021-03-18 22:48] ArcerionDev commented on #283
I just implemented this lol

[2021-03-18 22:48] #283 closed

[2021-03-18 22:48] ChickenOnYT commented on #491
bruh it might be possible

[2021-03-18 22:49] ChickenOnYT commented on #491
we look at the spells and check if any pets have a spell that isnt there

[2021-03-18 22:50] ArcerionDev commented on #529
can't you just like

[2021-03-18 22:50] ArcerionDev commented on #529
idek

[2021-03-18 22:51] ArcerionDev commented on #529
build wcm and then paste the bundled file into console to update the menu for the last one
regardless, if we really want to pursue a locally hosted menu, we can move it to a new issue.

[2021-03-18 22:51] #529 closed

[2021-03-18 23:21] ChickenOnYT commented on #493
finee

[2021-03-19 00:53] ThatOneKid958GitHubIsASs opened #761 "[BUG] When reset character on an alt acc it dosnt show on another device what you have done on another device."
***When I go on an alt I put everything possible and click reset and go to another device or the same device it just shows that I’m lvl 1 and I don’t have s#$* at all. ***:

***idk what this is supposed to be***:

***No images no cap not trying this on my main ***:

***Reset button issue***:

[2021-03-19 01:01] ThatOneKid958GitHubIsASs commented on #761
Was this supposed to happen cuz I tried this on alt got everything. Came back reset. Change name and got everything and came back. And when I came back once again I’m lvl 1 and my alt dosnt got any hack that I put on. Either u don’t care or it’s a real issue.

[2021-03-19 05:08] achen6067 opened #762 "[BUG]"
***Description***:
Y'all fricken said it was fixed but it still loads half way for me

***Replication***:

***Images***:
![image](https://user-images.githubusercontent.com/80373897/111734037-9fd0fe80-884f-11eb-981a-70a4693b85f6.png)

***Additional Errors***:

[2021-03-19 06:35] NX721 commented on #762
Try doing the steps again or restarting your device.

[2021-03-19 07:51] NX721 commented on #761
If Save Character doesn't work then Battle!
I mean wtf

[2021-03-19 08:00] NX721 opened #763 "[MPL] License Violation"
I have found someone's channel using the WCM without any credit in all of his videos. He also has 1 of our old files (src_.zip) and he uses many of our hacks, and says that it's fake on @ChickenOnYT updated hack video, saying that it doesn't work, even though he uses it himself.  SO I think he's copyrighting the WCM and taking credit for himself. [http://youtube.com/watch?v=JBvt4P0TGVE]
 (Link for

[2021-03-19 11:33] BoredFishRE commented on #762
Please name your bugs and send screenshots of the console.

[2021-03-19 11:33] #762 closed

[2021-03-19 12:30] PatheticMustan commented on #758
nice, another bug hunter!

[2021-03-19 12:32] PatheticMustan commented on #1
indeed, I don't know if we ever finished it....

[2021-03-19 12:35] PatheticMustan commented on #564
Possibly related
https://gist.github.com/PatheticMustan/8986e95884f78a22da9958624d597019

[2021-03-19 12:44] PatheticMustan commented on #756
Sorry, we should probably update the docs

[2021-03-19 13:02] PatheticMustan commented on #748
If you want, you can ask @UntrustableRus, who's working on it most

[2021-03-19 13:06] PatheticMustan commented on #529
that's so scuffed

[2021-03-19 13:18] PatheticMustan commented on #761
after doing hacks, just walk around or something. It should save after a battle, or buying a thing

[2021-03-19 13:44] doormatt-cool opened #764 "Cant log in"
If I try to use the extension then the game just won't load. If I don't use the extension then I can play prodigy perfectly fine. Please fix

[2021-03-19 13:53] ArcerionDev commented on #764
please send a screenshot of your console when trying to enter the game

[2021-03-19 13:54] ArcerionDev commented on #763
feel free to dm me, but please don't open an issue for this

[2021-03-19 13:54] #763 closed

[2021-03-19 13:55] #761 closed

[2021-03-19 13:55] hellonearth311 commented on #748
Alright, thx.

[2021-03-19 13:55] #748 closed

[2021-03-19 13:58] hostedposted opened #767 "[BUG] Loading local character does not work."
***Description***:
When you load character it can not parse playerdata.

***Replication***:
Load playerdata.

***Images***:
![](https://user-images.githubusercontent.com/70211235/111790925-1a723c00-8899-11eb-84a8-4162dc9468f8.JPG)

***Additional Errors***:
I tried hosting willsCheatMenu and stringifying playerdata but then it would give this error:
![](https://user-images.githubusercontent.com/702

[2021-03-19 14:21] PatheticMustan commented on #767
confirmed, will fix now

[2021-03-19 14:35] NX721 commented on #758
😄

[2021-03-19 14:35] NX721 commented on #763
mk

[2021-03-19 14:38] PatheticMustan commented on #493
I've neglected the hacks for so long...!?!?!?

[2021-03-19 14:38] NX721 commented on #758
Arcerion said the bot for the Bug Hunter role was broken.

[2021-03-19 14:41] NX721 commented on #750
But if we do this what if someone travels, and it crashes the game?

[2021-03-19 14:44] hostedposted commented on #767
@PatheticMustan gives this a error: ![](https://user-images.githubusercontent.com/70211235/111791406-8b195880-8899-11eb-98b7-f0693ef971d6.JPG)

[2021-03-19 15:15] hostedposted commented on #767
@PatheticMustan Now errors with this:

![](https://user-images.githubusercontent.com/70211235/111802438-5bbc1900-88a4-11eb-9901-d36301d69173.JPG)

[2021-03-19 15:24] hellonearth311 opened #770 "[HR] Walk thru walls."
**Describe the hack in 5 words or less:**
Walking thru walls.

**(Optional) Additional information**
Make a WCM toggler that when enabled, lets you walk thru anything.

**Have you made sure this hack isn't available yet?* (Yes/No)**
Yes.

[2021-03-19 15:24] hellonearth311 commented on #750
Just make it so the Map is still disabled.
Everything else is enabled,

[2021-03-19 15:42] NX721 commented on #770
You mean walk through game borders, and that might be confusing for other players, but we'll look into it.

[2021-03-19 15:58] NX721 commented on #758
@PatheticMustan  I want to apply for Customer Service

[2021-03-19 16:07] NX721 commented on #764
Try restarting your device, then follow the steps again. If that doesn't work, try entering Prodigy, do a battle and do the installation steps again.

[2021-03-19 16:12] NX721 commented on #1
Lmao

[2021-03-19 16:13] NX721 commented on #1
Hmm I can try finding this...

[2021-03-19 16:25] hugo875 commented on #721
@ChickenOnYT did you find out @ArcerionDev @PatheticMustan @NX721

[2021-03-19 18:26] Nebluff102938888 opened #771 "New pet in Prodigy "Add Pet" Feature Request"
Can Prodigy Hacking add "The Ancient" as an Add Pet option? If you can add The Ancient on the Add Pet list that'd be INCREDIBLE!

[2021-03-19 18:27] irhrhd commented on #771
Thats not possible just like the titan isnt 🤦‍♂️

[2021-03-19 18:30] Nebluff102938888 commented on #771
Oh...

[2021-03-19 18:51] NX721 commented on #771
Not possible, Ancient ID is a boss not a pet ID same with The Titan ID

[2021-03-19 18:52] NX721 commented on #771
If it was possible, it would break the game.

[2021-03-19 18:52] NX721 commented on #771
@Nebluff102938888  Close This Please.

[2021-03-19 19:25] NX721 commented on #721
Still figuring...

[2021-03-19 20:11] hellonearth311 commented on #565
how do i do wands? when i try to wand "access denied" xml file no styling thingy shows up.

[2021-03-19 21:00] achen6067 opened #773 "Prodigy keeps loading half way when I have the extension on"
***Description***:
Prodigy keeps loading half way can you fix that

***Replication***:

***Images***:
![image](https://user-images.githubusercontent.com/80373897/111841599-950c7d00-88d4-11eb-9d71-183b607e802d.png)

***Additional Errors***:

[2021-03-19 21:02] NX721 opened #774 "Locally Load throws error"
![image](https://user-images.githubusercontent.com/77288637/111841758-da30af00-88d4-11eb-90d7-711484738591.png)
Here is your error! (@ArcerionDev  when are we gonna have the interview?)

[2021-03-19 21:03] achen6067 commented on #774
Hi

[2021-03-19 21:35] achen6067 commented on #773
Oh and here picture of console

![Uploading image.png…]()

[2021-03-19 21:40] hellonearth311 opened #775 "[BUG] I can only go in epic arena with Ecplise, Diveodile, and Magmischief."
***Description***:
Any other epic just shows the swirly animation but doesn't teleport me.

***Replication***:
go in the epic arena with the extension

[2021-03-19 22:34] irhrhd opened #778 "Mobile"
I know how to get the hacks on mobile

[2021-03-20 02:49] hellonearth311 commented on #778
omg tell me :D

[2021-03-20 02:52] ChickenOnYT commented on #778
interest

[2021-03-20 15:19] #493 closed

[2021-03-20 16:05] NX721 commented on #775
Can u show a screenshot @hellonearth311

[2021-03-20 17:35] irhrhd commented on #778
There is a shortcut that can run javascript like the javascript for hacking

[2021-03-20 18:31] hellonearth311 commented on #775
https://user-images.githubusercontent.com/79378144/111881878-a14e1400-8980-11eb-80cd-1911ae354572.mp4

[2021-03-20 18:33] PatheticMustan commented on #775
could you show it going into the arena?

[2021-03-20 18:33] hellonearth311 commented on #775
there u go a video

[2021-03-20 18:33] PatheticMustan commented on #491
:| arc... there's a solution

[2021-03-20 18:34] hellonearth311 commented on #775
i cant go in the arena.
only magmischief, diveodile, and eclipse

[2021-03-20 18:34] UntrustableRus commented on #491
Why was this closed? Honestly seems very possible.

[2021-03-20 18:34] hellonearth311 commented on #775
i'll show magmischief going in arena.

[2021-03-20 18:38] hellonearth311 commented on #775
https://user-images.githubusercontent.com/79378144/111882084-8e880f00-8981-11eb-9a4e-42a74175db6a.mp4

[2021-03-20 18:48] PatheticMustan commented on #770
dupe of #624

[2021-03-20 18:48] #770 closed

[2021-03-20 18:49] #771 closed

[2021-03-20 18:50] #774 closed

[2021-03-20 18:50] PatheticMustan commented on #774
already known

[2021-03-20 18:51] PatheticMustan commented on #773
oh, now this is an actual error!

Can you attach the gamemin?

[2021-03-20 18:51] PatheticMustan commented on #775
oh, wow

[2021-03-20 20:54] NX721 commented on #579
Use, close all popups and press disable inactivity kick

[2021-03-21 02:21] ChickenOnYT commented on #773
blocked by client. something on their device blocked it.

[2021-03-21 02:22] BoredFishRE commented on #583
Lmao this is because the extension couldn't reach prodigyhacking.ml. one of the reasons i did https://github.com/Prodigy-Hacking/ProdigyMathGameHacking/commit/52995b39aaded8cfca58af667ad33466d69607e0

[2021-03-21 05:22] achen2341 commented on #773
Sorry for not responding

[2021-03-21 05:23] achen2341 commented on #773
BoredFish did something so I couldn't say anything and now I decided to make a new account

[2021-03-21 05:23] achen2341 commented on #773
What is gamemin?

[2021-03-21 05:28] achen2341 commented on #773
Nevermind I found it here a picture of it

![image](https://user-images.githubusercontent.com/81065431/111894868-b8bee880-89e4-11eb-9051-605229069f5c.png)

[2021-03-21 05:31] achen2341 commented on #773
Here more picture of the console

![image](https://user-images.githubusercontent.com/81065431/111894910-3551c700-89e5-11eb-9830-3192a37e0206.png)

[2021-03-21 13:25] ChickenOnYT commented on #773
its blocked by your computer

[2021-03-21 13:35] ChickenOnYT commented on #579
he has a PC now he told me on discord

[2021-03-21 13:35] ChickenOnYT commented on #579
@NX721 i keep thinking you're @irhrhd because you type similar lmao

[2021-03-21 15:09] achen2341 opened #784 "Prodigy keeps loading half way when I use the extension"
***Description***:
The extension keeps loading half when I try to log in prodigy

***Replication***:

***Images***:
Here is the console

![image](https://user-images.githubusercontent.com/81065431/111909994-e2543000-8a35-11eb-808d-69790ea87e39.png)

***Additional Errors***:

[2021-03-21 15:33] achen2341 opened #785 "Y'all keep fuckin banning me"
***Description***:
PMGH keeps on fuckin banning me for no reason

***Replication***:

***Images***:

***Additional Errors***:

[2021-03-21 15:45] #785 closed

[2021-03-21 16:53] achen2341 opened #788 "Prodigy keeps loading half way when I use the extension.zip"
***Description***:
Prodigy loads half way when I use the extension.zip

***Replication***:

***Images***:
Here picture of console

![image](https://user-images.githubusercontent.com/81065431/111913403-585f9380-8a44-11eb-8f3e-39f7c0f1fd27.png)

***Additional Errors***:

[2021-03-21 16:54] ChickenOnYT commented on #788
its blocked by your school, nothing we can do about it unless you have another device, feel free to hmu on ebay if you dont have any other devices and wanna buy one

[2021-03-21 17:00] ChickenOnYT commented on #764
please try to buy from me on ebay and then see if it works

[2021-03-21 17:00] ChickenOnYT commented on #764
jk just do what arc and nx said

[2021-03-21 17:01] ChickenOnYT commented on #764
but buying from me isnt that bad of an idea..

[2021-03-21 18:30] NX721 commented on #750
Hey did u make a discord acc?

[2021-03-21 18:52] PatheticMustan commented on #764
@doormatt-cool, please screenshot the errors in console...

[2021-03-21 18:52] PatheticMustan commented on #788
it's not because it's blocked by school

[2021-03-21 18:55] PatheticMustan commented on #773
this is not the error

[2021-03-21 19:07] NX721 commented on #764
Or restart ur device

[2021-03-21 19:12] ChickenOnYT commented on #773
oh i see

[2021-03-21 19:39] NX721 commented on #767
I made an issue for this already

[2021-03-22 11:51] UntrustableRus commented on #778
#694 Already 10 issues about mobile.

[2021-03-22 12:19] #778 closed

[2021-03-22 12:19] PatheticMustan commented on #778
Bookmarklets aren't anything new...

[2021-03-22 12:30] PatheticMustan commented on #764
@doormatt-cool I need to know if the error still occurs, and more information about the error itself. Pleaseeeee screenshot, or we'll close this issue

[2021-03-22 12:31] PatheticMustan commented on #788
Let's just move to #764

[2021-03-22 12:31] #788 closed

[2021-03-22 12:35] PatheticMustan commented on #764
Typo :P

[2021-03-22 12:47] PatheticMustan commented on #775
Related to #577

[2021-03-22 13:57] NX721 commented on #764
😛

[2021-03-22 16:46] UN3N0WNGH0ST opened #789 "question about the item stacker in the hacks folder"
does the item stacker work in the bookmarklet-maker. if so, you could let know how to make it work

[2021-03-22 16:48] Estar-art commented on #773
i still can not load it up

[2021-03-22 16:49] NX721 commented on #789
No @UN3N0WNGH0ST It's patched but we will fix it.

[2021-03-22 16:50] UN3N0WNGH0ST commented on #789
oh ok thanks btw do you know around the time it will be fixed

[2021-03-22 16:51] NX721 commented on #789
Idk but give me ur discord tag and user and i'll imform u
Thx and close this pls!

[2021-03-22 16:53] NX721 commented on #789
@UN3N0WNGH0ST  Thank you for your support on this issue.

[2021-03-22 16:54] UN3N0WNGH0ST commented on #789
okay i have to make a new discord account my was hacked so ill tell you when i did its probably going to be my Github user tho and your welcome

[2021-03-22 16:54] #789 closed

[2021-03-22 16:55] NX721 commented on #789
Okay My user is NX721 and my tag is #1595

[2021-03-22 16:58] UN3N0WNGH0ST commented on #789
okay ill add you when i made my discord account also if its not my actual Github it will be something close

[2021-03-22 18:14] UN3N0WNGH0ST opened #790 "where do i find the new hack system?"
where do i find the new hack system that you want people to test?

[2021-03-22 18:16] ArcerionDev commented on #790
we just have a new redirector system. if you find any bugs with the hacks just tell us, no need to do anything different

[2021-03-22 18:17] UN3N0WNGH0ST commented on #790
okay got it

[2021-03-22 18:17] #790 closed

[2021-03-22 18:19] NX721 commented on #789
K

[2021-03-23 12:32] UntrustableRus commented on #298
We'll be making our own docs/wiki soon, so we can just forget about the docs folder, remove it, and add the link to the docs/wiki site when it comes out?

[2021-03-23 12:34] UntrustableRus commented on #654
They want me working on PHEx but when I try to they tell me they don't want to have to go through the approval process again

[2021-03-23 12:46] ArcerionDev commented on #298
we're just making a wiki
not docs

[2021-03-23 14:19] PatheticMustan commented on #654
sad

[2021-03-23 14:41] NX721 commented on #775
@PatheticMustan  Seems that this is the error
![image](https://user-images.githubusercontent.com/77288637/112164515-51f82580-8bc4-11eb-8e5f-01c5502026a7.png)

[2021-03-23 15:55] lfmarinescu commented on #773
and i am on a non monitored pc that i bought
so idk why

[2021-03-23 15:56] lfmarinescu commented on #773
proof:
![image](https://user-images.githubusercontent.com/63551218/112176841-d2238880-8bce-11eb-8809-f2b95fd068ca.png)

[2021-03-23 16:04] hugo875 opened #792 "cant login"
***Description***:
cant login to my acc

***Replication***:
cant login to my acc

***Images***:

![image](https://user-images.githubusercontent.com/78926064/112178078-df8d4280-8bcf-11eb-9bd7-a55ab9f53997.png)

***Additional Errors***:

[2021-03-23 16:23] Hamza123-png commented on #792
SAME

[2021-03-23 16:28] UN3N0WNGH0ST commented on #792
@Hamza123-png @hugo875 same does anyone know why or have any ideas why?

[2021-03-23 16:43] NX721 commented on #792
Either you have given yourself too much resources and Prodigy has noticed (And disabled your account) or they caught you hacking. (Use an Alt account)

[2021-03-23 16:43] NX721 commented on #792
@Hamza123-png @UN3N0WNGH0ST @hugo875

[2021-03-23 16:45] NX721 commented on #792
### _**Make an Alt Account and not your primary one.**_

[2021-03-23 16:46] NX721 commented on #750
I meant we "will" not wcm

[2021-03-23 16:47] UN3N0WNGH0ST commented on #792
@NX721 i made a discord account and dm you, also i already tried making 2 or 3 new accounts and it's still stuck (btw i tried both the extension method and the google chrome store method

[2021-03-23 16:51] NX721 commented on #792
Okay @UN3N0WNGH0ST Can u restart ur device

[2021-03-23 16:52] UN3N0WNGH0ST commented on #792
yeah i did alreayd but i guess ill do it again and tell you if it works or not

[2021-03-23 16:53] UN3N0WNGH0ST commented on #792
oh nvm i just checked the discord and the hacks are down they said

[2021-03-23 18:27] PatheticMustan commented on #792
try again, hacks should be up

[2021-03-23 18:28] PatheticMustan commented on #750
what

[2021-03-23 18:30] PatheticMustan commented on #773
try again, hacks should be online now

[2021-03-23 18:35] NX721 commented on #792
Okay

[2021-03-23 18:39] NX721 commented on #792
Can someone close this?

[2021-03-23 18:44] NX721 commented on #579
Wtf

[2021-03-23 18:44] NX721 commented on #579
Wdym

[2021-03-23 18:51] NX721 commented on #717
No need to

[2021-03-23 18:57] jakedasnake1 commented on #792
Still not loading
<img width="640" alt="Screen Shot 2021-03-23 at 2 54 28 PM" src="https://user-images.githubusercontent.com/62823842/112202679-06f00980-8be8-11eb-8783-a218a321c1a7.png">

[2021-03-23 19:12] NX721 commented on #792
mk mk

[2021-03-24 01:05] WillBillDillPickle opened #793 "[HR] I think you should make it so we could control the level of our pets because I'm tired of grinding my epics to level 80."
**Describe the hack in 5 words or less:**

I think you should make it so we could control the level of our pets because I'm tired of grinding my epics to level 80.
**(Optional) Additional information**
Maybe even control the moves it learns. idk.
**Have you made sure this hack isn't available yet?* (Yes/No)**
No.

[2021-03-24 06:11] UN3N0WNGH0ST commented on #793
@WillBillDillPickle it was a thing where you could change the pet level and attacks but i do not know what they did to that feature.

[2021-03-24 09:31] NX721 commented on #793
They juat used `/*` to hide the scrript and not make it active but it's still there

[2021-03-24 11:33] WillBillDillPickle opened #794 "Can you make a video about how to update please?"
**Is your feature request related to a problem? Please describe.**
I still don't understand how to update. I read the instructions, but when I go back on my main, it still gives me the pop-up. [...]

**Describe the solution you'd like**
I think the solution is that you should make a video about it.

**Describe alternatives you've considered**

**Additional context**

[2021-03-24 12:05] PatheticMustan commented on #717
Will fix itemstacker

[2021-03-24 12:27] PatheticMustan commented on #794
Sorry, we should've added alrernative instructions; we're still waiting on the chrome web store to update.

[2021-03-24 12:57] Hamza123-png commented on #792
I ONLY use an alt but every alt doesn't work even if its new

[2021-03-24 13:36] ArcerionDev commented on #793
yeah I figured this out dw

[2021-03-24 13:46] NX721 commented on #793
Ok

[2021-03-24 13:47] NX721 commented on #758
...

[2021-03-24 13:47] hugo875 commented on #792
@NX721 gonna close this

[2021-03-24 13:47] #792 closed

[2021-03-24 14:27] #793 closed

[2021-03-24 14:27] NX721 commented on #794
Deleted Emojis
![image](https://user-images.githubusercontent.com/77288637/112327149-8e428900-8c8b-11eb-9f49-e75ac47ff973.png)

[2021-03-24 14:28] BoredFishRE commented on #794
Please don't post off topic stuff.

[2021-03-24 14:31] NX721 commented on #794
Ok srry

[2021-03-24 15:21] hugo875 commented on #721
@PatheticMustan @ChickenOnYT @NX721 this must be hard

[2021-03-24 16:01] LeoBadeaux commented on #694
Rus is assigned to work on PHEx, and I'll be taking over this issue. I'll work on it when I get home, and I have to figure out how this new hack system works.

[2021-03-24 16:18] hugo875 commented on #721
@PatheticMustan @ChickenOnYT @NX721 you must of been working hard on this hack request

[2021-03-24 16:43] hugo875 commented on #792
exactly

[2021-03-24 16:58] PatheticMustan commented on #721
It's a low priority, due at the end of april...

[2021-03-24 17:00] PatheticMustan commented on #694
Leo/Rus split personality?!?!

[2021-03-24 17:13] PatheticMustan opened #800 "TODO"
This is embarrassing... We completely forgot about #412!
It would be cool to work on this until 5k. Any additional suggestions will be saved for road to 6k.

- [ ] Fix broken hacks on harmony island
- [ ] Hosted arena hacks
- [x] Online Dashboard
- [x] Eval console
- [x] An index page for the extension
- [x] Easy mode
- [x] Quest hacks
- [x] Toggle click teleporting
- [ ] Triggering battles with c

[2021-03-24 17:13] PatheticMustan commented on #800
Also cool, we got #800! What a cool number!

[2021-03-24 17:56] PatheticMustan commented on #794
maybe @ArcerionDev can save us with his video editing skills++?

[2021-03-24 17:58] PatheticMustan commented on #758
Have some patience

[2021-03-24 19:06] NX721 opened #804 "Hack Request"
Heya, I was thinking, that can we make the texture/skin in Lamplight Town the same as the events without making the events happen?

[2021-03-24 19:06] NX721 commented on #804
I might find this Idk

[2021-03-24 19:10] NX721 commented on #694
Lmao

[2021-03-24 19:14] hugo875 commented on #721
ok @PatheticMustan

[2021-03-24 19:15] hugo875 commented on #721
i will keep my patience @PatheticMustan

[2021-03-24 19:17] NX721 commented on #721
Thank You

[2021-03-24 19:17] NX721 commented on #721
I'm doing a test rn

[2021-03-24 19:18] NX721 commented on #721
Ok, then.

[2021-03-24 19:23] NX721 commented on #579
._.

[2021-03-24 19:25] hugo875 commented on #721
thank you for telling me.

[2021-03-24 19:27] hugo875 commented on #438
@PatheticMustan @ArcerionDev @ChickenOnYT this is a old hack request

[2021-03-24 19:29] NX721 commented on #721
Mk

[2021-03-24 20:26] Theismyname opened #805 "[BUG] when I load into prodigy the loading freezes half way through."
***Description***:

***Replication***:

***Images***:

***Additional Errors***:

[2021-03-25 12:14] WillBillDillPickle opened #808 "[BUG]Rune run won't let me play."
***Description***:
Whenever I try to do a rune run, this happens.

***Replication***:

***Images***:
![image](https://user-images.githubusercontent.com/73481552/112471313-1d11dd00-8d42-11eb-9288-556298043dfa.png)

***Additional Errors***:

[2021-03-25 12:51] WillBillDillPickle commented on #808
Ok. I found out. You can't enter Rune runs with Iligle pets(Pets from the hack.) All of your pets must be ones you got on your own, not from this hack.

[2021-03-25 12:53] ChickenOnYT commented on #808
wait thats weird

[2021-03-25 12:53] ChickenOnYT commented on #808
@PatheticMustan

[2021-03-25 12:58] WillBillDillPickle commented on #808
Who deleated my comment?

[2021-03-25 12:58] WillBillDillPickle commented on #808
Nvm

[2021-03-25 13:52] BoredFishRE commented on #805
did you get a message?

[2021-03-25 14:16] NX721 commented on #808
Yes I'm already aware of this lol

[2021-03-25 14:16] NX721 commented on #804
...

[2021-03-25 14:17] NX721 commented on #808
I'm using 2 Terrosaurs from the hacks, and it seems to be working fine. With Epics, Ummm...

[2021-03-25 14:28] WillBillDillPickle commented on #808
Then I don't know. Maybe I should try disabling the extension.

[2021-03-25 14:30] WillBillDillPickle commented on #808
I'm going to try using 2 Peekos from the Add pet hack.

[2021-03-25 14:31] WillBillDillPickle commented on #808
It still gives me the error.

[2021-03-25 14:32] WillBillDillPickle commented on #808
I'm going to try two Trip Trops I caught.

[2021-03-25 14:35] WillBillDillPickle commented on #808
And it works.

[2021-03-25 14:39] NX721 commented on #808
Ok, well that's weird, but I'll enter console and find the errors soon.

[2021-03-25 14:51] WillBillDillPickle commented on #808
Thanks! My Twin sister also got the same result as me.

[2021-03-25 15:22] lichessgoodchesscombad opened #809 "Wouldn't it be better if there was obtain all items?"
otherwise it will take an overwhelming time to achieve that.

[2021-03-25 15:23] ArcerionDev commented on #809
alright will add

[2021-03-25 15:51] hugo875 commented on #721
can you tell me the script that your using

[2021-03-25 16:24] hugo875 commented on #721
@NX721

[2021-03-25 16:24] MATEMATIK-SOSYE commented on #595
There has been a _majour_ issue with my CURRENTLY-SELECTED pets.

[2021-03-25 16:29] PatheticMustan commented on #595
make a new issue, @MATEMATIK-SOSYE

[2021-03-25 16:30] PatheticMustan commented on #808
huh, interesting

[2021-03-25 16:31] ArcerionDev commented on #808
yeah I'm not sure of the cause of this

[2021-03-25 16:31] MATEMATIK-SOSYE commented on #595
Yes. I am still kind of me to this application. How do I do so again? Please help me out? I am doing this from my phone, just so you know.

[2021-03-25 16:32] PatheticMustan commented on #438
1. get the user's house information
2. load it into (what seems to be) some temp house loader thing, not sure how it works
3. teleport to house???

[2021-03-25 16:32] PatheticMustan commented on #694
I see how it is, mmhmm alright

[2021-03-25 16:50] NX721 opened #811 "Obtain All Items Throws Error"
![image](https://user-images.githubusercontent.com/77288637/112511235-9de3cf80-8d68-11eb-9e2d-7a515d68a4b8.png)
That's your Bug Hunter Reporting!

[2021-03-25 16:52] WillBillDillPickle commented on #808
It works now. But I uninstalled the extension. (The extension somehow automatically got uninstalled.)

[2021-03-25 16:52] WillBillDillPickle commented on #808
I'm going to install it again.

[2021-03-25 16:54] NX721 commented on #811
@hostedposted Srry that it doesn't work

[2021-03-25 17:09] MATEMATIK-SOSYE opened #812 "Pet Spell Bugs"
***After nearly _one week ago_ of playing in the arena before I signed off***:

I was playing in the arena with the same two pets I always use [_Applepot_ and _Magmischief_]. The spells they had are as follows:

Applepot → **_Focus Spell I_**
Magmischief → **_Unlimited Power_** & **_Royal Roar_**

I do not know what the deal was, but every time I have been playing in the arena that day, the spells

[2021-03-25 17:17] WillBillDillPickle commented on #808
OMG Rune Run works now.

[2021-03-25 17:17] WillBillDillPickle commented on #808
It works even with the extension on.

[2021-03-25 18:00] WillBillDillPickle commented on #808
Wait- it doesn't work anymore. :(

[2021-03-25 18:02] Hamza123-png commented on #812
IDK it happened to me so I just hacked for different pets

[2021-03-25 18:06] ArcerionDev commented on #812
so the thing is
you know the fix battle bug thing?
we're now running it every 15 seconds or so
however
it assigns random spells to the pet team

[2021-03-25 18:29] hugo875 commented on #721
@NX721

[2021-03-25 18:29] NX721 commented on #812
Rip

[2021-03-25 18:30] NX721 commented on #812
I had a list if what worked and what didn't @ArcerionDev